/* ==============================
   Features
   ============================== */

.features-item{
  padding: 15px;
  text-align: center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.features-icon{
  font-size: 48px;
  line-height: 1.3;
  color: rgba(255,255,255, .9);
}
.features-title{
  margin-bottom: 3px;
  font-size: 18px;

  text-transform: uppercase;
  color: rgba(255,255,255, .9);
}

.features-descr{
  font-size: 15px;
  font-weight: 300;
  color: rgba(255,255,255, .75);
}

.features-icon.black{
  color: rgba(0,0,0, .9);
}
.features-title.black{
  color: rgba(0,0,0, .9);
}
.features-descr.black{
  color: rgba(0,0,0, .75);
}



/* ==============================
   Alt features
   ============================== */

.alt-features-grid{
  margin-top: -70px;
}
.alt-features-item{
  margin-top: 70px;
}
.alt-features-icon{
  padding-top: 10px;
  font-size: 48px;
  line-height: 1.3;
  color: #111;
}
.alt-features-icon img{
  width: 100%;
}
.alt-features-title{
  margin-bottom: 21px;
  font-size: 14px;

  text-transform: uppercase;
  letter-spacing: 0.4em;
}
.alt-features-descr {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.86
}
