/* ==============================
   Alternative services
   ============================== */

.alt-service-grid{
  margin-top: -60px;
}
.alt-services-image{
  text-align: center;
}
.alt-services-image > img{
  display: block;
  width: 100%;
}
.alt-service-item{
  margin: 60px 0 0 0;
  position: relative;
  padding-left: 55px;
  padding-top: 3px;
  font-size: 13px;
  font-weight: 300;
  color: #999;
  transform: perspective(500px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  transition: all 0.3s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.alt-service-icon{
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  text-align: center;
  font-size: 28px;
  color: #111;
  transition: all 0.17s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.alt-services-title{
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 15px;

  color: #111;
}