/* ==============================
   Team
   ============================== */

.team-grid{

}
.team-item{

}
.team-item-image{
  position: relative;
  overflow: hidden;
}
.team-item-image img{
  width: 100%;
}
.team-item-image:after{
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  z-index: 1;
  transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.team-item-detail{
  opacity: 0;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  padding: 20px 23px 55px;
  font-size: 14px;
  font-weight: 300;
  color: #777;
  text-align: center;
  z-index: 2;
  transform: translateY(-50%);
  background-size: cover;
  transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.team-item-descr{
  color: #777;
  text-align:center;

  transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.team-item-name {
  margin-top: 23px;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.4em;
}
.team-item-role{
  margin-top: 4px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  color: #aaa;
}
.team-social-links{
  font-size: 14px;
  cursor: pointer;
}
.team-social-links a{
  display: inline-block;
  padding: 3px 7px;
  color: rgba(0,0,0, .4);
  transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}



/* Hover state */
.no-mobile .team-item:hover .team-item-image:after {background: rgba(255,255,255, .93)}
.no-mobile .team-item:hover .team-item-detail      {opacity: 1}
.no-mobile .team-item:hover .team-item-descr       {color: #111}
.no-mobile .team-social-links a:hover              {color: rgba(0,0,0, .75)}

/* Mobile touch */
.team-item.js-active .team-item-image:after{
  background: rgba(255,255,255, .93);
}
.team-item.js-active .team-item-detail{
  opacity: 1;
}
.team-item.js-active .team-item-descr{
  color: #111;
}
.team-item.js-active .team-social-links a:hover{
  color: rgba(0,0,0, .75);
}
