# Eric's Bible Processor
/aletheia

/node_modules
/public/report/*
/public/.report/*
/public/hot
/public/sdk/*
/public/maps/*
/public/storage
/public/bibles
/public/sdk
/public/scriptures
/public/uploads
/public/swagger-editor
/tests/test-reporter*
/storage/
/storage/app/geoip.mmdb
/storage/framework/
/storage/logs/*
/storage/logs/laravel.log
/storage/*.key
/storage/data/
/storage/s3/
/storage/bibles/
/vendor

# Locally Generated Development Files
*.log
resources/assets/react/
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
.phpunit.result.cache
.php_cs.cache
fixers/tmp
.elasticbeanstalk/*

# The Mac
.DS_STORE

# Images
/public/img/countries/landmarks/
/public/img/banners/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
