# Eric's Bible Processor
/aletheia

/node_modules
/public/hot
/public/maps/*
/public/storage
/public/bibles
/public/sdk
/public/scriptures
/public/uploads
/public/swagger-editor
/storage/framework/
/storage/logs/*
/storage/*.key
/storage/data/
/storage/s3/
/storage/bibles/
/vendor

# Locally Generated Development Files
*.log
resources/assets/react/
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php

# The Mac
.DS_STORE

# Images
/public/img/countries/landmarks/
/public/img/banners/