<?php

$finder = PhpCsFixer\Finder::create()
    ->exclude('somedir')
    ->notPath('src/Symfony/Component/Translation/Tests/fixtures/resources.php')
    ->in(__DIR__)
;

return PhpCsFixer\Config::create()
    ->setRules([
        '@PSR2' => true,
        'strict_param' => true,
        'method_argument_space' => [
            'ensure_fully_multiline' => false,
            'keep_multiple_spaces_after_comma' => true
        ],
        'array_syntax' => ['syntax' => 'short'],
    ])->setFinder($finder)
;