/*
 * Accordion
 */

.accordion > dt{
  margin-bottom: 10px;
  font-size: 12px;

  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.accordion > dt > a{
  display: block;
  position: relative;
  color: #777;
  text-decoration: none;
  padding: 14px 20px;
  border: 1px solid #e5e5e5;
  transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.accordion > dt > a:hover{
  text-decoration: none;
  border-color: #ddd;
  background-color: #fcfcfc;
  color: #444;
}
.accordion > dt > a.active{
  color: #000;
  border-color: #ddd;
  background-color: #fcfcfc;
  cursor: default;
}
.accordion > dt > a:after{
  content: "";
  position: absolute;
  right:10px;
  width: 0;
  height: 0;
  border-top: #333 solid 5px;
  border-right: transparent solid 5px;
  border-left: transparent solid 5px;
  border-bottom: transparent;
  margin-top: 6px;
}
.accordion > dt > a.active:after,
.accordion > dt > a.active:hover:after{
  content: "";
  border-bottom: 5px solid #333;
  border-right:transparent 5px solid;
  border-left:transparent 5px solid;
  border-top: transparent;
}

.accordion > dt > a:hover:after{
  color: #444;
}

.accordion > dd{
  margin-bottom: 10px;
  padding: 10px 20px 20px;
  font-size: 14px;
  line-height: 1.8;
  color: #777;
}