button {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  line-height: 1;
}

.button {
  margin-top: 13px;
  display: block;
  width: 100%;
  padding:10px;
  text-align: center;
  color: #fff;
  background: rgba(34,34,34, .9);
  border: 2px solid transparent;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 0;
  box-shadow: none;
  transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);

  &.border {
    color: #151515;
    border: 2px solid #151515;
    background: transparent;
    &:hover {background: rgba(34,34,34, .9)}
  }
}
.button:hover, .button:focus {
  background-color: #48B;
  color: #fefefe;
}

