.card {
  background-color:#f8f8f8;
  border:thin solid #ccc;
  display:block;
  padding:1rem .5rem;

    .title,
    .subtitle {
      display: block;
      text-align: left;
    }

    .title {
      color: #222;
      font-weight: 500;
      font-size: .75rem;
      margin-top: -7px;
      width: 90%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .subtitle {
      font-size: .65rem;
      color: #48B;
    }

    img {
      height: 82px;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
    }

    .bottom-right,
    .top-right {
      color: #666;
      font-size: .6rem;
      position: absolute;
      right: 5px;
    }

    .bottom-right {
      bottom: 5px
    }

    .top-right {
      top: 5px
    }
}