.requires-font[data-font="notosanslimbu"] {
    font-family: 'Noto Sans Limbu', sans-serif;
}

.requires-font[data-font="notosanstaiviet"] {
  font-family: 'Noto Sans Tai Viet', sans-serif;
}

.requires-font[data-font="notosansmyanmar"] {
  font-family: 'Noto Sans Myanmar', sans-serif;
}