input,
label,
select,
button,
textarea
{
  /* Browsers have different default form fonts */
  font-size:13px;
  font-family:Arial;
}

/* Remove the stupid outer glow in Webkit */
input:focus
{
  outline:0;
}

/* Button Controls
-----------------------------------------------*/

input[type=checkbox],
input[type=radio]
{
  width:13px;
  height:13px;
}

/* Search Input
-----------------------------------------------*/

/* Make webkit render the search input like a normal text field */
input[type=search]
{
  -webkit-appearance:textfield;
  -webkit-box-sizing:content-box;
}

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration
{
  display:none;
}

/* IE8 and FF freak out if this rule is within another selector */
::-webkit-file-upload-button
{
  padding:0;
  border:0;
  background:none;
}

/* Textarea
-----------------------------------------------*/

textarea
{
  /* Move the label to the top */
  vertical-align:top;
  /* Turn off scroll bars in IE unless needed */
  overflow:auto;
}

select[multiple]
{
  /* Move the label to the top */
  vertical-align:top;
}

/* ==============================
   Forms fields
   ============================== */
// webkit resets

input, select, button, textarea {
  -webkit-appearance: none;
  -webkit-border-radius:0;
  border-radius:0;
}


input {
  text-indent:10px;
}

input,
select {
  display: inline-block;
  height: 40px;
  vertical-align: middle;
  font-size: 11px;
  width: 100%;
  letter-spacing: 1px;
  color: #777;
  margin: 13px 0;
  border-radius: 0;
  box-shadow: none;
}

select {
  font-size: 12px;
}

select[multiple] {
  height: auto;
}

input,
select:hover {
  border-color: rgba(0, 0, 0, .2);
}

input
select:focus {
  color: #111;
  border-color: rgba(0, 0, 0, .7);
  box-shadow: 0 0 3px rgba(0, 0, 0, .3);
  outline: none;
}

textarea {
  min-height: 106px;
  line-height: 2;
  vertical-align: middle;
  font-size: 11px;
  width: 100%;
  letter-spacing: 1px;
  color: #777;
  border: 1px solid rgba(0, 0, 0, .1);
  padding: 0 13px;
  margin: 13px 0;
  border-radius: 0;
  box-shadow: none;
}

textarea:hover {
  border-color: rgba(0, 0, 0, .2);
}

textarea:focus {
  color: #111;
  border-color: rgba(0, 0, 0, .7);
  -webkit-box-shadow: 0 0 3px rgba(21, 21, 21, .3);
  -moz-box-shadow: 0 0 3px rgba(21, 21, 21, .3);
  box-shadow: 0 0 3px rgba(21, 21, 21, .3);
}


$background-color: #00171F;
$footer-color: #003459;
$details-color: #00A7E1;
$font-color: #FAFAFA;
$submit-color: #00CC73;
$submit-color-darker: #00824A;


/* Basic styles */

.form__title {
  font-size: 45px;
  margin: 10px 0;
}

.form__instruction {
  font-size: 22px;
}

.form__options {
  border: none;
  padding: 0;
}

.form__question {
  font-size: 25px;
}

.form__answer {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  font-size: 1.2em;
  margin: 0 0 6px 48px;
  line-height: 0px;
}

label {
  border: 1px solid rgba($font-color,.15);
  box-sizing: border-box;
  display: block;
  width: 100%;
  cursor: pointer;
  opacity: .85;
  display: block;
  font-size: .8rem;
  font-weight: bold;
  &:hover, &:focus, &:active {
    opacity: 1;
  }

  svg {
    display: block;
    margin: 10px auto;
    display: block;
    font-size: 3rem;
  }

}

.form__button {
  height: 40px;
  border: none;
  background-color: $submit-color;
  color: $font-color;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 0 20px;
  border-radius: 20px;
  font-weight: 900;
  cursor: pointer;
  margin: 20px 0;
  &:hover, &:focus {
    background-color: $submit-color-darker;
    text-shadow: 1px 1px 1px rgba(0,0,0,.25);
    outline: none;
  }
}


/* Input style */

input[type="radio"] {
  opacity: 0;
  width: 0;
  height: 0;
}

input[type="radio"]:active ~ label {
  opacity: 1;
}

input[type="radio"]:checked ~ label {
  opacity: 1;
  border: 1px solid $font-color;
}