// Page Banners
section[role="banner"] {
  background-color: #282828;
  padding:0 20px;
  margin-bottom: 2rem;
  overflow: hidden;
  color:#FFF;
  margin-top: -42px;
  box-shadow: inset 0 0 8px 1px rgba(0,0,0,0.2);
  position: relative;

  .banner-heading	{
    position: relative;
    margin:50px auto 30px auto;
    padding: 6px;
    max-width:500px;
    text-shadow: 1px 1px 3px #000000;
    border-radius: 4px;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 6px 6px 14px -6px #000;
  }

  .banner-image {
    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    width:100%;
    height:auto;

    img  {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }

  }

  &.nogradient {
    &.after {
      background: none;
    }
  }

  nav[role="tablist"] {
    z-index: 9;
    background: rgba(0,0,0,.5);
    border-radius: 3px 3px 0 0;

    a {
      z-index: 105;
	  text-transform: uppercase;
      color: #fff;
      position: relative;
    }

  }

  &.darken {

    &:after {
	background: #000000;
    background: -webkit-linear-gradient(to right, #000, transparent);
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5) 20%, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.1) 80%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 20%, rgba(0, 0, 0, 0.3) 33%, rgba(0, 0, 0, 0) 100%);
      content:"";
      position: absolute;
      left:0;
      right:0;top:0;
      height:100%;
      width:100%;
      z-index: -1;
      position: relative;
    }

    [itemtype="http://schema.org/BreadcrumbList"] span {
      color:rgba(255,255,255,.5);
    }

    [itemtype="http://schema.org/BreadcrumbList"] a {
      color:#FFF;
    }

  }


  h1[itemprop="headline"],
  h2[itemprop="description"] {
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    font-weight: 400;
    z-index:5;
    position: relative;

    @media only screen and (min-width:40.0625em) {
      text-align: left;
    }

  }

  // Title
  h1[itemprop="headline"] {
    font-size: 2em;
    line-height: 1.4;
    opacity: 1;
    margin: 16px auto;
    text-align: center;
  }

  // Subtitle
  h2[itemprop="description"] {
    margin-top: 0;
    font-size: 1em;
    text-align: center;
	text-shadow: 1px 1px 3px #000000;
  }

}

// Breadcrumbs
[itemtype="http://schema.org/BreadcrumbList"] {
  display: none;
  font-size: 12px;
  position: relative;
  z-index: 1;
  height: 42px;
  line-height: 40px;
  text-indent: 40px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  span[itemprop="item"] {text-shadow: 1px 0 1px rgba(0,0,0,0.1)}
  span[itemprop="item"],
  a {
    color:#fff;
  }
  a:after {content:" / "}

  @media only screen and (min-width:600px) {
    display:block;
  }

}