
/*
 * Progress bars
 */

.tpl-progress{
  margin-top: 10px;
  margin-bottom: 50px;

  text-transform: uppercase;
  letter-spacing: 1px;
  overflow: visible;
  height: 2px;
  background: #f0f0f0;

  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.tpl-progress .progress-bar{
  padding-top: 2px;
  position: relative;
  overflow: visible;
  background-color: #222;
  font-size: 11px;
  color: #000;
  text-align: left;
}
.tpl-progress .progress-bar > span{
  display: inline-block;
  min-width: 24px;
  height: 24px;
  padding: 0 3px;
  position: absolute;
  top: 0;
  right: -5px;

  text-align: center;
  line-height: 23px;
  letter-spacing: 0;

  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;

}
.progress-color .progress-bar{
  background-color: #e41919;
  color: #e41919;
}
.progress-color .progress-bar > span{
  background-color: #e41919;
  color: #fff;
}

/* Alt bar */
.tpl-progress-alt{
  background: #f2f2f2;

  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.tpl-progress-alt .progress-bar{
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  overflow: visible;
  background-color: #222;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  text-align: left;
}

.highlight pre{
  border-color: #eaeaea;
  background: #fcfcfc;
  color: #555;

  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

/* ==============================
   Intro page
   ============================== */

.intro-image{
  width:100%;
}
.intro-label{
  position: absolute;
  top:7px;
  right: 10px;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.label-new{
  background: #f32929;
  color: white;
  padding: 2px 3px;
  font-size: 9px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.label-for-button{
  position: absolute;
  top: -5px;
  right: -5px;
}
.intro-label-round{
  width: 50px;
  height: 50px;
  position: absolute;
  top:-5px;
  right: -5px;
  color: rgba(255,255,255, .85);
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  line-height: 50px;
  background: #f32929;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}