nav[role="tablist"] {
  position: relative;
  display: flex;
  list-style: none;
}

@media only screen and (max-width:400px) {
  nav[role="tablist"] {
    display: block;
  }

  nav[role="tablist"] a[aria-selected="true"] ~ a:last-child::before {
    display: none;
  }

}

nav[role="tablist"] a {
  position: relative;
  z-index: 1;
  display: block;
  text-align: center;
  flex: 1;
  text-decoration: none;
  padding: 10px 0;
}

nav[role="tablist"] a[aria-hidden="false"] {
  color: #74777b
}

section[role="tabpanel"],
nav[role="tablist"] a:focus {
  outline: none
}

section[role="tabpanel"] {
  display: none;
}

section[aria-hidden="false"] {
  display: block
}

/* Fallback */
// .no-js section[role="tabpanel"] 	{display:block;padding-bottom:2em;border-bottom:thin solid rgba(255, 255, 255, 0.6)}
// .no-flexbox nav 					{display:block}
// .no-flexbox nav a 					{min-width:15%;display:inline-block}

// TabList Slider
nav[role="tablist"] a:last-child::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: $primary-color;
  transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

nav[role="tablist"] a[aria-selected="true"]:nth-last-child(2) ~ a:last-child::before {
  transform: translateX(-100%);
  background-color: #48B;
}

nav[role="tablist"] a[aria-selected="true"]:nth-last-child(3) ~ a:last-child::before {
  transform: translateX(-200%);
  background-color: #B48;
}

nav[role="tablist"] a[aria-selected="true"]:nth-last-child(4) ~ a:last-child::before {
  transform: translateX(-300%);
  background-color: #84B;
}

nav[role="tablist"] a[aria-selected="true"]:nth-last-child(5) ~ a:last-child::before {
  transform: translateX(-400%);
  background-color: #8B4;
}

nav[role="tablist"] a[aria-selected="true"]:nth-last-child(6) ~ a:last-child::before {
  transform: translateX(-500%);
  background-color: #555;
}

nav[role="tablist"] a[aria-selected="true"]:nth-last-child(7) ~ a:last-child::before {
  transform: translateX(-600%);
  background-color: #666;
}

nav[role="tablist"] a[aria-selected="true"]:nth-last-child(8) ~ a:last-child::before {
  transform: translateX(-700%);
  background-color: #777;
}

nav[role="tablist"] a[aria-selected="true"]:nth-last-child(9) ~ a:last-child::before {
  transform: translateX(-800%);
  background-color: #888;
}

nav[role="tablist"] a[aria-selected="true"]:nth-last-child(10) ~ a:last-child::before {
  transform: translateX(-900%);
  background-color: #999;
}

nav[role="tablist"] a[aria-selected="true"]:nth-last-child(11) ~ a:last-child::before {
  transform: translateX(-1000%);
  background-color: #A4B;
}

nav[role="tablist"] a[aria-selected="true"]:nth-last-child(12) ~ a:last-child::before {
  transform: translateX(-1100%);
  background-color: #B4A;
}