files:
  "/opt/elasticbeanstalk/hooks/appdeploy/enact/9_run-artisan-commands.sh":
    mode: "000755"
    content: |
      #!/bin/bash

      cd /var/app/current

      sudo -E -u webapp php artisan config:clear
      sudo -E -u webapp php artisan opcache:clear
      sudo -E -u webapp php artisan opcache:optimize
      sudo -E -u webapp php artisan optimize:clear
      sudo -E -u webapp php artisan optimize
      sudo -E -u webapp php artisan geoip:update
      sudo -E -u webapp php artisan config:clear
