files:
   /etc/httpd/conf.d/application.conf:
     mode: 644
     owner: root
     group: root
     content: |
       Header set X-Frame-Options "SAMEORIGIN"
       Header set X-XSS-Protection "1; mode=block"
       Header set X-Content-Type-Options "nosniff"

       <FilesMatch ".+\.(?:css|js)$">
         <IfModule mod_expires.c>
           ExpiresActive on
           ExpiresDefault "access plus 30 seconds"
           ExpiresByType text/css "access plus 7 days"
           ExpiresByType text/js "access plus 7 days"
           ExpiresByType text/javascript "access plus 7 days"
          </IfModule>

          Header set Cache-Control "public"
       </FilesMatch>

       Header set 'Access-Control-Allow-Origin' '*'
       Header set 'Access-Control-Allow-Credentials' 'true'
       Header set 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS, PUT, DELETE'
       Header set 'Access-Control-Allow-Headers' 'DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type'
       Header set 'Access-Control-Max-Age' 1728000

       <If "%{REQUEST_METHOD} == 'OPTIONS'">
           Header set 'Content-Type' 'text/plain charset=UTF-8'
           Header set 'Content-Length' 0
       </If>
