files:
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/01-php.conf":
    content: |
      /tmp/php*
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/02-artisan-scheduler.conf":
    content: |
      /var/app/current/storage/logs/artisan-scheduler*      
  "/opt/elasticbeanstalk/tasks/taillogs.d/01-php.conf":
    content: |
      /tmp/php.log
  "/opt/elasticbeanstalk/tasks/taillogs.d/01-laravel.conf":
    content: |
      /var/app/current/storage/logs/laravel*
  "/opt/elasticbeanstalk/tasks/taillogs.d/01-artisan-scheduler.conf":
    content: |
      /var/app/current/storage/logs/artisan-scheduler*
option_settings:
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 180      