 Resources:
   MyCacheSecurityGroup:
     Type: "AWS::EC2::SecurityGroup"
     Properties:
       GroupDescription: "Lock cache down to webserver access only"
       VpcId: vpc-0d5de37e236a4143b
       SecurityGroupIngress :
         - IpProtocol : "tcp"
           FromPort :
             Fn::GetOptionSetting:
               OptionName : "CachePort"
               DefaultValue: "11211"
           ToPort :
             Fn::GetOptionSetting:
               OptionName : "CachePort"
               DefaultValue: "11211"
           SourceSecurityGroupId:
             Fn::GetAtt:
               - AWSEBSecurityGroup
               - GroupId
   MyElastiCache:
     Type: "AWS::ElastiCache::CacheCluster"
     Properties:
       CacheSubnetGroupName: "elasticache-subnet-group"
       CacheNodeType:
         Fn::GetOptionSetting:
           OptionName : "CacheNodeType"
           DefaultValue : "cache.t2.small"
       NumCacheNodes:
         Fn::GetOptionSetting:
           OptionName : "NumCacheNodes"
           DefaultValue : "1"
       Engine:
         Fn::GetOptionSetting:
           OptionName : "Engine"
           DefaultValue : "memcached"
       VpcSecurityGroupIds:
         -
           Fn::GetAtt:
             - MyCacheSecurityGroup
             - GroupId

 Outputs:
   ElastiCache:
     Description : "ID of ElastiCache Cache Cluster with Memcached Engine"
     Value :
       Ref : "MyElastiCache"
