packages:
  yum:
    newrelic-php5: []
  rpm:
    newrelic: http://yum.newrelic.com/pub/newrelic/el5/x86_64/newrelic-repo-5-3.noarch.rpm
commands:
  install_new_relic:
    command: source /var/app/.env; export NR_INSTALL_KEY; newrelic-install install
    env:
      NR_INSTALL_SILENT: true
  configure_new_relic:
    command: source /etc/profile.d/eb_envvars.sh; echo newrelic.appname=\"$NEW_RELIC_APP_NAME\" >> /etc/php.d/newrelic.ini
