files:
  "/etc/php.d/application.ini" :
    mode: "000755"
    owner: root
    group: root
    content: |
      upload_max_filesize = 20M
      max_execution_time = 300
      max_input_time = 300
      post_max_size = 28M
      opcache.memory_consumption = 512
option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /public
    zlib.output_compression: "Off"
    allow_url_fopen: "On"
    display_errors: "On"
    max_execution_time: 60
    composer_options: --no-interaction --prefer-dist --optimize-autoloader --no-dev