files:
  "/opt/elasticbeanstalk/hooks/appdeploy/enact/03-add-robots.txt.sh":
    mode: "000755"
    content: |
      #!/bin/bash
      source /opt/elasticbeanstalk/support/envvars
      if [ $APP_ENV != 'production' ]
      then
        echo "User-agent: *\n Disallow: /" > /var/app/current/robots.txt
      fi
