{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://api.bible.build/v2",
      "description": "Online Staging server for testing"
    },
    {
      "url": "https://api.dbp.dev/v2",
      "description": "Internal Staging server for testing"
    }
  ],
  "info": {
    "title": "Digital Bible Platform",
    "description": "An API for delivering Bible Content",
    "version": "2.0.0",
    "contact": {
      "name": "API Support",
      "url": "https://dbs.org/contact",
      "email": "jon@dbs.org"
    },
    "termsOfService": "https://bible.build/terms/",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "tags": [
    {
      "name": "Bible",
      "description": "Secured Admin-only calls"
    },
    {
      "name": "Library",
      "description": "Different Organizational Routes to fetch Bible Resources"
    }
  ],
  "paths": {
    "/library/language": {
      "get": {
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "The API key that's been generated for you.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "v",
            "in": "query",
            "description": "The Version of the API",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "tags": [
          "Library"
        ],
        "operationId": "v2_library_volume",
        "responses": {
          "200": {
            "description": "This route is the endpoint for the base language model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LibraryLanguage"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/LibraryLanguage"
                }
              }
            }
          }
        }
      }
    },
    "/library/volume": {
      "get": {
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "The API key that's been generated for you.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "v",
            "in": "query",
            "description": "The Version of the API",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "tags": [
          "Library"
        ],
        "operationId": "v2_library_volume",
        "responses": {
          "200": {
            "description": "This method retrieves the list of available volumes in the system according to the filter specified.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LibraryVolume"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/LibraryVolume"
                }
              }
            }
          }
        }
      }
    },
    "/library/volumelanguagefamily": {
      "get": {
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "The API key that's been generated for you.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "v",
            "in": "query",
            "description": "The Version of the API",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "tags": [
          "Library"
        ],
        "operationId": "v2_library_volumeLanguageFamily",
        "responses": {
          "200": {
            "description": "ToDO",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LibraryVolumeLanguageFamily"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/LibraryVolumeLanguageFamily"
                }
              }
            }
          }
        }
      }
    },
    "/library/volumeorganization": {
      "get": {
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "The API key that's been generated for you.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "v",
            "in": "query",
            "description": "The Version of the API",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "tags": [
          "Library"
        ],
        "operationId": "v2_volume_organization_list",
        "responses": {
          "200": {
            "description": "This route returns a unique incrementing ID for each organization, the name of the organization and the number of volumes (AKA Bibles) the organization has contributed to the Koinos.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VolumeOrganization"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/VolumeOrganization"
                }
              }
            }
          }
        }
      }
    },
    "/library/volumehistory": {
      "get": {
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "The API key that's been generated for you.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "v",
            "in": "query",
            "description": "The Version of the API",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "tags": [
          "Library"
        ],
        "operationId": "v2_library_volume_history",
        "responses": {
          "200": {
            "description": "ToDO",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LibraryVolumeHistory"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/LibraryVolumeHistory"
                }
              }
            }
          }
        }
      }
    },
    "/library/bookorder": {
      "get": {
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "The API key that's been generated for you.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "v",
            "in": "query",
            "description": "The Version of the API",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "tags": [
          "Library"
        ],
        "operationId": "v2_library_bookorder",
        "responses": {
          "200": {
            "description": "ToDO",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookOrder"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BookOrder"
                }
              }
            }
          }
        }
      }
    },
    "/library/book": {
      "get": {
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "The API key that's been generated for you.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "v",
            "in": "query",
            "description": "The Version of the API",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "tags": [
          "Library"
        ],
        "operationId": "v2_library_book",
        "responses": {
          "200": {
            "description": "Gets the book order and code listing for a volume.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookOrder"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BookOrder"
                }
              }
            }
          }
        }
      }
    },
    "/library/bookname": {
      "get": {
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "The API key that's been generated for you.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "v",
            "in": "query",
            "description": "The Version of the API",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "language_code",
            "in": "query",
            "description": "A three letter identifier for the languages resources. This code matches up exactly with the codes from the [ISO 639-3 standard](http://www-01.sil.org/iso639-3/default.asp).",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "[a-z]",
              "minLength": 3,
              "maxLength": 3
            }
          }
        ],
        "tags": [
          "Library"
        ],
        "operationId": "v2_library_bookname",
        "responses": {
          "200": {
            "description": "This call retrieves the native language book names for a DBP language code",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BookName"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BookName"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/library/chapter": {
      "get": {
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "The API key that's been generated for you.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "v",
            "in": "query",
            "description": "The Version of the API",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "tags": [
          "Library"
        ],
        "operationId": "v2_library_chapter",
        "responses": {
          "200": {
            "description": "Lists the chapters for a book or all books in a standard bible volume.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ChapterListItem"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ChapterListItem"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/library/numbers": {
      "get": {
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "The API key that's been generated for you.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "v",
            "in": "query",
            "description": "The Version of the API",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "iso",
            "in": "query",
            "description": "The Iso Code of the language",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "The Starting Number of the range of numerals",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "The Ending Number of the range of numerals",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "tags": [
          "Library"
        ],
        "operationId": "v2_library_numbers",
        "responses": {
          "200": {
            "description": "This route returns the vernacular numbers for a set range. The range for a single call is limited to 2000 numbers.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Number"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Number"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/library/metadata": {
      "get": {
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "The API key that's been generated for you.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "v",
            "in": "query",
            "description": "The Version of the API",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "tags": [
          "Library"
        ],
        "operationId": "v2_library_metadata",
        "responses": {
          "200": {
            "description": "This route returns information about the volume and it's associated organizations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LibraryMetaData"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/LibraryVolumeLanguageFamily"
                }
              }
            }
          }
        }
      }
    },
    "/audio/location": {
      "get": {
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "The API key that's been generated for you.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "v",
            "in": "query",
            "description": "The Version of the API",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "tags": [
          "Library"
        ],
        "operationId": "v2_audio_location",
        "responses": {
          "200": {
            "description": "ToDO",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LibraryVolumeLanguageFamily"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/LibraryVolumeLanguageFamily"
                }
              }
            }
          }
        }
      }
    },
    "/audio/path": {
      "get": {
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "The API key that's been generated for you.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "v",
            "in": "query",
            "description": "The Version of the API",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "tags": [
          "Library"
        ],
        "operationId": "v2_audio_path",
        "responses": {
          "200": {
            "description": "ToDO",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LibraryVolumeLanguageFamily"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/LibraryVolumeLanguageFamily"
                }
              }
            }
          }
        }
      }
    },
    "/audio/versestart": {
      "get": {
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "The API key that's been generated for you.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "v",
            "in": "query",
            "description": "The Version of the API",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "tags": [
          "Library"
        ],
        "operationId": "v2_audio_timestamps",
        "responses": {
          "200": {
            "description": "ToDO",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LibraryVolumeLanguageFamily"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/LibraryVolumeLanguageFamily"
                }
              }
            }
          }
        }
      }
    },
    "/text/font": {
      "get": {
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "The API key that's been generated for you.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "v",
            "in": "query",
            "description": "The Version of the API",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "tags": [
          "Library"
        ],
        "operationId": "verse",
        "responses": {
          "200": {
            "description": "ToDO",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LibraryFont"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/LibraryFont"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "LanguageVolume": {
        "required": [
          "id",
          "name",
          "glotto_id",
          "iso"
        ],
        "properties": {
          "language_name": {
            "type": "string",
            "maxLength": 191,
            "example": "Shqip"
          },
          "english_name": {
            "type": "string",
            "maxLength": 191,
            "example": "Albanian"
          },
          "language_code": {
            "type": "string",
            "pattern": "[a-z]",
            "minLength": 3,
            "maxLength": 3,
            "description": "This field is a legacy field from when it was possible for there to be a different language code than the iso code. Now it's just a duplicate of language_iso.",
            "example": "sqi"
          },
          "language_iso": {
            "type": "string",
            "pattern": "[a-z]",
            "minLength": 3,
            "maxLength": 3,
            "description": "A three letter identifier for the languages resources. This code matches up exactly with the codes from the [ISO 639-3 standard](http://www-01.sil.org/iso639-3/default.asp). If the Iso Code Exists the Glotto Code is not required but may exist!",
            "example": "sqi"
          },
          "language_iso_2B": {
            "type": "string",
            "pattern": "[a-z]",
            "minLength": 2,
            "maxLength": 2,
            "description": "The Bibliographic two letter identifier for the languages resources. This code matches up exactly with the codes from the [ISO 639-2B standard](https://www.loc.gov/standards/iso639-2/php/code_list.php).",
            "example": "sqi"
          },
          "language_iso_2T": {
            "type": "string",
            "pattern": "[a-z]",
            "minLength": 2,
            "maxLength": 2,
            "description": "The Terminological two letter identifier for the languages resources. This code matches up exactly with the codes from the [ISO 639-2T standard](https://www.loc.gov/standards/iso639-2/php/code_list.php).",
            "example": "alb"
          },
          "language_iso_1": {
            "type": "string",
            "minLength": 2,
            "maxLength": 2,
            "example": "sq"
          },
          "language_iso_name": {
            "type": "string",
            "maxLength": 191,
            "description": "Duplicate of language_name",
            "example": "Albanian"
          },
          "language_family_code": {
            "type": "string",
            "maxLength": 191,
            "example": "sqi"
          },
          "language_family_name": {
            "type": "string",
            "maxLength": 191
          },
          "language_family_english": {
            "type": "string",
            "maxLength": 191
          },
          "language_family_iso": {
            "type": "string",
            "maxLength": 191
          },
          "language_family_iso_2B": {
            "type": "string",
            "maxLength": 191
          },
          "language_family_iso_2T": {
            "type": "string",
            "maxLength": 191
          },
          "language_family_iso_1": {
            "type": "string",
            "maxLength": 191
          },
          "media_text": {
            "type": "string",
            "maxLength": 191
          },
          "delivery_mobile": {
            "type": "string",
            "maxLength": 191
          },
          "delivery_web": {
            "type": "string",
            "maxLength": 191
          },
          "delivery_subsplash": {
            "type": "string",
            "maxLength": 191
          },
          "resolution": {
            "type": "string",
            "maxLength": 191
          }
        }
      },
      "LibraryLanguage": {
        "required": [
          "id",
          "name",
          "glotto_id",
          "iso"
        ],
        "properties": {
          "language_code": {
            "type": "string",
            "pattern": "[a-z]",
            "minLength": 3,
            "maxLength": 3,
            "description": "A three letter identifier for the languages resources. This code matches up exactly with the codes from the [ISO 639-3 standard](http://www-01.sil.org/iso639-3/default.asp). If the Iso Code Exists the Glotto Code is not required but may exist!",
            "example": "sqi"
          },
          "language_name": {
            "type": "string",
            "maxLength": 191,
            "example": "Shqip"
          },
          "english_name": {
            "type": "string",
            "maxLength": 191,
            "example": "Albanian"
          },
          "language_iso": {
            "type": "string",
            "pattern": "[a-z]",
            "minLength": 3,
            "maxLength": 3,
            "description": "A three letter identifier for the languages resources. This code matches up exactly with the codes from the [ISO 639-3 standard](http://www-01.sil.org/iso639-3/default.asp). If the Iso Code Exists the Glotto Code is not required but may exist!",
            "example": "sqi"
          },
          "language_iso_2B": {
            "type": "string",
            "pattern": "[a-z]",
            "minLength": 2,
            "maxLength": 2,
            "description": "The Bibliographic two letter identifier for the languages resources. This code matches up exactly with the codes from the [ISO 639-2B standard](https://www.loc.gov/standards/iso639-2/php/code_list.php).",
            "example": "sqi"
          },
          "language_iso_2T": {
            "type": "string",
            "pattern": "[a-z]",
            "minLength": 2,
            "maxLength": 2,
            "description": "The Terminological two letter identifier for the languages resources. This code matches up exactly with the codes from the [ISO 639-2T standard](https://www.loc.gov/standards/iso639-2/php/code_list.php).",
            "example": "alb"
          },
          "language_iso_1": {
            "type": "string",
            "minLength": 2,
            "maxLength": 2,
            "example": "sq"
          },
          "language_iso_name": {
            "type": "string",
            "maxLength": 191,
            "description": "Duplicate of language_name",
            "example": "Albanian"
          },
          "language_family_code": {
            "type": "string",
            "maxLength": 191,
            "example": "sqi"
          }
        }
      },
      "LibraryVolumeLanguageFamily": {
        "required": [
          "id"
        ],
        "properties": {
          "language_family_code": {
            "type": "string",
            "pattern": "[a-z]",
            "minLength": 3,
            "maxLength": 3,
            "description": "A three letter identifier for the languages resources. This code matches up exactly with the codes from the [ISO 639-3 standard](http://www-01.sil.org/iso639-3/default.asp). If the Iso Code Exists the Glotto Code is not required but may exist!",
            "example": "aka"
          },
          "language_family_name": {
            "type": "string",
            "maxLength": 191,
            "example": null
          },
          "language_family_english": {
            "type": "string",
            "maxLength": 191,
            "example": "Akan"
          },
          "language_family_iso": {
            "type": "string",
            "pattern": "[a-z]",
            "minLength": 3,
            "maxLength": 3,
            "description": "A three letter identifier for the languages resources. This code matches up exactly with the codes from the [ISO 639-3 standard](http://www-01.sil.org/iso639-3/default.asp). If the Iso Code Exists the Glotto Code is not required but may exist!",
            "example": "aka"
          },
          "language_iso_2B": {
            "type": "string",
            "pattern": "[a-z]",
            "minLength": 2,
            "maxLength": 2,
            "description": "The Bibliographic two letter identifier for the languages resources. This code matches up exactly with the codes from the [ISO 639-2B standard](https://www.loc.gov/standards/iso639-2/php/code_list.php).",
            "example": "aka"
          },
          "language_iso_2T": {
            "type": "string",
            "pattern": "[a-z]",
            "minLength": 2,
            "maxLength": 2,
            "description": "The Terminological two letter identifier for the languages resources. This code matches up exactly with the codes from the [ISO 639-2T standard](https://www.loc.gov/standards/iso639-2/php/code_list.php).",
            "example": "aka"
          },
          "language_iso_1": {
            "type": "string",
            "minLength": 2,
            "maxLength": 2,
            "example": "ak"
          },
          "language": {
            "type": "array",
            "description": "array of language codes of languages in family.",
            "example": [
              "fat",
              "twi"
            ]
          },
          "media": {
            "type": "array",
            "example": [
              "text",
              "audio"
            ]
          },
          "delivery": {
            "type": "string",
            "enum": [
              "streaming",
              "web_streaming",
              "download",
              "download_text",
              "mobile",
              "sign_language",
              "local_bundled",
              "podcast",
              "mp3_cd",
              "digital_download",
              "bible_stick",
              "subsplash",
              "any",
              "none"
            ]
          },
          "resolution": {
            "type": "string",
            "maxLength": 191
          }
        }
      },
      "Library": {
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "type": "string",
            "maxLength": 191,
            "example": "Coming Soon"
          }
        }
      },
      "VolumeOrganization": {
        "properties": {
          "organization_id": {
            "type": "integer",
            "description": "Incrementing ID for the organizations",
            "example": 1
          },
          "organization_name": {
            "type": "string",
            "description": "The Name of the Organization in English",
            "maxLength": 191,
            "example": "American Bible Society"
          },
          "number_volumes": {
            "type": "integer",
            "description": "The number of biblical resources the organization has contributed to Koinos",
            "example": 139
          }
        }
      },
      "LibraryVolume": {
        "properties": {
          "dam_id": {
            "description": "The volume internal DAM ID. Can be used to restrict the response to only DAM IDs that contain with 'N2' for example",
            "type": "string",
            "maxLength": 191,
            "example": "ENGKJV"
          },
          "fcbh_id": {
            "description": "the volume FCBH DAM ID. Can be used to restrict the response to only FCBH DAM IDs that contain with 'N2' for example",
            "type": "string",
            "maxLength": 191,
            "example": "ENGKJVN2DA"
          },
          "version_code": {
            "description": "Version of volume",
            "type": "string",
            "example": "KJV"
          },
          "volume_name": {
            "description": "Name of volume.",
            "type": "string",
            "example": "King James Version",
            "maxLength": 191
          },
          "media": {
            "description": "the format of assets the caller is interested in. This specifies if you only want volumes available in text or volumes available in audio.",
            "type": "string",
            "enum": [
              "text",
              "audio",
              "video"
            ],
            "maxLength": 191
          },
          "delivery": {
            "description": "A criteria for approved delivery method. It is possible to OR these methods together using '|', such as \"delivery=streaming_url|mobile\".  'any' means any of the supported methods. 'none' means volumes that are not approved for any of the supported methods. All volumes are returned by default.",
            "type": "string",
            "enum": [
              "web",
              "web_streaming",
              "download",
              "download_text",
              "mobile",
              "sign_language",
              "streaming_url",
              "local_bundled",
              "podcast",
              "mp3_cd",
              "digital_download",
              "bible_stick",
              "subsplash",
              "any",
              "none"
            ]
          },
          "language": {
            "description": "Filter the versions returned to a specified native or English language language name. For example return all the 'English' volumes.",
            "type": "string",
            "example": "English",
            "maxLength": 191
          },
          "language_name": {
            "type": "string",
            "maxLength": 191,
            "example": "Shqip"
          },
          "language_code": {
            "type": "string",
            "pattern": "[a-z]",
            "minLength": 3,
            "maxLength": 3,
            "description": "This field is a legacy field from when it was possible for there to be a different language code than the iso code. Now it's just a duplicate of language_iso.",
            "example": "sqi"
          },
          "language_iso": {
            "type": "string",
            "pattern": "[a-z]",
            "minLength": 3,
            "maxLength": 3,
            "description": "A three letter identifier for the languages resources. This code matches up exactly with the codes from the [ISO 639-3 standard](http://www-01.sil.org/iso639-3/default.asp). If the Iso Code Exists the Glotto Code is not required but may exist!",
            "example": "sqi"
          },
          "language_iso_2B": {
            "type": "string",
            "pattern": "[a-z]",
            "minLength": 2,
            "maxLength": 2,
            "description": "The Bibliographic two letter identifier for the languages resources. This code matches up exactly with the codes from the [ISO 639-2B standard](https://www.loc.gov/standards/iso639-2/php/code_list.php).",
            "example": "sqi"
          },
          "language_iso_2T": {
            "type": "string",
            "pattern": "[a-z]",
            "minLength": 2,
            "maxLength": 2,
            "description": "The Terminological two letter identifier for the languages resources. This code matches up exactly with the codes from the [ISO 639-2T standard](https://www.loc.gov/standards/iso639-2/php/code_list.php).",
            "example": "alb"
          },
          "language_iso_1": {
            "type": "string",
            "minLength": 2,
            "maxLength": 2,
            "example": "sq"
          },
          "language_iso_name": {
            "type": "string",
            "maxLength": 191,
            "description": "Duplicate of language_name",
            "example": "Albanian"
          },
          "language_family_code": {
            "type": "string",
            "maxLength": 191,
            "example": "sqi"
          },
          "language_family_name": {
            "type": "string",
            "maxLength": 191
          },
          "language_family_english": {
            "type": "string",
            "maxLength": 191
          },
          "language_family_iso": {
            "type": "string",
            "maxLength": 191
          },
          "language_family_iso_2B": {
            "type": "string",
            "maxLength": 191
          },
          "language_family_iso_2T": {
            "type": "string",
            "maxLength": 191
          },
          "language_family_iso_1": {
            "type": "string",
            "maxLength": 191
          },
          "right_to_left": {
            "type": "boolean"
          },
          "updated_on": {
            "description": "YYYY-MM-DD. This is used to get volumes that were modified since the specified date.",
            "type": "string",
            "maxLength": 10,
            "example": "2017-12-14"
          },
          "status": {
            "description": "Publishing status of volume. The default is 'live'.",
            "type": "string",
            "enum": [
              "live",
              "disabled",
              "incomplete",
              "waiting_review",
              "in_review",
              "discontinued"
            ],
            "maxLength": 191
          },
          "num_art": {
            "type": "integer",
            "description": "Number of art files for this volume",
            "example": 55
          },
          "num_sample_audio": {
            "type": "integer",
            "description": "Number of sample audio files for this volume",
            "example": 10
          },
          "sku": {
            "description": "Legacy stocknumber",
            "example": 147582
          },
          "dbp_agreement": {
            "description": "Whether or not a DBP Agreement has been executed between FCBH and the organization to whom the volume belongs.",
            "type": "boolean",
            "example": true
          },
          "expired": {
            "description": "Whether the volume as passed its expiration or not.",
            "type": "boolean",
            "example": false
          },
          "resolution": {
            "description": "Currently used for video volumes as they can be available in different resolutions, basically conforming to the loose general categories of low, medium, and high resolution. Low resolution is geared towards devices with smaller screens.",
            "type": "string",
            "enum": [
              "lo",
              "med",
              "hi"
            ],
            "maxLength": 191
          },
          "organization_id": {
            "description": "Organization id of volumes to return.",
            "type": "string",
            "maxLength": 191
          },
          "sort_by": {
            "type": "string",
            "maxLength": 191
          }
        }
      },
      "LibraryVolumeHistory": {
        "properties": {
          "dam_id": {
            "description": "The volume for which the event occurred.",
            "type": "string",
            "example": "1BISLS"
          },
          "time": {
            "description": "The timestamp at which the event occurred.",
            "type": "string",
            "example": "2017-08-17 21:35:07"
          },
          "event": {
            "description": "The type of event.",
            "type": "string",
            "example": "Updated"
          }
        }
      },
      "BookOrder": {
        "properties": {
          "book_order": {
            "type": "integer",
            "description": "An integer to order the books by.",
            "example": 40
          },
          "book_id": {
            "type": "string",
            "description": "The OSIS book code for the book",
            "example": "Matt"
          },
          "book_name": {
            "type": "string",
            "description": "The Name of the book in the vernacular language of the bible text",
            "example": "Matthew"
          },
          "dam_id_root": {
            "type": "string",
            "description": "The identifying string for the Bible",
            "example": "ENGKJVN"
          }
        }
      },
      "BookName": {
        "properties": {
          "book_id": {
            "type": "string",
            "description": "The OSIS book code for the book",
            "example": "Matt"
          },
          "book_name": {
            "type": "string",
            "description": "The Name of the book in the vernacular language of the bible text",
            "example": "Matthew"
          }
        }
      },
      "ChapterListItem": {
        "properties": {
          "dam_id": {
            "type": "string",
            "example": "AAHWBT"
          },
          "book_id": {
            "type": "string",
            "example": "MAT"
          },
          "chapter_id": {
            "type": "string",
            "example": "1,"
          },
          "chapter_name": {
            "type": "string",
            "example": "Chapter 1"
          },
          "default": {
            "type": "string",
            "description": "A legacy value from the old system",
            "example": ""
          }
        }
      },
      "Number": {
        "properties": {
          "numeral": {
            "type": "integer",
            "example": 1
          },
          "numeral_vernacular": {
            "type": "string",
            "example": "١"
          }
        }
      },
      "LibraryFont": {
        "properties": {
          "dam_id": {
            "type": "string",
            "example": "AAHWBT"
          }
        }
      },
      "LibraryMetaData": {
        "properties": {
          "dam_id": {
            "type": "string",
            "example": "1NGSLSS2DV"
          },
          "mark": {
            "type": "string",
            "example": "© DOOR International"
          },
          "volume_summary": {
            "type": "string"
          },
          "font_copyright": {
            "type": "string"
          },
          "font_url": {
            "type": "string"
          },
          "organization": {
            "type": "array",
            "$ref": "#/components/schemas/LibraryMetaDataOrganization"
          }
        }
      },
      "LibraryMetaDataOrganization": {
        "properties": {
          "organization_id": {
            "type": "string",
            "example": "1"
          },
          "organization": {
            "type": "string",
            "example": "Faith Comes By Hearing"
          },
          "organization_english": {
            "type": "string",
            "example": "Hosanna Ministries"
          },
          "organization_role": {
            "type": "string",
            "example": "holder"
          },
          "organization_url": {
            "type": "string",
            "example": "http://www.faithcomesbyhearing.com"
          },
          "organization_donation": {
            "type": "string",
            "example": "http://www.faithcomesbyhearing.com/donate"
          },
          "organization_address": {
            "type": "string",
            "example": null
          },
          "organization_address2": {
            "type": "string",
            "example": null
          },
          "organization_city": {
            "type": "string",
            "example": null
          },
          "organization_state": {
            "type": "string",
            "example": null
          },
          "organization_country": {
            "type": "string",
            "example": null
          },
          "organization_zip": {
            "type": "string",
            "example": null
          },
          "organization_phone": {
            "type": "string",
            "example": null
          }
        }
      }
    }
  }
}