{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://api.bible.build/v2",
      "description": "Online Staging server for testing"
    },
    {
      "url": "https://api.dbp.dev/v2",
      "description": "Internal Staging server for testing"
    }
  ],
  "info": {
    "title": "Digital Bible Platform [Koinos]",
    "description": "This is a simple API",
    "version": "4.0.0",
    "contact": {
      "name": "API Support",
      "url": "https://dbs.org/contact",
      "email": "jon@dbs.org"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "tags": [
    {
      "name": "Bible",
      "description": "Routes regarding Bibles"
    },
    {
      "name": "Organizations",
      "description": "Create and edit user organizations"
    },
    {
      "name": "Users",
      "description": "Create, login, and manage users and their notes"
    },
    {
      "name": "Wiki",
      "description": "A series of Routes for Language, Alphabet, Country, and other Geo-socio-political data."
    }
  ],
  "paths": {
    "/bibles": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/v"
          },
          {
            "$ref": "#/components/parameters/key"
          },
          {
            "$ref": "#/components/parameters/version"
          },
          {
            "$ref": "#/components/parameters/reply"
          },
          {
            "$ref": "#/components/parameters/callback"
          }
        ],
        "tags": [
          "Bible"
        ],
        "responses": {
          "200": {
            "description": "An array of Bibles",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bibles"
                }
              }
            }
          }
        }
      }
    },
    "/bibles/{id}": {
      "get": {
        "operationId": "v4_bible.one",
        "summary": "Get extended Metadata for a single Bible",
        "parameters": [
          {
            "$ref": "#/components/parameters/v"
          },
          {
            "$ref": "#/components/parameters/key"
          },
          {
            "$ref": "#/components/parameters/version"
          },
          {
            "$ref": "#/components/parameters/reply"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "tags": [
          "Bible"
        ],
        "responses": {
          "200": {
            "description": "An array of Bibles",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bibles"
                }
              }
            }
          }
        }
      }
    },
    "/bibles/{id}/book/{book}": {
      "get": {
        "operationId": "v4_bible.books",
        "summary": "Get books for a Bible",
        "parameters": [
          {
            "$ref": "#/components/parameters/v"
          },
          {
            "$ref": "#/components/parameters/key"
          },
          {
            "$ref": "#/components/parameters/version"
          },
          {
            "$ref": "#/components/parameters/reply"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "tags": [
          "Bible"
        ],
        "responses": {
          "200": {
            "description": "An array of Bibles",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bibles"
                }
              }
            }
          }
        }
      }
    },
    "/bibles/{id}/{book_id}/{chapter}": {
      "get": {
        "operationId": "v4_bible.chapter",
        "summary": "Get text for a chapter",
        "parameters": [
          {
            "$ref": "#/components/parameters/v"
          },
          {
            "$ref": "#/components/parameters/key"
          },
          {
            "$ref": "#/components/parameters/version"
          },
          {
            "$ref": "#/components/parameters/reply"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "tags": [
          "Bible"
        ],
        "responses": {
          "200": {
            "description": "An array of Bibles",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bibles"
                }
              }
            }
          }
        }
      }
    },
    "/bibles/filesets/{id}/permissions": {
      "get": {
        "operationId": "v4_bible.chapter",
        "summary": "Get text for a chapter",
        "parameters": [
          {
            "$ref": "#/components/parameters/v"
          },
          {
            "$ref": "#/components/parameters/key"
          },
          {
            "$ref": "#/components/parameters/version"
          },
          {
            "$ref": "#/components/parameters/reply"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "tags": [
          "Bible"
        ],
        "responses": {
          "200": {
            "description": "An array of Bibles",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bibles"
                }
              }
            }
          }
        }
      }
    },
    "/bibles/filesets/{id}/download": {
      "get": {
        "operationId": "v4_bible_filesets.download",
        "summary": "Download either a full zipped audio Bible or a selection",
        "parameters": [
          {
            "$ref": "#/components/parameters/v"
          },
          {
            "$ref": "#/components/parameters/key"
          },
          {
            "$ref": "#/components/parameters/version"
          },
          {
            "$ref": "#/components/parameters/reply"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "tags": [
          "Bible"
        ],
        "responses": {
          "200": {
            "description": "An array of Bibles",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bibles"
                }
              }
            }
          }
        }
      }
    },
    "/bibles/books": {
      "get": {
        "operationId": "v4_bible_books",
        "summary": "Get generalized data for books of the Bible",
        "parameters": [
          {
            "$ref": "#/components/parameters/v"
          },
          {
            "$ref": "#/components/parameters/key"
          },
          {
            "$ref": "#/components/parameters/version"
          },
          {
            "$ref": "#/components/parameters/reply"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "tags": [
          "Bible"
        ],
        "responses": {
          "200": {
            "description": "An array of Bibles",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bibles"
                }
              }
            }
          }
        }
      }
    },
    "/timestamps": {
      "get": {
        "operationId": "v4_timestamps",
        "summary": "Get List of available timestamps",
        "parameters": [
          {
            "$ref": "#/components/parameters/v"
          },
          {
            "$ref": "#/components/parameters/key"
          },
          {
            "$ref": "#/components/parameters/version"
          },
          {
            "$ref": "#/components/parameters/reply"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "tags": [
          "Bible"
        ],
        "responses": {
          "200": {
            "description": "An array of Bibles",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bibles"
                }
              }
            }
          }
        }
      }
    },
    "/timestamps/{id}": {
      "get": {
        "operationId": "v4_timestamps.tag",
        "summary": "Get List of available timestamps",
        "parameters": [
          {
            "$ref": "#/components/parameters/v"
          },
          {
            "$ref": "#/components/parameters/key"
          },
          {
            "$ref": "#/components/parameters/version"
          },
          {
            "$ref": "#/components/parameters/reply"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "tags": [
          "Bible"
        ],
        "responses": {
          "200": {
            "description": "An array of Bibles",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bibles"
                }
              }
            }
          }
        }
      }
    },
    "/timestamps/{id}/{book}/{chapter}": {
      "get": {
        "operationId": "v4_timestamps.verse",
        "summary": "Get List of available timestamps",
        "parameters": [
          {
            "$ref": "#/components/parameters/v"
          },
          {
            "$ref": "#/components/parameters/key"
          },
          {
            "$ref": "#/components/parameters/version"
          },
          {
            "$ref": "#/components/parameters/reply"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "tags": [
          "Bible"
        ],
        "responses": {
          "200": {
            "description": "An array of Bibles",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bibles"
                }
              }
            }
          }
        }
      }
    },
    "/countries": {
      "get": {
        "operationId": "v4_countries.all",
        "summary": "Get List of countries",
        "description": "Returns a list of countries with generalized data",
        "parameters": [
          {
            "$ref": "#/components/parameters/v"
          },
          {
            "$ref": "#/components/parameters/key"
          },
          {
            "$ref": "#/components/parameters/version"
          },
          {
            "$ref": "#/components/parameters/reply"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "tags": [
          "Wiki"
        ],
        "responses": {
          "200": {
            "description": "An array of Countries",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Countries"
                }
              }
            }
          }
        }
      }
    },
    "/countries/{id}": {
      "get": {
        "operationId": "v4_countries.one",
        "summary": "Get a single Country",
        "parameters": [
          {
            "$ref": "#/components/parameters/v"
          },
          {
            "$ref": "#/components/parameters/key"
          },
          {
            "$ref": "#/components/parameters/version"
          },
          {
            "$ref": "#/components/parameters/reply"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "tags": [
          "Wiki"
        ],
        "responses": {
          "200": {
            "description": "A Country",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Countries"
                }
              }
            }
          }
        }
      }
    },
    "/languages": {
      "get": {
        "operationId": "v4_languages.all",
        "summary": "Get List of Languages",
        "parameters": [
          {
            "$ref": "#/components/parameters/v"
          },
          {
            "$ref": "#/components/parameters/key"
          },
          {
            "$ref": "#/components/parameters/version"
          },
          {
            "$ref": "#/components/parameters/reply"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "tags": [
          "Wiki"
        ],
        "responses": {
          "200": {
            "description": "An array of Languages",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Languages"
                }
              }
            }
          }
        }
      }
    },
    "/languages/{id}": {
      "get": {
        "operationId": "v4_languages.one",
        "summary": "Get a specific Language",
        "parameters": [
          {
            "$ref": "#/components/parameters/v"
          },
          {
            "$ref": "#/components/parameters/key"
          },
          {
            "$ref": "#/components/parameters/version"
          },
          {
            "$ref": "#/components/parameters/reply"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "tags": [
          "Wiki"
        ],
        "responses": {
          "200": {
            "description": "An array of Languages",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Languages"
                }
              }
            }
          }
        }
      }
    },
    "/alphabets": {
      "get": {
        "operationId": "v4_alphabets.all",
        "summary": "Get Alphabets",
        "parameters": [
          {
            "$ref": "#/components/parameters/v"
          },
          {
            "$ref": "#/components/parameters/key"
          },
          {
            "$ref": "#/components/parameters/version"
          },
          {
            "$ref": "#/components/parameters/reply"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "tags": [
          "Wiki"
        ],
        "responses": {
          "200": {
            "description": "An array of Alphabets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alphabets"
                }
              }
            }
          }
        }
      }
    },
    "/alphabets/{id}": {
      "get": {
        "operationId": "v4_alphabets.one",
        "summary": "A single Alphabet",
        "parameters": [
          {
            "$ref": "#/components/parameters/v"
          },
          {
            "$ref": "#/components/parameters/key"
          },
          {
            "$ref": "#/components/parameters/version"
          },
          {
            "$ref": "#/components/parameters/reply"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "tags": [
          "Wiki"
        ],
        "responses": {
          "200": {
            "description": "An array of Alphabets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alphabets"
                }
              }
            }
          }
        }
      }
    },
    "/organizations": {
      "get": {
        "operationId": "v4_organizations.all",
        "summary": "Get Organizations",
        "parameters": [
          {
            "$ref": "#/components/parameters/v"
          },
          {
            "$ref": "#/components/parameters/key"
          },
          {
            "$ref": "#/components/parameters/version"
          },
          {
            "$ref": "#/components/parameters/reply"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "name": "membership",
            "in": "query",
            "description": "The slug value for an organization, if provided. The results will be filtered by members of that organization.",
            "schema": {
              "type": "string",
              "example": "forumn-of-bible-agencies"
            }
          }
        ],
        "tags": [
          "Organizations"
        ],
        "responses": {
          "200": {
            "description": "An array of Organizations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organizations"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{id}": {
      "get": {
        "operationId": "v4_organizations.one",
        "summary": "Get Organizations",
        "parameters": [
          {
            "$ref": "#/components/parameters/v"
          },
          {
            "$ref": "#/components/parameters/key"
          },
          {
            "$ref": "#/components/parameters/version"
          },
          {
            "$ref": "#/components/parameters/reply"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "tags": [
          "Organizations"
        ],
        "responses": {
          "200": {
            "description": "Data for an organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organizations"
                }
              }
            }
          }
        }
      }
    },
    "/resources": {
      "get": {
        "operationId": "v4_resources.index",
        "summary": "Get a series of resources",
        "description": "This route delivers non-scripture resources: commentaries, books, and other films. It may be filtered by language via the `iso` code and organization by the `organization_id`. The results are paginated by default and the pagination length may be controlled via the `limit` variable.",
        "parameters": [
          {
            "$ref": "#/components/parameters/v"
          },
          {
            "$ref": "#/components/parameters/key"
          },
          {
            "$ref": "#/components/parameters/version"
          },
          {
            "$ref": "#/components/parameters/reply"
          },
          {
            "$ref": "#/components/parameters/pretty"
          },
          {
            "name": "iso",
            "in": "query",
            "description": "The iso 639-3 code for the language you wish to filter by",
            "schema": {
              "type": "string",
              "example": "eng",
              "minLength": 3,
              "maxLength": 3
            }
          },
          {
            "name": "organization_id",
            "in": "query",
            "description": "The integer or slug value for an organization",
            "schema": {
              "type": "integer",
              "example": 26
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of results to return with each pagination",
            "schema": {
              "type": "integer",
              "example": 26
            }
          }
        ],
        "tags": [
          "Organizations"
        ],
        "responses": {
          "200": {
            "description": "An array of Resources",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Resource"
                }
              }
            }
          }
        }
      }
    },
    "/resources/{resource_id}": {
      "get": {
        "operationId": "v4_resources.show",
        "summary": "Get a single resource by it's ID",
        "parameters": [
          {
            "$ref": "#/components/parameters/v"
          },
          {
            "$ref": "#/components/parameters/key"
          },
          {
            "$ref": "#/components/parameters/version"
          },
          {
            "$ref": "#/components/parameters/reply"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "tags": [
          "Organizations"
        ],
        "responses": {
          "200": {
            "description": "A success resource index query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Resource"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "v4_resources.update",
        "summary": "Update a single resource by it's ID.",
        "description": "This route will update a single resource by it's ID but in order to do so you must either belong to the organization that owns the resource or have `archivist` level permissions. Some resources are updated via API. Changes made to this type of resource will be overwritten on the next update. These resources are indentified by a `source_id`",
        "parameters": [
          {
            "$ref": "#/components/parameters/v"
          },
          {
            "$ref": "#/components/parameters/key"
          },
          {
            "$ref": "#/components/parameters/version"
          },
          {
            "$ref": "#/components/parameters/reply"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "tags": [
          "Organizations"
        ],
        "responses": {
          "200": {
            "description": "A successful resource update query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Resource"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "v4_resources.store",
        "summary": "Create a single resource",
        "description": "This route will create a single resource but order to do so you must either belong to an organization or have `archivist` level permissions. Please do not create a resource for which your organization already has a connected API as that will introduce duplicates into the system. To see a list of connected APIs, please see the `connections` route.",
        "parameters": [
          {
            "$ref": "#/components/parameters/v"
          },
          {
            "$ref": "#/components/parameters/key"
          },
          {
            "$ref": "#/components/parameters/version"
          },
          {
            "$ref": "#/components/parameters/reply"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "tags": [
          "Organizations"
        ],
        "responses": {
          "200": {
            "description": "A successful resource creation query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Resource"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "v4_resources.destroy",
        "summary": "Delete a Single Resource",
        "description": "This route will delete a single resource but order to do so you must either belong to the owning organization or have `archivist` level permissions.",
        "parameters": [
          {
            "$ref": "#/components/parameters/v"
          },
          {
            "$ref": "#/components/parameters/key"
          },
          {
            "$ref": "#/components/parameters/version"
          },
          {
            "$ref": "#/components/parameters/reply"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "tags": [
          "Organizations"
        ],
        "responses": {
          "200": {
            "description": "A successful deletion query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Resource"
                }
              }
            }
          }
        }
      }
    },
    "/users": {
      "post": {
        "operationId": "v4_organizations.one",
        "summary": "Create a User",
        "parameters": [
          {
            "$ref": "#/components/parameters/v"
          },
          {
            "$ref": "#/components/parameters/key"
          },
          {
            "$ref": "#/components/parameters/version"
          },
          {
            "$ref": "#/components/parameters/reply"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "An array of organizations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bibles"
                }
              }
            }
          }
        }
      }
    },
    "/users/login": {
      "post": {
        "operationId": "v4_user.login",
        "summary": "Login a User",
        "parameters": [
          {
            "$ref": "#/components/parameters/v"
          },
          {
            "$ref": "#/components/parameters/key"
          },
          {
            "$ref": "#/components/parameters/version"
          },
          {
            "$ref": "#/components/parameters/reply"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "An array of organizations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bibles"
                }
              }
            }
          }
        }
      }
    },
    "/users/login/{driver}": {
      "get": {
        "operationId": "v4_user.oAuth",
        "summary": "Login via oAuth",
        "parameters": [
          {
            "$ref": "#/components/parameters/v"
          },
          {
            "$ref": "#/components/parameters/key"
          },
          {
            "$ref": "#/components/parameters/version"
          },
          {
            "$ref": "#/components/parameters/reply"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "An array of organizations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bibles"
                }
              }
            }
          }
        }
      }
    },
    "/users/login/{driver}/callback": {
      "get": {
        "operationId": "v4_user.oAuth",
        "summary": "Login via oAuth",
        "parameters": [
          {
            "$ref": "#/components/parameters/v"
          },
          {
            "$ref": "#/components/parameters/key"
          },
          {
            "$ref": "#/components/parameters/version"
          },
          {
            "$ref": "#/components/parameters/reply"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "An array of organizations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bibles"
                }
              }
            }
          }
        }
      }
    },
    "/users/{user_id}/notes": {
      "get": {
        "operationId": "v4_notes.index",
        "summary": "Get notes for a specific user",
        "parameters": [
          {
            "$ref": "#/components/parameters/v"
          },
          {
            "$ref": "#/components/parameters/key"
          },
          {
            "$ref": "#/components/parameters/version"
          },
          {
            "$ref": "#/components/parameters/reply"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "An array of organizations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bibles"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "v4_notes.store",
        "summary": "Create a new note for a user",
        "parameters": [
          {
            "$ref": "#/components/parameters/v"
          },
          {
            "$ref": "#/components/parameters/key"
          },
          {
            "$ref": "#/components/parameters/version"
          },
          {
            "$ref": "#/components/parameters/reply"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "An array of organizations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bibles"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "v4_notes.store",
        "summary": "Edit an existing note for a user",
        "parameters": [
          {
            "$ref": "#/components/parameters/v"
          },
          {
            "$ref": "#/components/parameters/key"
          },
          {
            "$ref": "#/components/parameters/version"
          },
          {
            "$ref": "#/components/parameters/reply"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "An array of organizations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bibles"
                }
              }
            }
          }
        }
      }
    },
    "/api/versions": {
      "get": {
        "operationId": "v4_user.oAuth",
        "summary": "Login via oAuth",
        "parameters": [
          {
            "$ref": "#/components/parameters/v"
          },
          {
            "$ref": "#/components/parameters/key"
          },
          {
            "$ref": "#/components/parameters/version"
          },
          {
            "$ref": "#/components/parameters/reply"
          },
          {
            "$ref": "#/components/parameters/pretty"
          }
        ],
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "An array of organizations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bibles"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Resource": {
        "required": [
          "id",
          "name",
          "glotto_id",
          "iso"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "uniqueItems": true,
            "description": "An incrementing ID for the resources",
            "example": 1
          },
          "iso": {
            "type": "string",
            "description": "An iso 639-3 code to identify the primary language of the resource",
            "example": "eng"
          },
          "cover": {
            "type": "string",
            "example": "https://example.com/image.png"
          },
          "cover_thumnail": {
            "type": "string",
            "example": "https://example.com/image_thumbnail.png"
          },
          "translations": {
            "type": "object",
            "example": {
              "eng": {
                "title": "The Story of the Home for Bible Translators",
                "description": "The Story of the HfBT"
              },
              "spa": {
                "title": "बाइबल अनुवादकहरूको लागि घर",
                "description": "The Story of the HfBT"
              }
            }
          },
          "organization": {
            "type": "object",
            "example": {
              "slug": "the-home-for-bible-translators",
              "primaryColor": "#293e80",
              "secondaryColor": "#FFFFFF",
              "translations": {
                "nep": "बाइबल अनुवादकहरूको लागि घर",
                "spa": "El Hogar para Traductores Bíblicos",
                "eng": "The Home for Bible Translators"
              }
            }
          },
          "derived": {
            "type": "string",
            "example": "ENGKJV"
          },
          "copyright": {
            "type": "string",
            "example": "Public Domain"
          },
          "links": {
            "type": "object",
            "example": [
              {
                "title": "Store",
                "size": "246 pages",
                "type": "Print",
                "url": "http://www.librarything.com/work/1301652/book/118270355"
              },
              {
                "title": "PDF Download",
                "size": "25.4 mb",
                "url": "https://example.com/download.pdf"
              }
            ]
          }
        }
      },
      "Bibles": {
        "required": [
          "id",
          "name",
          "glotto_id",
          "iso"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "uniqueItems": true,
            "description": "An incrementing ID for the languages resources",
            "example": 1
          },
          "iso": {
            "type": "string",
            "description": "An iso code for the languages",
            "example": "eng"
          },
          "date": {
            "type": "integer",
            "example": 1816
          },
          "scope": {
            "type": "string",
            "example": "NT"
          },
          "script": {
            "type": "string",
            "example": "Latn"
          },
          "derived": {
            "type": "string",
            "example": "ENGKJV"
          },
          "copyright": {
            "type": "string",
            "example": "Public Domain"
          }
        }
      },
      "Countries": {
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "Andorra"
          },
          "continent_code": {
            "type": "string",
            "description": "An code for the continent",
            "example": "EU"
          },
          "codes": {
            "type": "object",
            "properties": {
              "fips": {
                "type": "string",
                "maxLength": 2,
                "example": "AN"
              },
              "iso_a3": {
                "type": "string",
                "maxLength": 3,
                "example": "AND"
              },
              "iso_a2": {
                "type": "string",
                "maxLength": 2,
                "example": "AD"
              }
            }
          },
          "languages": {
            "type": "object",
            "example": {
              "eng": "English",
              "spa": "Spanish"
            },
            "additionalProperties": {
              "type": "string",
              "example": "English"
            }
          }
        }
      },
      "Languages": {
        "required": [
          "name"
        ],
        "properties": {
          "glotto_code": {
            "type": "string",
            "example": "aari1239",
            "minLength": 8,
            "maxLength": 8
          },
          "iso_code": {
            "type": "string",
            "example": "aiw",
            "minLength": 3,
            "maxLength": 3
          },
          "name": {
            "type": "string",
            "example": "Aari"
          },
          "bible_count": {
            "type": "integer",
            "example": 3
          }
        }
      },
      "Alphabets": {
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "Adlam Script"
          },
          "script": {
            "type": "string",
            "example": "Adlm"
          },
          "family": {
            "type": "string",
            "example": "African"
          },
          "type": {
            "type": "string",
            "example": "alphabet"
          },
          "direction": {
            "type": "string",
            "example": "rtl"
          }
        }
      },
      "Organizations": {
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "Adlam Script"
          },
          "script": {
            "type": "string",
            "example": "Adlm"
          },
          "family": {
            "type": "string",
            "example": "African"
          },
          "type": {
            "type": "string",
            "example": "alphabet"
          },
          "direction": {
            "type": "string",
            "example": "rtl"
          }
        }
      }
    },
    "parameters": {
      "v": {
        "name": "v",
        "in": "query",
        "description": "The Version Number of the API",
        "required": true,
        "example": 4,
        "schema": {
          "type": "string"
        }
      },
      "key": {
        "name": "key",
        "in": "query",
        "description": "The API key that's been generated for you.",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "pretty": {
        "name": "pretty",
        "in": "query",
        "description": "A sugar param, simply will format the call for human eyes",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "version": {
        "name": "key",
        "in": "query",
        "description": "The API key that's been generated for you.",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "reply": {
        "name": "reply",
        "in": "query",
        "description": "Specifies the response type requested by the caller. Default is json.",
        "schema": {
          "type": "string",
          "enum": [
            "json",
            "html",
            "jsonp",
            "yaml",
            "xml"
          ]
        }
      },
      "callback": {
        "name": "callback",
        "in": "query",
        "description": "If unused the results are as before. If set to true, the results will be prepended with the array of calling arguments used. This does mean that the results will be one layer deeper as the results will be an array where the first element is the array of input arguments and the second element will be the results as normally returned.",
        "schema": {
          "type": "string"
        }
      },
      "dam_id": {
        "name": "dam_id",
        "in": "query",
        "description": "To get the location directory and asset file basename for a specific volume.",
        "schema": {
          "type": "string"
        }
      }
    }
  }
}