{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://api.bible.build/v2",
      "description": "Online Staging server for testing"
    },
    {
      "url": "https://api.dbp.dev/v2",
      "description": "Internal Staging server for testing"
    }
  ],
  "info": {
    "title": "Digital Bible Platform [Koinos]",
    "description": "This is a simple API",
    "version": "2.0.0",
    "contact": {
      "name": "API Support",
      "url": "https://dbs.org/contact",
      "email": "jon@dbs.org"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "tags": [
    {
      "name": "Bible",
      "description": "Secured Admin-only calls"
    },
    {
      "name": "Library",
      "description": "Different Organizational Routes to fetch Bible Resources"
    }
  ],
  "paths": {
    "/library/volume": {
      "get": {
        "tags": [
          "Library"
        ],
        "responses": {
          "200": {
            "description": "An paginated array of langauges",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LanguageVolume"
                }
              }
            }
          }
        }
      }
    },
    "/library/volumelanguagefamily": {
      "get": {
        "tags": [
          "Library"
        ],
        "summary": "Get an index of the languages of the world",
        "operationId": "language.index",
        "responses": {
          "200": {
            "description": "An paginated array of langauges",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Language"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "LanguageBasic": {
        "required": [
          "id",
          "name",
          "glotto_id",
          "iso"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "uniqueItems": true,
            "description": "An incrementing ID for the languages resources",
            "example": 1
          },
          "glotto_id": {
            "type": "string",
            "uniqueItems": true,
            "pattern": "[a-z0-9]{8,8}",
            "minLength": 8,
            "maxLength": 8,
            "description": "An eight character identifier for the langauges resources. This is based on the codes from the [glottolog.org](http://glottolog.org). Custom Glotto Codes may Exist for certain resources. They'll be indentifable by the string `XXX`. If the Glotto Code Exists the Iso Code is not required but may exist! An incrementing ID for the languages resources",
            "example": "stan1290"
          },
          "iso": {
            "type": "string",
            "uniqueItems": true,
            "pattern": "[a-z]",
            "minLength": 3,
            "maxLength": 3,
            "description": "A three letter identifier for the languages resources. This code matches up exactly with the codes from the [ISO 639-3 standard](http://www-01.sil.org/iso639-3/default.asp). If the Iso Code Exists the Glotto Code is not required but may exist!",
            "example": "fra"
          },
          "name": {
            "type": "string",
            "maxLength": 191,
            "description": "The Name of the Language in English",
            "example": "French"
          },
          "autonym": {
            "type": "string",
            "maxLength": 191,
            "description": "The Name of the Language in the Vernacular of that Language",
            "example": "Français"
          },
          "country_id": {
            "type": "string",
            "pattern": "[a-z]{2,2}",
            "description": "The Primary Country for this Language",
            "minLength": 2,
            "maxLength": 2,
            "example": "FR"
          }
        }
      },
      "Language": {
        "required": [
          "id",
          "name",
          "glotto_id",
          "iso"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "uniqueItems": true,
            "description": "An incrementing ID for the languages resources",
            "example": 1
          },
          "glotto_id": {
            "type": "string",
            "uniqueItems": true,
            "pattern": "[a-z0-9]{8,8}",
            "minLength": 8,
            "maxLength": 8,
            "description": "An eight character identifier for the langauges resources. This is based on the codes from the [glottolog.org](http://glottolog.org). Custom Glotto Codes may Exist for certain resources. They'll be indentifable by the string `XXX`. If the Glotto Code Exists the Iso Code is not required but may exist! An incrementing ID for the languages resources",
            "example": "stan1290"
          },
          "iso": {
            "type": "string",
            "uniqueItems": true,
            "pattern": "[a-z]",
            "minLength": 3,
            "maxLength": 3,
            "description": "A three letter identifier for the languages resources. This code matches up exactly with the codes from the [ISO 639-3 standard](http://www-01.sil.org/iso639-3/default.asp). If the Iso Code Exists the Glotto Code is not required but may exist!",
            "example": "fra"
          },
          "name": {
            "type": "string",
            "maxLength": 191,
            "description": "The Name of the Language in English",
            "example": "French"
          },
          "autonym": {
            "type": "string",
            "maxLength": 191,
            "description": "The Name of the Language in the Vernacular of that Language",
            "example": "Français"
          },
          "country_id": {
            "type": "string",
            "pattern": "[a-z]{2,2}",
            "description": "The Primary Country for this Language",
            "minLength": 2,
            "maxLength": 2,
            "example": "FR"
          },
          "level": {
            "type": "string",
            "maxLength": 191
          },
          "maps": {
            "type": "string",
            "maxLength": 191
          },
          "development": {
            "type": "string",
            "maxLength": 191
          },
          "use": {
            "type": "string",
            "maxLength": 191
          },
          "location": {
            "type": "string",
            "maxLength": 191
          },
          "area": {
            "type": "string",
            "maxLength": 191
          },
          "population": {
            "type": "integer",
            "minimum": 0
          },
          "population_notes": {
            "type": "string",
            "maxLength": 191
          },
          "notes": {
            "type": "string",
            "maxLength": 191
          },
          "typology": {
            "type": "string",
            "maxLength": 191
          },
          "writing": {
            "type": "string",
            "maxLength": 191
          },
          "description": {
            "type": "string",
            "maxLength": 191
          },
          "family_pk": {
            "type": "integer",
            "minimum": 0
          },
          "father_pk": {
            "type": "integer",
            "minimum": 0
          },
          "child_dialect_count": {
            "type": "integer",
            "minimum": 0
          },
          "child_family_count": {
            "type": "integer",
            "minimum": 0
          },
          "child_language_count": {
            "type": "integer",
            "minimum": 0
          },
          "latitude": {
            "type": "number",
            "format": "float",
            "example": 2.0201058,
            "description": "A rough approximation of the latitude where the language can be found"
          },
          "longitude": {
            "type": "number",
            "format": "float",
            "example": 48.0201058,
            "description": "A rough longitude of the latitude where the language can be found"
          },
          "pk": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "description": "The `Health` of the current Language",
            "example": "1 (National). Statutory national language (1958, Consitution, Article 2.1)"
          }
        }
      },
      "LanguageVolume": {
        "required": [
          "id",
          "name",
          "glotto_id",
          "iso"
        ],
        "properties": {
          "language_name": {
            "type": "string",
            "maxLength": 191,
            "example": "Shqip"
          },
          "english_name": {
            "type": "string",
            "maxLength": 191,
            "example": "Albanian"
          },
          "language_code": {
            "type": "string",
            "pattern": "[a-z]",
            "minLength": 3,
            "maxLength": 3,
            "description": "This field is a legacy field from when it was possible for there to be a different language code than the iso code. Now it's just a duplicate of language_iso.",
            "example": "sqi"
          },
          "language_iso": {
            "type": "string",
            "pattern": "[a-z]",
            "minLength": 3,
            "maxLength": 3,
            "description": "A three letter identifier for the languages resources. This code matches up exactly with the codes from the [ISO 639-3 standard](http://www-01.sil.org/iso639-3/default.asp). If the Iso Code Exists the Glotto Code is not required but may exist!",
            "example": "sqi"
          },
          "language_iso_2B": {
            "type": "string",
            "pattern": "[a-z]",
            "minLength": 2,
            "maxLength": 2,
            "description": "The Bibliographic two letter identifier for the languages resources. This code matches up exactly with the codes from the [ISO 639-2B standard](https://www.loc.gov/standards/iso639-2/php/code_list.php).",
            "example": "sqi"
          },
          "language_iso_2T": {
            "type": "string",
            "pattern": "[a-z]",
            "minLength": 2,
            "maxLength": 2,
            "description": "The Terminological two letter identifier for the languages resources. This code matches up exactly with the codes from the [ISO 639-2T standard](https://www.loc.gov/standards/iso639-2/php/code_list.php).",
            "example": "alb"
          },
          "language_iso_1": {
            "type": "string",
            "minLength": 2,
            "maxLength": 2,
            "example": "sq"
          },
          "language_iso_name": {
            "type": "string",
            "maxLength": 191,
            "description": "Duplicate of language_name",
            "example": "Albanian"
          },
          "language_family_code": {
            "type": "string",
            "maxLength": 191,
            "example": "sqi"
          },
          "language_family_name": {
            "type": "string",
            "maxLength": 191
          },
          "language_family_english": {
            "type": "string",
            "maxLength": 191
          },
          "language_family_iso": {
            "type": "string",
            "maxLength": 191
          },
          "language_family_iso_2B": {
            "type": "string",
            "maxLength": 191
          },
          "language_family_iso_2T": {
            "type": "string",
            "maxLength": 191
          },
          "language_family_iso_1": {
            "type": "string",
            "maxLength": 191
          },
          "media_text": {
            "type": "string",
            "maxLength": 191
          },
          "delivery_mobile": {
            "type": "string",
            "maxLength": 191
          },
          "delivery_web": {
            "type": "string",
            "maxLength": 191
          },
          "delivery_subsplash": {
            "type": "string",
            "maxLength": 191
          },
          "resolution": {
            "type": "string",
            "maxLength": 191
          }
        }
      }
    }
  }
}