// Global styles and variables
//@import "global";

/*
@import "components/fonts";
@import "components/typography";
@import "components/buttons";

@import "components/forms";
@import "components/tabs";
@import "components/datatables";
@import "components/selectize";
@import "components/search";
@import "components/headings";
@import "components/swagger-ui";

@import "partials/nav";
@import "partials/footer";
*/

@import "foundation";

nav[role="navigation"] {
  background-color: #fff;
  border-bottom:thin solid #f8f8f8;
}

.centered {
  margin: 0 auto!important;
  display: block;
  float: none;
}