// Global styles and variables
//@import "global";

@import "global";

@import "partials/nav";

@import "components/datatables";
@import "components/dropzone";
@import "components/tabs";
@import "components/forms";
@import "swagger/main";

@import "pages/languages";

nav[role="navigation"] {
  background-color: #fff;
  border-bottom:thin solid #f8f8f8;
}

section[role="banner"] {
  background-color:#F8F8FA;
  color:#222;
  z-index: 0;
}

.centered {
  margin: 0 auto!important;
  display: block;
  float: none!important;
}