// banner section

nav[role="navigation"] ul,
footer[role="footer"] .ecosystem-link {
  float:left;
}

.columns,
footer[role="footer"] a,
nav[role="navigation"] ul li {
  float:right;
}

.nav_down {
  margin-left: auto;
  margin-right: 4px;
}

#apps-toggler {
  margin-left:10px;
  margin-right: auto;
}

#dbs-apps {
  right: auto;
  left:0;
}

nav[role="navigation"] a.logo {
  background: url(https://images.bible.cloud/dbs_logo_notitle.svg) no-repeat right center;
  background-size:auto 80%;
  left: auto;
  right:0;
}

#search-section {
  left: 0;
  right: auto;
}
