{"openapi":"3.0.0","info":{"title":"Digital Bible Platform","description":"A Bible API","termsOfService":"http://dbp4.org/terms/","contact":{"email":"jon@dbs.org"},"license":{"name":"Apache 2.0","url":"http://www.apache.org/licenses/LICENSE-2.0.html"},"version":"4.0.0"},"servers":[{"url":"https://api.dbp4.org","description":"Live Server","variables":{"schema":{"enum":["https"],"default":"https"}}},{"url":"https://api.dbp.test","description":"Development server","variables":{"schema":{"enum":["https"],"default":"https"}}}],"paths":{"/timestamps":{"get":{"tags":["Bibles"],"summary":"Returns Bible Filesets which have Audio timestamps","description":"This call returns a list of hashes that have timestamp metadata associated\n               with them. This data could be used to search audio bibles for a specific term, make\n               karaoke verse & audio readings, or to jump to a specific location in an audio file.","operationId":"v4_timestamps","parameters":[{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BibleFileset/properties/hash_id"}},"application/xml":{"schema":{"$ref":"#/components/schemas/BibleFileset/properties/hash_id"}},"text/x-yaml":{"schema":{"$ref":"#/components/schemas/BibleFileset/properties/hash_id"}}}},"204":{"description":"No timestamps are available at this time"}}}},"/timestamps/search":{"get":{"tags":["Bibles"],"summary":"Returns audio timestamps for a specific word","description":"This route will search the text for a specific word or phrase and return a\n     *         collection of timestamps associated with the verse references connected to the term","operationId":"v4_timestamps.tag","parameters":[{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"},{"name":"id","in":"path","description":"The specific fileset to return references for","required":true,"schema":{"$ref":"#/components/schemas/BibleFileset/properties/id"}},{"name":"query","in":"query","description":"The tag for which to return timestamps","required":true,"schema":{"$ref":"#/components/schemas/Book/properties/id"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v4_timestamps_tag"}},"application/xml":{"schema":{"$ref":"#/components/schemas/v4_timestamps_tag"}},"text/x-yaml":{"schema":{"$ref":"#/components/schemas/v4_timestamps_tag"}}}}}}},"/bible/equivalents":{"get":{"tags":["Bibles"],"summary":"Get a list of bible equivalents","description":"Fetch a list of bible equivalents filtered by Type, Organization or Bible.\n     *         This route will allow your apps to connect to other Bible APIs and services without\n     *         introducing duplicate Bible content into your apps and ease migration between APIs.","operationId":"v4_bible.equivalents","parameters":[{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BibleEquivalent"}},"application/xml":{"schema":{"$ref":"#/components/schemas/BibleEquivalent"}},"text/x-yaml":{"schema":{"$ref":"#/components/schemas/BibleEquivalent"}}}}}}},"/bibles/filesets/{fileset_id}":{"get":{"tags":["Bibles"],"summary":"Returns Bibles Filesets","description":"Returns a list of bible filesets","operationId":"v4_bible_filesets.show","parameters":[{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"},{"name":"fileset_id","in":"path","description":"The fileset ID","required":true,"schema":{"$ref":"#/components/schemas/BibleFileset/properties/id"}},{"name":"book_id","in":"query","description":"If provided will filter the results by the given book","schema":{"$ref":"#/components/schemas/Book/properties/id"}},{"name":"chapter_id","in":"query","description":"If provided will filter the results by the given chapter","schema":{"$ref":"#/components/schemas/BibleFile/properties/chapter_start"}},{"name":"asset_id","in":"query","description":"If provided will filter the results by the given Asset","schema":{"$ref":"#/components/schemas/BibleFileset/properties/asset_id"}},{"name":"versification","in":"query","description":"The versification system","schema":{"$ref":"#/components/schemas/Bible/properties/versification"}},{"name":"type","in":"query","description":"The fileset type","schema":{"$ref":"#/components/schemas/BibleFileset/properties/set_type_code"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BibleFileset"}}}}}},"put":{"tags":["Bibles"],"summary":"Available fileset","description":"A list of all the file types that exist within the filesets","operationId":"v4_bible_filesets.update","parameters":[{"name":"fileset_id","in":"path","description":"The fileset ID","required":true,"schema":{"$ref":"#/components/schemas/BibleFileset/properties/id"}},{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"responses":{"200":{"description":"The fileset just edited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BibleFileset"}}}}}}},"/bibles/filesets/{fileset_id}/download":{"get":{"tags":["Bibles"],"summary":"Download a Fileset","description":"Returns a an entire fileset or a selected portion of a fileset for download","operationId":"v4_bible_filesets.download","parameters":[{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"},{"name":"fileset_id","in":"path","description":"The fileset ID","required":true,"schema":{"$ref":"#/components/schemas/BibleFileset/properties/id"}}],"responses":{"200":{"description":"The requested fileset as a zipped download","content":{"application/zip":{}}}}}},"/bibles/filesets/{fileset_id}/podcast":{"get":{"tags":["Bibles"],"summary":"Audio Filesets as Podcasts","description":"An audio Fileset in an RSS format suitable for consumption by iTunes","operationId":"v4_bible_filesets.podcast","parameters":[{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"},{"name":"fileset_id","in":"path","description":"The fileset ID","required":true,"schema":{"$ref":"#/components/schemas/BibleFileset/properties/id"}}],"responses":{"200":{"description":"The requested fileset as a rss compatible xml podcast","content":{"application/xml":{}}}}}},"/bibles/filesets/{fileset_id}/copyright":{"get":{"tags":["Bibles"],"summary":"Fileset Copyright information","description":"A fileset's copyright information and organizational connections","operationId":"v4_bible_filesets.copyright","parameters":[{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"},{"name":"fileset_id","in":"path","description":"The fileset ID","required":true,"schema":{"$ref":"#/components/schemas/BibleFileset/properties/id"}},{"name":"asset_id","in":"query","description":"The asset id","required":true,"schema":{"$ref":"#/components/schemas/BibleFileset/properties/asset_id"}},{"name":"type","in":"query","description":"The set type code","required":true,"schema":{"$ref":"#/components/schemas/BibleFileset/properties/set_type_code"}},{"name":"id","in":"query","description":"The fileset ID","required":true,"schema":{"$ref":"#/components/schemas/BibleFileset/properties/id"}}],"responses":{"200":{"description":"The requested fileset copyright","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BibleFileset"}}}}}}},"/bibles/filesets/":{"post":{"tags":["Bibles"],"summary":"Create a brand new Fileset","description":"Create a new Bible Fileset","operationId":"v4_bible_filesets.store","parameters":[{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"requestBody":{"description":"Fields for Bible Fileset Creation","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BibleFileset"}},"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/BibleFileset"}}}},"responses":{"200":{"description":"The completed fileset","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BibleFileset"}}}}}}},"/bibles/filesets/media/types":{"get":{"tags":["Bibles"],"summary":"Available fileset types","description":"A list of all the file types that exist within the filesets","operationId":"v4_bible_filesets.types","parameters":[{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"responses":{"200":{"description":"The fileset types","content":{"application/json":{"schema":{"type":"object","example":{"audio_drama":"Dramatized Audio","audio":"Audio","text_plain":"Plain Text","text_format":"Formatted Text","video":"Video","app":"Application"}}},"application/xml":{"schema":{"type":"object","example":{"audio_drama":"Dramatized Audio","audio":"Audio","text_plain":"Plain Text","text_format":"Formatted Text","video":"Video","app":"Application"}}}}}}}},"/bibles":{"get":{"tags":["Bibles"],"summary":"","description":"","operationId":"v4_bible.all","parameters":[{"name":"bible_id","in":"query","description":"The Bible Id","$ref":"#/components/schemas/Bible/properties/id"},{"name":"fcbh_id","in":"query","description":"An alternative query name for the bible id","schema":{"type":"string"}},{"name":"media","in":"query","description":"If set, will filter results by the type of media for which filesets are available. For a complete list of available media types please see the `/bibles/filesets/media/types` route","schema":{"type":"string","externalDocs":{"description":"For a complete list of available media types please see the v4_bible_filesets.types route","url":"/docs/swagger/v4#/Bibles/v4_bible_filesets_types"}}},{"name":"language","in":"query","description":"The language to filter results by","schema":{"$ref":"#/components/schemas/Language/properties/name"}},{"name":"language_name","in":"query","description":"The language name to filter results by. For a complete list see the `/languages` route","schema":{"$ref":"#/components/schemas/Language/properties/name"}},{"name":"language_code","in":"query","description":"The iso code to filter results by. This will return results only in the language specified. For a complete list see the `iso` field in the `/languages` route","schema":{"$ref":"#/components/schemas/Language/properties/iso"}},{"name":"language_family_code","in":"query","description":"The iso code of the trade language to filter results by. This will also return all dialects of a language. For a complete list see the `iso` field in the `/languages` route","schema":{"type":"string"}},{"name":"updated","in":"query","description":"The last time updated","schema":{"type":"string"}},{"name":"organization_id","in":"query","description":"The owning organization to return bibles for. For a complete list of ids see the `/organizations` route","schema":{"type":"string"}},{"name":"sort_by","in":"query","description":"The any field to within the bible model may be selected as the value for this `sort_by` param.","schema":{"type":"string"}},{"name":"sort_dir","in":"query","description":"The direction to sort by the field specified in `sort_by`. Either `asc` or `desc`","schema":{"type":"string"}},{"name":"asset_id","in":"query","description":"The asset_id to filter results by. At the moment there are two buckets provided `dbp.test` & `dbs-web`","schema":{"type":"string"}},{"name":"filter_by_fileset","in":"query","description":"This field defaults to true but when set to false will return all Bible entries regardless of whether or not the API has content for that biblical text.","schema":{"type":"string"}},{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v4_bible.one"}},"application/xml":{"schema":{"$ref":"#/components/schemas/v4_bible.one"}},"text/x-yaml":{"schema":{"$ref":"#/components/schemas/v4_bible.one"}}}}}}},"/bibles/{id}":{"get":{"tags":["Bibles"],"summary":"","description":"","operationId":"v4_bible.one","parameters":[{"name":"id","in":"path","description":"The Bible id","required":true,"schema":{"$ref":"#/components/schemas/Bible/properties/id"}},{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v4_bible.one"}},"application/xml":{"schema":{"$ref":"#/components/schemas/v4_bible.one"}},"text/x-yaml":{"schema":{"$ref":"#/components/schemas/v4_bible.one"}}}}}}},"/bibles/{id}/book/":{"get":{"tags":["Bibles"],"summary":"","description":"","operationId":"v4_bible.books","parameters":[{"name":"id","in":"path","description":"The Bible id","required":true,"schema":{"$ref":"#/components/schemas/Bible/properties/id"}},{"name":"book_id","in":"query","description":"The Books id","schema":{"$ref":"#/components/schemas/Book/properties/id"}},{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v4_bible.books"}},"application/xml":{"schema":{"$ref":"#/components/schemas/v4_bible.books"}},"text/x-yaml":{"schema":{"$ref":"#/components/schemas/v4_bible.books"}}}}}}},"/bibles/books/":{"get":{"tags":["Bibles"],"summary":"Returns the books of the Bible","description":"Returns all of the books of the Bible both canonical and deuterocanonical","operationId":"v4_bible_books_all","parameters":[{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v4_bible_books_all"}}}}}}},"/bibles/filesets/{fileset_id}/books/":{"get":{"tags":["Bibles"],"summary":"Returns the books of the Bible","description":"Returns the books and chapters for a specific fileset","operationId":"v4_bible_filesets.books","parameters":[{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"},{"name":"fileset_id","in":"path","schema":{"$ref":"#/components/schemas/BibleFileset/properties/id"}},{"name":"fileset_type","in":"query","description":"The type of fileset being queried","required":true,"schema":{"$ref":"#/components/schemas/BibleFileset/properties/set_type_code"}},{"name":"asset_id","in":"query","description":"The asset id to select the fileset by","schema":{"$ref":"#/components/schemas/BibleFileset/properties/asset_id"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v4_bible_books_all"}}}}}}},"/bibles/{id}/{book}/{chapter}":{"get":{"tags":["Bibles"],"summary":"Returns Signed URLs or Text","description":"V4's base fileset route","operationId":"v4_bible_filesets.chapter","parameters":[{"name":"id","in":"path","description":"The Bible fileset ID","required":true,"schema":{"$ref":"#/components/schemas/BibleFileset/properties/id"}},{"name":"book","in":"path","description":"The Book ID","required":true,"schema":{"$ref":"#/components/schemas/Book/properties/id"}},{"name":"chapter","in":"path","description":"The chapter number","required":true,"schema":{"$ref":"#/components/schemas/BibleFile/properties/chapter_start"}},{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v4_bible_filesets_chapter"}},"application/xml":{"schema":{"$ref":"#/components/schemas/v4_bible_filesets_chapter"}},"text/x-yaml":{"schema":{"$ref":"#/components/schemas/v4_bible_filesets_chapter"}}}}}}},"/search":{"get":{"tags":["Bibles"],"summary":"Run a text search on a specific fileset","description":"","operationId":"v4_text_search","parameters":[{"name":"fileset_id","in":"query","description":"The Bible fileset ID","required":true,"schema":{"$ref":"#/components/schemas/BibleFileset/properties/id"}},{"name":"limit","in":"query","description":"The number of search results to return","schema":{"type":"integer","default":15,"example":15}},{"name":"books","in":"query","description":"The Books to search through","schema":{"type":"string","example":"GEN,EXO,MAT"}},{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v4_bible_filesets_chapter"}},"application/xml":{"schema":{"$ref":"#/components/schemas/v4_bible_filesets_chapter"}},"text/x-yaml":{"schema":{"$ref":"#/components/schemas/v4_bible_filesets_chapter"}}}}}}},"/api/assets":{"get":{"tags":["Bibles"],"summary":"Returns the asset paths currently being used by the api","description":"","operationId":"v4_api.assets","parameters":[{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v4_api_assets"}},"application/xml":{"schema":{"$ref":"#/components/schemas/v4_api_assets"}},"text/x-yaml":{"schema":{"$ref":"#/components/schemas/v4_api_assets"}}}}}}},"/projects/{project_id}/oauth-providers/":{"get":{"tags":["Users"],"summary":"A Project's oAuth Providers","description":"Returns the oAuth providers being used by a project. This route can inform\n     *         developers about the potential login options provided to users by each project.","operationId":"v4_projects_oAuthProvider.index","parameters":[{"name":"project_id","in":"path","description":"The Project id","required":true,"schema":{"$ref":"#/components/schemas/Project/properties/id"}},{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectOauthProvider"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ProjectOauthProvider"}},"text/x-yaml":{"schema":{"$ref":"#/components/schemas/ProjectOauthProvider"}}}}}},"post":{"tags":["Users"],"summary":"Add a new oAuth provider to a project","description":"","operationId":"v4_projects_oAuthProvider.store","parameters":[{"name":"project_id","in":"path","description":"The Project id","required":true,"schema":{"$ref":"#/components/schemas/Project/properties/id"}},{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"requestBody":{"description":"Information supplied for oAuth Provider creation","required":true,"content":{"application/json":{"schema":{"properties":{"project_id":{"$ref":"#/components/schemas/ProjectOauthProvider/properties/project_id"},"name":{"$ref":"#/components/schemas/ProjectOauthProvider/properties/name"},"client_id":{"$ref":"#/components/schemas/ProjectOauthProvider/properties/client_id"},"client_secret":{"$ref":"#/components/schemas/ProjectOauthProvider/properties/client_secret"},"callback_url":{"$ref":"#/components/schemas/ProjectOauthProvider/properties/callback_url"},"callback_url_alt":{"$ref":"#/components/schemas/ProjectOauthProvider/properties/callback_url_alt"},"description":{"$ref":"#/components/schemas/ProjectOauthProvider/properties/description"}},"type":"object"}}}},"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectOauthProvider"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ProjectOauthProvider"}},"text/x-yaml":{"schema":{"$ref":"#/components/schemas/ProjectOauthProvider"}}}}}}},"/projects/{project_id}/oauth-providers/{provider_id}":{"put":{"tags":["Users"],"summary":"Update a specific oAuth provider","description":"","operationId":"v4_projects_oAuthProvider.update","parameters":[{"name":"project_id","in":"path","description":"The Project id","required":true,"schema":{"$ref":"#/components/schemas/Project/properties/id"}},{"name":"provider_id","in":"path","description":"The Provider id","required":true,"schema":{"$ref":"#/components/schemas/ProjectOauthProvider/properties/id"}},{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectOauthProvider"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ProjectOauthProvider"}},"text/x-yaml":{"schema":{"$ref":"#/components/schemas/ProjectOauthProvider"}}}}}},"delete":{"tags":["Users"],"summary":"Delete a specific oAuth provider","description":"","operationId":"v4_projects_oAuthProvider.destroy","parameters":[{"name":"project_id","in":"path","description":"The Project id","required":true,"schema":{"$ref":"#/components/schemas/Project/properties/id"}},{"name":"provider_id","in":"path","description":"The Provider id","required":true,"schema":{"$ref":"#/components/schemas/ProjectOauthProvider/properties/id"}},{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectOauthProvider"}},"application/xml":{"schema":{"$ref":"#/components/schemas/ProjectOauthProvider"}},"text/x-yaml":{"schema":{"$ref":"#/components/schemas/ProjectOauthProvider"}}}}}}},"/projects":{"get":{"tags":["Users"],"summary":"Returns the projects currently using the DBP","description":"Returns the projects currently registered that aren't labeled as sensitive","operationId":"v4_projects.index","parameters":[{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v4_projects_index"}},"application/xml":{"schema":{"$ref":"#/components/schemas/v4_projects_index"}},"text/x-yaml":{"schema":{"$ref":"#/components/schemas/v4_projects_index"}}}}}},"post":{"tags":["Users"],"summary":"Apply for a project_id","description":"It is recommended that you create a distinct project_id for each app using the API","operationId":"v4_projects.store","parameters":[{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"requestBody":{"description":"Information supplied for user creation","required":true,"content":{"application/json":{"schema":{"properties":{"name":{"$ref":"#/components/schemas/Project/properties/name"},"url_avatar":{"$ref":"#/components/schemas/Project/properties/url_avatar"},"url_avatar_icon":{"$ref":"#/components/schemas/Project/properties/url_avatar_icon"},"url_site":{"$ref":"#/components/schemas/Project/properties/url_site"},"description":{"$ref":"#/components/schemas/Project/properties/description"}},"type":"object"}}}},"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v4_projects_index"}},"application/xml":{"schema":{"$ref":"#/components/schemas/v4_projects_index"}},"text/x-yaml":{"schema":{"$ref":"#/components/schemas/v4_projects_index"}}}}}}},"/projects/{project_id}":{"get":{"tags":["Users"],"summary":"Get the details for a project","description":"","operationId":"v4_projects.show","parameters":[{"name":"project_id","in":"path","description":"The project id","schema":{"$ref":"#/components/schemas/Project/properties/id"}},{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v4_projects_index"}},"application/xml":{"schema":{"$ref":"#/components/schemas/v4_projects_index"}},"text/x-yaml":{"schema":{"$ref":"#/components/schemas/v4_projects_index"}}}}}},"put":{"tags":["Users"],"summary":"Update the details for a project","description":"","operationId":"v4_projects.update","parameters":[{"name":"project_id","in":"path","description":"The project id","schema":{"$ref":"#/components/schemas/Project/properties/id"}},{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v4_projects_index"}},"application/xml":{"schema":{"$ref":"#/components/schemas/v4_projects_index"}},"text/x-yaml":{"schema":{"$ref":"#/components/schemas/v4_projects_index"}}}}}},"delete":{"tags":["Users"],"summary":"Remove a project","description":"","operationId":"v4_projects.update","parameters":[{"name":"project_id","in":"path","description":"The project id","schema":{"$ref":"#/components/schemas/Project/properties/id"}},{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v4_projects_index"}},"application/xml":{"schema":{"$ref":"#/components/schemas/v4_projects_index"}},"text/x-yaml":{"schema":{"$ref":"#/components/schemas/v4_projects_index"}}}}}}},"/access/groups/":{"get":{"tags":["Admin"],"summary":"Update the specified Access group","description":"","operationId":"v4_access_groups.index","parameters":[{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccessGroup"}},"application/xml":{"schema":{"$ref":"#/components/schemas/AccessGroup"}},"text/x-yaml":{"schema":{"$ref":"#/components/schemas/AccessGroup"}}}}}},"post":{"tags":["Admin"],"summary":"Create the specified Access group","description":"","operationId":"v4_access_groups.store","parameters":[{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccessGroup"}},"application/xml":{"schema":{"$ref":"#/components/schemas/AccessGroup"}},"text/x-yaml":{"schema":{"$ref":"#/components/schemas/AccessGroup"}}}}}}},"/access/groups/{group_id}":{"get":{"tags":["Admin"],"summary":"Update the specified Access group","description":"","operationId":"v4_access_groups.show","parameters":[{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"},{"name":"group_id","in":"path","required":true,"schema":{"$ref":"#/components/schemas/AccessGroup/properties/id"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccessGroup"}},"application/xml":{"schema":{"$ref":"#/components/schemas/AccessGroup"}},"text/x-yaml":{"schema":{"$ref":"#/components/schemas/AccessGroup"}}}}}},"put":{"tags":["Admin"],"summary":"Update the specified Access group","description":"","operationId":"v4_access_groups.update","parameters":[{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"},{"name":"access_group_id","in":"path","required":true,"schema":{"$ref":"#/components/schemas/AccessGroup/properties/id"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccessGroup"}},"application/xml":{"schema":{"$ref":"#/components/schemas/AccessGroup"}},"text/x-yaml":{"schema":{"$ref":"#/components/schemas/AccessGroup"}}}}}},"delete":{"tags":["Admin"],"summary":"Remove the specified Access group","description":"","operationId":"v4_access_groups.destroy","parameters":[{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"},{"name":"access_group_id","in":"path","required":true,"schema":{"$ref":"#/components/schemas/AccessGroup/properties/id"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccessGroup"}},"application/xml":{"schema":{"$ref":"#/components/schemas/AccessGroup"}},"text/x-yaml":{"schema":{"$ref":"#/components/schemas/AccessGroup"}}}}}}},"/accounts":{"get":{"tags":["Users"],"summary":"List the Accounts","description":"","operationId":"v4_user_accounts.index","parameters":[{"name":"project_id","in":"query","description":"The Project ID","required":true,"schema":{"$ref":"#/components/schemas/Project/properties/id"}},{"name":"user_id","in":"query","description":"The User ID","required":true,"schema":{"$ref":"#/components/schemas/User/properties/id"}},{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Account"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Account"}},"text/x-yaml":{"schema":{"$ref":"#/components/schemas/Account"}}}}}},"post":{"tags":["Users"],"summary":"Create a new Account","description":"Associate a social media account with a different user.","operationId":"v4_user_accounts.store","parameters":[{"name":"project_id","in":"query","description":"The Project ID","required":true,"schema":{"$ref":"#/components/schemas/Project/properties/id"}},{"name":"user_id","in":"query","description":"The User ID","required":true,"schema":{"$ref":"#/components/schemas/User/properties/id"}},{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"requestBody":{"description":"Information supplied for user account creation","required":true,"content":{"application/json":{"schema":{"properties":{"provider_id":{"description":"Store a newly created resource in storage.","type":"string"},"provider_user_id":{"description":"Store a newly created resource in storage.","type":"string"}},"type":"object"}}}},"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Account"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Account"}},"text/x-yaml":{"schema":{"$ref":"#/components/schemas/Account"}}}}}}},"/accounts/{account_id}":{"get":{"tags":["Users"],"summary":"List the Accounts","description":"","operationId":"v4_user_accounts.show","parameters":[{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"},{"name":"account_id","in":"path","description":"The account_id","required":true,"schema":{"$ref":"#/components/schemas/Account/properties/id"}},{"name":"project_id","in":"query","description":"The Project ID","required":true,"schema":{"$ref":"#/components/schemas/Project/properties/id"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Account"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Account"}},"text/x-yaml":{"schema":{"$ref":"#/components/schemas/Account"}}}}}},"put":{"tags":["Users"],"summary":"Update a specific Account","description":"","operationId":"v4_user_accounts.update","parameters":[{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"},{"name":"project_id","in":"query","description":"The Project ID","required":true,"schema":{"$ref":"#/components/schemas/Project/properties/id"}},{"name":"user_id","in":"query","description":"The User ID","required":true,"schema":{"$ref":"#/components/schemas/User/properties/id"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Account"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Account"}},"text/x-yaml":{"schema":{"$ref":"#/components/schemas/Account"}}}}}},"delete":{"tags":["Users"],"summary":"Delete an account","description":"","operationId":"v4_user_accounts.delete","parameters":[{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"},{"name":"project_id","in":"query","description":"The Project ID","required":true,"schema":{"$ref":"#/components/schemas/Project/properties/id"}},{"name":"user_id","in":"query","description":"The User ID","required":true,"schema":{"$ref":"#/components/schemas/User/properties/id"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Account"}},"application/xml":{"schema":{"$ref":"#/components/schemas/Account"}},"text/x-yaml":{"schema":{"$ref":"#/components/schemas/Account"}}}}}}},"/users/{user_id}/bookmarks/":{"get":{"tags":["User"],"summary":"Returns a list of bookmarks for a specific user","description":"","operationId":"v4_user_annotation_bookmarks.index","parameters":[{"name":"user_id","in":"path","description":"The user_id","required":true,"schema":{"$ref":"#/components/schemas/User/properties/id"}},{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v4_user_bookmarks"}}}}}},"post":{"tags":["User"],"summary":"Create a brand new bookmark for a specific user","description":"Returns filtered permissions for a fileset dependent upon your authorization level and API key","operationId":"v4_user_annotation_bookmarks.store","parameters":[{"name":"user_id","in":"path","description":"The user_id","required":true,"schema":{"$ref":"#/components/schemas/User/properties/id"}},{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v4_user_bookmarks"}}}}}}},"/users/{user_id}/bookmarks/{bookmark_id}":{"put":{"tags":["User"],"summary":"Update an existing bookmark for a specific user","description":"","operationId":"v4_user_annotation_bookmarks.update","parameters":[{"name":"user_id","in":"path","required":true,"schema":{"$ref":"#/components/schemas/User/properties/id"}},{"name":"bookmark_id","in":"path","required":true,"schema":{"$ref":"#/components/schemas/User/properties/id"}},{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v4_user_bookmarks"}}}}}},"delete":{"tags":["User"],"summary":"Delete a new bookmark from a specific user","description":"","operationId":"v4_user_annotation_bookmarks.delete","parameters":[{"name":"user_id","in":"path","required":true,"schema":{"$ref":"#/components/schemas/User/properties/id"}},{"name":"bookmark_id","in":"path","required":true,"schema":{"$ref":"#/components/schemas/User/properties/id"}},{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v4_user_bookmarks"}}}}}}},"/users/{user_id}/highlights":{"get":{"tags":["Users"],"summary":"Get a list of highlights for a user/project combination","description":"The bible_id, book_id, and chapter parameters are optional but\n     *          will allow you to specify which specific highlights you wish returned.","operationId":"v4_highlights.index","parameters":[{"name":"user_id","in":"path","description":"The user who created the highlights","schema":{"$ref":"#/components/schemas/User/properties/id"}},{"name":"bible_id","in":"query","description":"The bible to filter highlights by","schema":{"$ref":"#/components/schemas/Bible/properties/id"}},{"name":"book_id","in":"query","description":"The book to filter highlights by","schema":{"$ref":"#/components/schemas/Book/properties/id"}},{"name":"chapter","in":"query","description":"The chapter to filter highlights by","schema":{"$ref":"#/components/schemas/BibleFile/properties/chapter_start"}},{"name":"limit","in":"query","description":"The number of highlights to include in each return","schema":{"type":"integer","default":15,"example":15}},{"name":"prefer_color","in":"query","description":"Choose the format that highlighted colors will be returned in. If no color\n     *          is not specified than the default is a six letter hexadecimal color.","schema":{"type":"string","default":"hex","enum":["hex","rgba","rgb","full"],"example":"hex"}},{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v4_highlights_index"}},"application/xml":{"schema":{"$ref":"#/components/schemas/v4_highlights_index"}},"text/x-yaml":{"schema":{"$ref":"#/components/schemas/v4_highlights_index"}}}}}},"post":{"tags":["Users"],"summary":"Create a user highlight","description":"","operationId":"v4_highlights.store","parameters":[{"name":"user_id","in":"path","schema":{"$ref":"#/components/schemas/User/properties/id"}},{"name":"bible_id","in":"query","schema":{"$ref":"#/components/schemas/Bible/properties/id"}},{"name":"book_id","in":"query","schema":{"$ref":"#/components/schemas/Book/properties/id"}},{"name":"chapter","in":"query","schema":{"$ref":"#/components/schemas/BibleFile/properties/chapter_start"}},{"name":"paginate","in":"query","schema":{"type":"integer","default":15,"example":15}},{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"requestBody":{"description":"Fields for User Highlight Creation","required":true,"content":{"application/json":{"schema":{"properties":{"bible_id":{"$ref":"#/components/schemas/Bible/properties/id"},"user_id":{"$ref":"#/components/schemas/User/properties/id"},"book_id":{"$ref":"#/components/schemas/Book/properties/id"},"chapter":{"$ref":"#/components/schemas/Highlight/properties/chapter"},"verse_start":{"$ref":"#/components/schemas/Highlight/properties/verse_start"},"reference":{"$ref":"#/components/schemas/Highlight/properties/reference"},"highlight_start":{"$ref":"#/components/schemas/Highlight/properties/highlight_start"},"highlighted_words":{"$ref":"#/components/schemas/Highlight/properties/highlighted_words"},"highlighted_color":{"$ref":"#/components/schemas/Highlight/properties/highlighted_color"}},"type":"object"}}}},"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v4_highlights_index"}},"application/xml":{"schema":{"$ref":"#/components/schemas/v4_highlights_index"}},"text/x-yaml":{"schema":{"$ref":"#/components/schemas/v4_highlights_index"}}}}}}},"/users/{user_id}/highlights/{highlight_id}":{"put":{"tags":["Users"],"summary":"Alter a user highlight","description":"","operationId":"v4_highlights.update","parameters":[{"name":"user_id","in":"path","schema":{"$ref":"#/components/schemas/User/properties/id"}},{"name":"highlight_id","in":"path","schema":{"$ref":"#/components/schemas/Highlight/properties/id"}},{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v4_highlights_index"}},"application/xml":{"schema":{"$ref":"#/components/schemas/v4_highlights_index"}},"text/x-yaml":{"schema":{"$ref":"#/components/schemas/v4_highlights_index"}}}}}},"delete":{"tags":["Users"],"summary":"Delete a user highlight","description":"","operationId":"v4_highlights.delete","parameters":[{"name":"user_id","in":"path","schema":{"$ref":"#/components/schemas/User/properties/id"}},{"name":"highlight_id","in":"path","schema":{"$ref":"#/components/schemas/Highlight/properties/id"}},{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v4_highlights_index"}},"application/xml":{"schema":{"$ref":"#/components/schemas/v4_highlights_index"}},"text/x-yaml":{"schema":{"$ref":"#/components/schemas/v4_highlights_index"}}}}}}},"/users/{user_id}/notes":{"get":{"tags":["Users"],"summary":"Get a list of Notes for a user/project combination","description":"Query information about a user's notes","operationId":"v4_notes.index","parameters":[{"name":"user_id","in":"path","description":"The user who created the note","schema":{"$ref":"#/components/schemas/User/properties/id"}},{"name":"bible_id","in":"query","description":"If provided the fileset_id will filter results to only those related to the Bible","schema":{"$ref":"#/components/schemas/BibleFileset/properties/id"}},{"name":"book_id","in":"query","description":"If provided the USFM 2.4 book id will filter results to only those related to the book","schema":{"$ref":"#/components/schemas/Book/properties/id"}},{"name":"chapter_id","in":"query","description":"The starting chapter","schema":{"$ref":"#/components/schemas/BibleFile/properties/chapter_start"}},{"name":"limit","in":"query","description":"The number of highlights to return","schema":{"type":"integer","example":15}},{"name":"paginate","in":"query","description":"When set to false will disable pagination","schema":{"type":"boolean","example":false}},{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"},{"$ref":"#/components/parameters/sort_by"},{"$ref":"#/components/parameters/sort_dir"}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v4_notes_index"}},"application/xml":{"schema":{"$ref":"#/components/schemas/v4_notes_index"}},"text/x-yaml":{"schema":{"$ref":"#/components/schemas/v4_notes_index"}}}}}}},"/users/{user_id}/notes/{note_id}":{"get":{"tags":["Users"],"summary":"Get a single Note","description":"","operationId":"v4_notes.show","parameters":[{"name":"user_id","in":"path","description":"The user who created the note","schema":{"$ref":"#/components/schemas/User/properties/id"}},{"name":"note_id","in":"path","description":"The note currently being altered","schema":{"$ref":"#/components/schemas/Note/properties/id"}},{"name":"bible_id","in":"query","description":"","schema":{"$ref":"#/components/schemas/BibleFileset/properties/id"}},{"name":"book_id","in":"query","description":"","schema":{"$ref":"#/components/schemas/Book/properties/id"}},{"name":"chapter_id","in":"query","description":"","schema":{"$ref":"#/components/schemas/BibleFile/properties/chapter_start"}},{"name":"project_id","in":"query","description":"","schema":{"$ref":"#/components/schemas/Project/properties/id"}},{"name":"limit","in":"query","description":"","schema":{"type":"integer","example":15}},{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v4_highlights_index"}},"application/xml":{"schema":{"$ref":"#/components/schemas/v4_highlights_index"}},"text/x-yaml":{"schema":{"$ref":"#/components/schemas/v4_highlights_index"}}}}}},"put":{"tags":["Users"],"summary":"Update a Note","description":"","operationId":"v4_notes.update","parameters":[{"name":"user_id","in":"path","description":"The user who created the note","schema":{"$ref":"#/components/schemas/User/properties/id"}},{"name":"note_id","in":"path","description":"The note currently being altered","schema":{"$ref":"#/components/schemas/Note/properties/id"}},{"name":"bible_id","in":"query","description":"","schema":{"$ref":"#/components/schemas/BibleFileset/properties/id"}},{"name":"book_id","in":"query","description":"","schema":{"$ref":"#/components/schemas/Book/properties/id"}},{"name":"chapter_id","in":"query","description":"","schema":{"$ref":"#/components/schemas/BibleFile/properties/chapter_start"}},{"name":"limit","in":"query","description":"","schema":{"type":"integer","example":15}},{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v4_highlights_index"}},"application/xml":{"schema":{"$ref":"#/components/schemas/v4_highlights_index"}},"text/x-yaml":{"schema":{"$ref":"#/components/schemas/v4_highlights_index"}}}}}},"delete":{"tags":["Users"],"summary":"Delete a Note","description":"","operationId":"v4_notes.destroy","parameters":[{"name":"user_id","in":"path","description":"The user who created the note","schema":{"$ref":"#/components/schemas/User/properties/id"}},{"name":"note_id","in":"path","description":"The note currently being deleted","schema":{"$ref":"#/components/schemas/Note/properties/id"}},{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v4_highlights_index"}},"application/xml":{"schema":{"$ref":"#/components/schemas/v4_highlights_index"}},"text/x-yaml":{"schema":{"$ref":"#/components/schemas/v4_highlights_index"}}}}}}},"/users/{user_id}/notes/":{"post":{"tags":["Users"],"summary":"Store a Note","description":"","operationId":"v4_notes.store","parameters":[{"name":"user_id","in":"path","description":"The user who is creating the note","schema":{"$ref":"#/components/schemas/User/properties/id"}},{"name":"bible_id","in":"query","description":"","schema":{"$ref":"#/components/schemas/BibleFileset/properties/id"}},{"name":"book_id","in":"query","description":"","schema":{"$ref":"#/components/schemas/Book/properties/id"}},{"name":"chapter_id","in":"query","description":"","schema":{"$ref":"#/components/schemas/BibleFile/properties/chapter_start"}},{"name":"project_id","in":"query","description":"","schema":{"$ref":"#/components/schemas/Project/properties/id"}},{"name":"limit","in":"query","description":"","schema":{"type":"integer","example":15}},{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"requestBody":{"description":"Fields for Note Creation","required":true,"content":{"application/json":{"schema":{"properties":{"bible_id":{"$ref":"#/components/schemas/Bible/properties/id"},"user_id":{"$ref":"#/components/schemas/User/properties/id"},"book_id":{"$ref":"#/components/schemas/Book/properties/id"},"chapter":{"$ref":"#/components/schemas/Note/properties/chapter"},"verse_start":{"$ref":"#/components/schemas/Note/properties/verse_start"},"notes":{"$ref":"#/components/schemas/Note/properties/notes"}},"type":"object"}}}},"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v4_highlights_index"}},"application/xml":{"schema":{"$ref":"#/components/schemas/v4_highlights_index"}},"text/x-yaml":{"schema":{"$ref":"#/components/schemas/v4_highlights_index"}}}}}}},"/users/reset/email":{"post":{"tags":["Users"],"summary":"Trigger a reset email","description":"","operationId":"v4_user.reset","parameters":[{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"requestBody":{"description":"Information supplied for password reset","required":true,"content":{"application/json":{"schema":{"required":["email","project_id"],"properties":{"email":{"$ref":"#/components/schemas/User/properties/email"},"project_id":{"$ref":"#/components/schemas/Project/properties/id"},"iso":{"$ref":"#/components/schemas/Language/properties/iso"},"password":{"$ref":"#/components/schemas/User/properties/password"},"new_password":{"$ref":"#/components/schemas/User/properties/password"}},"type":"object"}}}},"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v4_user_index"}},"application/xml":{"schema":{"$ref":"#/components/schemas/v4_user_index"}},"text/x-yaml":{"schema":{"$ref":"#/components/schemas/v4_user_index"}}}}}}},"/users/reset/password":{"post":{"tags":["Users"],"summary":"Reset the password for a user","description":"This route handles resetting the password for a user that is a member of the project id provided\n     *          If the password is known to the your users you can reset their passwords without the requirement to send\n     *          them a verification email by setting the optional fields `password` and `new_password` fields within the\n     *          request.","operationId":"v4_user.reset","parameters":[{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"requestBody":{"description":"Information supplied for password reset","required":true,"content":{"application/json":{"schema":{"required":["email","project_id","token_id","new_password","new_password_confirmed"],"properties":{"email":{"$ref":"#/components/schemas/User/properties/email"},"project_id":{"$ref":"#/components/schemas/Project/properties/id"},"token_id":{"description":"The token sent to the user's email","type":"string"},"old_password":{"$ref":"#/components/schemas/User/properties/password"},"new_password":{"$ref":"#/components/schemas/User/properties/password"},"new_password_confirmed":{"$ref":"#/components/schemas/User/properties/password"}},"type":"object"}}}},"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v4_user_index"}},"application/xml":{"schema":{"$ref":"#/components/schemas/v4_user_index"}},"text/x-yaml":{"schema":{"$ref":"#/components/schemas/v4_user_index"}}}}}}},"/users":{"get":{"tags":["Users"],"summary":"","description":"","operationId":"v4_user.index","parameters":[{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v4_user_index"}},"application/xml":{"schema":{"$ref":"#/components/schemas/v4_user_index"}},"text/x-yaml":{"schema":{"$ref":"#/components/schemas/v4_user_index"}}}}}},"post":{"tags":["Users"],"summary":"Create a new user","description":"","operationId":"v4_user.store","parameters":[{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"requestBody":{"description":"Information supplied for user creation","required":true,"content":{"application/json":{"schema":{"properties":{"avatar":{"$ref":"#/components/schemas/User/properties/avatar"},"email":{"$ref":"#/components/schemas/User/properties/email"},"name":{"$ref":"#/components/schemas/User/properties/name"},"password":{"$ref":"#/components/schemas/User/properties/password"},"project_id":{"$ref":"#/components/schemas/ProjectMember/properties/project_id"},"subscribed":{"$ref":"#/components/schemas/ProjectMember/properties/subscribed"},"social_provider_id":{"$ref":"#/components/schemas/Account/properties/provider_id"},"social_provider_user_id":{"$ref":"#/components/schemas/Account/properties/provider_user_id"}},"type":"object"}}}},"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v4_user_index"}},"application/xml":{"schema":{"$ref":"#/components/schemas/v4_user_index"}},"text/x-yaml":{"schema":{"$ref":"#/components/schemas/v4_user_index"}}}}}}},"/users/{id}":{"get":{"tags":["Users"],"summary":"Returns a single user","description":"","operationId":"v4_user.show","parameters":[{"name":"id","in":"path","description":"The user ID for which to retrieve info.","required":true,"schema":{"$ref":"#/components/schemas/User/properties/id"}},{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v4_user_show"}},"application/xml":{"schema":{"$ref":"#/components/schemas/v4_user_show"}},"text/x-yaml":{"schema":{"$ref":"#/components/schemas/v4_user_show"}}}}}},"put":{"tags":["Users"],"summary":"Create a new user","description":"","operationId":"v4_user.store","parameters":[{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"requestBody":{"description":"Information supplied for updating an existing user","required":true,"content":{"application/json":{"schema":{"properties":{"nickname":{"$ref":"#/components/schemas/User/properties/nickname"},"avatar":{"$ref":"#/components/schemas/User/properties/avatar"},"email":{"$ref":"#/components/schemas/User/properties/email"},"name":{"$ref":"#/components/schemas/User/properties/name"},"password":{"$ref":"#/components/schemas/User/properties/password"},"project_id":{"$ref":"#/components/schemas/ProjectMember/properties/project_id"},"subscribed":{"$ref":"#/components/schemas/ProjectMember/properties/subscribed"},"social_provider_id":{"$ref":"#/components/schemas/Account/properties/provider_id"},"social_provider_user_id":{"$ref":"#/components/schemas/Account/properties/provider_user_id"}},"type":"object"}}}},"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v4_user_index"}},"application/xml":{"schema":{"$ref":"#/components/schemas/v4_user_index"}},"text/x-yaml":{"schema":{"$ref":"#/components/schemas/v4_user_index"}}}}}}},"/users/login":{"post":{"tags":["Users"],"summary":"Login a user","description":"","operationId":"v4_user.login","parameters":[{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"requestBody":{"description":"Either the `email` & `password` or the `social_provider_user_id` & `social_provider_id` are required for user Login","required":true,"content":{"application/json":{"schema":{"properties":{"email":{"$ref":"#/components/schemas/User/properties/email"},"password":{"$ref":"#/components/schemas/User/properties/password"},"project_id":{"$ref":"#/components/schemas/Project/properties/id"},"social_provider_user_id":{"$ref":"#/components/schemas/Account/properties/provider_user_id"},"social_provider_id":{"$ref":"#/components/schemas/Account/properties/provider_id"}},"type":"object"}}}},"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v4_user_index"}},"application/xml":{"schema":{"$ref":"#/components/schemas/v4_user_index"}},"text/x-yaml":{"schema":{"$ref":"#/components/schemas/v4_user_index"}}}}}}},"/users/geolocate":{"get":{"tags":["Users"],"summary":"Geolocate a user by their Ip address","description":"","operationId":"v4_user.geolocate","parameters":[{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object"}},"application/xml":{"schema":{"type":"object"}},"text/x-yaml":{"schema":{"type":"object"}}}}}}},"/alphabets":{"get":{"tags":["Languages"],"summary":"Returns Alphabets","description":"Returns a list of the world's known scripts. This route might be useful to you if you'd like to\n     *     you if you'd like to query information about fonts, alphabets, and the world's writing systems. Some fileset\n     *     returns may not display correctly without a font delivered by these via the `alphabets/{id}` routes.","operationId":"v4_alphabets.all","parameters":[{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v4_alphabets_all_response"}},"application/xml":{"schema":{"$ref":"#/components/schemas/v4_alphabets_all_response"}},"text/x-yaml":{"schema":{"$ref":"#/components/schemas/v4_alphabets_all_response"}}}}}}},"/alphabets/{id}":{"get":{"tags":["Languages"],"summary":"Return a single Alphabets","description":"Returns a single alphabet along with whatever bibles and languages using it.","operationId":"v4_alphabets.one","parameters":[{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"},{"name":"id","in":"path","description":"The alphabet ID","required":true,"schema":{"$ref":"#/components/schemas/Alphabet/properties/script"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v4_alphabets_one_response"}},"application/xml":{"schema":{"$ref":"#/components/schemas/v4_alphabets_one_response"}},"text/x-yaml":{"schema":{"$ref":"#/components/schemas/v4_alphabets_one_response"}}}}}}},"/countries/":{"get":{"tags":["Countries"],"summary":"Returns Countries","description":"Returns the List of Countries","operationId":"v4_countries.all","parameters":[{"name":"l10n","in":"query","description":"When set to a valid three letter language iso, the returning results will be localized in\n     *                       the language matching that iso. (If an applicable translation exists).","schema":{"$ref":"#/components/schemas/Language/properties/iso"}},{"name":"has_filesets","in":"query","description":"Filter the returned countries to those containing languages that have filesets","schema":{"$ref":"#/components/schemas/BibleFileset/properties/id"}},{"name":"asset_id","in":"query","description":"Filter the returned countries to only those containing filesets for a specific asset","schema":{"$ref":"#/components/schemas/Asset/properties/id"}},{"name":"include_languages","in":"query","description":"When set to true, the return will include the major languages used in each country.\n     *                       You may optionally also include the language names by setting it to `with_names`","schema":{"type":"string"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v4_countries.all"}}}}}}},"/countries/{id}":{"get":{"tags":["Countries"],"summary":"Returns a single Country","description":"Returns a single Country","operationId":"v4_countries.one","parameters":[{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"},{"name":"id","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Country/properties/id"}},{"name":"communications","in":"query","schema":{"$ref":"#/components/schemas/CountryCommunication"}},{"name":"economy","in":"query","schema":{"$ref":"#/components/schemas/CountryEconomy"}},{"name":"energy","in":"query","schema":{"$ref":"#/components/schemas/CountryEnergy"}},{"name":"geography","in":"query","schema":{"$ref":"#/components/schemas/CountryGeography"}},{"name":"government","in":"query","schema":{"$ref":"#/components/schemas/CountryGovernment"}},{"name":"government","in":"query","schema":{"$ref":"#/components/schemas/CountryGovernment"}},{"name":"issues","in":"query","schema":{"$ref":"#/components/schemas/CountryIssues"}},{"name":"people","in":"query","schema":{"$ref":"#/components/schemas/CountryPeople"}},{"name":"ethnicities","in":"query","schema":{"$ref":"#/components/schemas/CountryEthnicity"}},{"name":"regions","in":"query","schema":{"$ref":"#/components/schemas/CountryRegion"}},{"name":"religions","in":"query","schema":{"$ref":"#/components/schemas/CountryReligion"}},{"name":"transportation","in":"query","schema":{"$ref":"#/components/schemas/CountryTransportation"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v4_countries.one"}}}}}}},"/languages/":{"get":{"tags":["Languages"],"summary":"Returns Languages","description":"Returns the List of Languages","operationId":"v4_languages.all","parameters":[{"name":"country","in":"query","description":"The country","schema":{"$ref":"#/components/schemas/Country/properties/id"}},{"name":"iso","in":"query","description":"The iso code to filter languages by","schema":{"$ref":"#/components/schemas/Language/properties/iso"}},{"name":"language_name","in":"query","description":"The language_name field will filter results by a specific language name","schema":{"type":"object"}},{"name":"sort_by","in":"query","description":"The sort_by field will order results by a specific field","schema":{"type":"object"}},{"name":"has_bibles","in":"query","description":"When set to true will filter language results depending whether or not they have bibles.","schema":{"type":"object"}},{"name":"has_filesets","in":"query","description":"When set to true will filter language results depending whether or not they have filesets.\n     *              Will add new filesets_count field to the return.","schema":{"type":"object","default":null,"example":true}},{"name":"asset_id","in":"query","description":"The bucket_id","schema":{"$ref":"#/components/schemas/Asset/properties/id"}},{"name":"include_alt_names","in":"query","description":"The include_alt_names","schema":{"$ref":"#/components/schemas/Language/properties/name"}},{"$ref":"#/components/parameters/l10n"},{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Language"}}}}}}},"/languages/{id}":{"get":{"tags":["Languages"],"summary":"Return a single Languages","description":"Returns a single Language","operationId":"v4_languages.one","parameters":[{"name":"id","in":"path","description":"The languages ID","required":true,"schema":{"$ref":"#/components/schemas/Language/properties/id"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Language"}}}}}}},"/numbers/range":{"get":{"tags":["Languages"],"summary":"Return a range of numbers","description":"This route returns the vernacular numbers for a set range.","operationId":"v4_numbers.range","parameters":[{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"},{"name":"iso","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Language/properties/iso"}},{"name":"start","in":"query","required":true,"schema":{"type":"object"}},{"name":"end","in":"query","required":true,"schema":{"type":"object"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v4_numbers_range"}},"application/xml":{"schema":{"$ref":"#/components/schemas/v4_numbers_range"}},"text/x-yaml":{"schema":{"$ref":"#/components/schemas/v4_numbers_range"}}}}}}},"/numbers":{"get":{"tags":["Languages"],"summary":"Return a all Alphabets that have a custom number sets","description":"Returns a range of numbers","operationId":"v4_numbers.index","parameters":[{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v4_alphabets_all_response"}},"application/xml":{"schema":{"$ref":"#/components/schemas/v4_alphabets_all_response"}},"text/x-yaml":{"schema":{"$ref":"#/components/schemas/v4_alphabets_all_response"}}}}}}},"/numbers/{id}":{"get":{"tags":["Languages"],"summary":"Return a single custom number set","description":"Returns a range of numbers","operationId":"v4_numbers.show","parameters":[{"name":"id","in":"path","description":"The Alphabet id","required":true,"schema":{"$ref":"#/components/schemas/Alphabet/properties/script"}},{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v4_alphabets_one_response"}},"application/xml":{"schema":{"$ref":"#/components/schemas/v4_alphabets_one_response"}},"text/x-yaml":{"schema":{"$ref":"#/components/schemas/v4_alphabets_one_response"}}}}}}}},"components":{"schemas":{"v4_api_assets":{"title":"The assets response","description":"The aws assets currently being used by the api","required":["id","organization_id"],"properties":{"id":{"$ref":"#/components/schemas/Asset/properties/id"},"organization_id":{"$ref":"#/components/schemas/Asset/properties/organization_id"}},"type":"object","xml":{"name":"v4_api_assets"}},"v2_video_location":{"title":"The single alphabet response","description":"","properties":{"server":{"description":"Video Location"},"root_path":{"description":"Video Location"},"protocol":{"description":"Video Location"},"CDN":{"description":"Video Location"},"priority":{"description":"Video Location"}},"type":"object","xml":{"name":"v2_video_location"}},"v4_numbers_range":{"title":"The numbers range return","description":"The numbers range return","type":"array","items":{"properties":{"numeral":{"type":"string"},"numeral_vernacular":{"type":"string"}},"type":"object"},"xml":{"name":"v4_numbers_range"}},"Bible":{"title":"Bible","description":"Bible","properties":{"id":{"title":"id","description":"The Archivist created Bible ID string. This will be between six and twelve letters usually starting with the iso639-3 code and ending with the acronym for the Bible","type":"string","maxLength":12,"minLength":6,"example":"ENGESV"},"language_id":{"$ref":"#/components/schemas/Language/properties/id"},"date":{"title":"date","description":"The year the Bible was originally published","type":"integer","maximum":2030,"minimum":1},"scope":{"$ref":"#/components/schemas/BibleFilesetSize/properties/set_size_code"},"script":{"$ref":"#/components/schemas/Alphabet/properties/script"},"derived":{"title":"derived","description":"This field indicates the `bible_id` of the Scriptures that the current Scriptures being described are derived. For example, because the NIrV (New International Reader's Version) was created from / inspired by the NIV (New International Version). If this model was describing ENGNIRV the derived field would be ENGNIV.","type":"string","nullable":true},"copyright":{"title":"copyright","description":"A short copyright description for the bible text.","type":"string","maxLength":191},"in_progress":{"title":"in_progress","description":"If the Bible being described is currently in progress.","type":"string"},"versification":{"title":"versification","description":"The versification system for ordering books and chapters","type":"string","enum":["protestant","luther","synodal","german","kjva","vulgate","lxx","orthodox","nrsva","catholic","finnish"]},"created_at":{"title":"created_at","description":"The timestamp at which the bible was originally created","type":"string"},"updated_at":{"title":"updated_at","description":"The timestamp at which the bible was last updated","type":"string"}},"type":"object","xml":{"name":"Bible"}},"BibleBook":{"title":"Bible Book","description":"The Bible Book Model stores the vernacular book titles and chapters","properties":{"bible_id":{"$ref":"#/components/schemas/Bible/properties/id"},"book_id":{"$ref":"#/components/schemas/Book/properties/id"},"name":{"title":"name","description":"The name of the book in the language of the bible","type":"string","maxLength":191},"name_short":{"title":"name_short","description":"If the vernacular name has an abbreviated form, it will be stored hre","type":"string","maxLength":191},"chapters":{"title":"chapters","description":"A string of the chapters in the book separated by a comma","type":"string","maxLength":491}},"type":"object","xml":{"name":"BibleBook"}},"BibleEquivalent":{"title":"BibleEquivalent","description":"The Bible Equivalent Model stores the connections between the bible IDs and external organizations","properties":{"bible_id":{"$ref":"#/components/schemas/Bible/properties/id"},"equivalent_id":{"title":"equivalent_id","description":"The equivalent_id","type":"string","maxLength":191,"example":"FreGeneve1669"},"organization_id":{"$ref":"#/components/schemas/Organization/properties/id"},"type":{"title":"type","description":"The type of connection that the equivalent id refers to","type":"string","maxLength":191,"example":"desktop-app"},"site":{"title":"site","description":"The name of the site/organization/app where the equivalent id is based","type":"string","maxLength":191,"example":"eSword"},"suffix":{"title":"site","description":"Additional metadata affecting the type of equivalent connection","type":"string","maxLength":191,"example":"Authorized Version with Strong's"},"constructed_url":{"title":"Constructed Url","description":"The full path to the resource which the equivalent describes","type":"string","maxLength":191,"example":"https://example.com/bibles/ENGKJV"}},"type":"object","xml":{"name":"BibleEquivalent"}},"BibleFile":{"title":"BibleFile","description":"The Bible File Model communicates information about biblical files stored in S3","required":["filename"],"properties":{"id":{"title":"id","description":"The id","type":"integer","minimum":0,"example":4},"hash_id":{"title":"hash_id","description":"The hash_id","type":"string"},"book_id":{"title":"book_id","description":"The book_id","type":"string"},"chapter_start":{"title":"chapter_start","description":"The chapter_start","type":"integer","maximum":150,"minimum":0,"example":4},"chapter_end":{"title":"chapter_end","description":"If the Bible File spans multiple chapters this field indicates the last chapter of the selection","type":"integer","maximum":150,"minimum":0,"example":5,"nullable":true},"verse_start":{"title":"verse_start","description":"The starting verse at which the BibleFile reference begins","type":"integer","maximum":176,"minimum":1,"example":5},"verse_end":{"title":"verse_end","description":"If the Bible File spans multiple verses this value will indicate the last verse in that reference. This value is inclusive, so for the reference John 1:1-4. The value would be 4 and the reference would contain verse 4.","type":"string","maximum":176,"minimum":1,"example":5,"nullable":true},"verse_text":{"title":"verse_text","description":"If the BibleFile model returns text instead of a file_name this field will contain it.","type":"string","example":"And God said unto Abraham, And as for thee, thou shalt keep my covenant, thou, and thy seed after thee throughout their generations."},"file_name":{"title":"file_name","description":"The file_name","type":"string","maxLength":191},"file_size":{"title":"file_size","description":"The file size in kilobytes","type":"integer"},"duration":{"title":"duration","description":"If the file has a set length of time, this field indicates that time in milliseconds","type":"integer","minimum":0,"nullable":true}},"type":"object","xml":{"name":"BibleFile"}},"BibleFileTimestamp":{"title":"Bible File Timestamp","description":"The Bible File Timestamp tag model partitions the file into verse by verse sections","properties":{"id":{"title":"file_id","description":"The incrementing id of the file timestamp","type":"integer","minimum":1},"verse_start":{"title":"verse_start","description":"The starting verse for the file timestamp","type":"integer","minimum":1},"verse_end":{"title":"verse_end","description":"The ending verse for the file timestamp","type":"integer","minimum":1},"timestamp":{"title":"timestamp","description":"The ending verse for the file timestamp","type":"integer","minimum":1}},"type":"object","xml":{"name":"BibleFileTimestamp"}},"BibleFileTitle":{"title":"BibleFileTitle","description":"The Bible File Title model communicates information about generalized fileset sizes","properties":{"file_id":{"title":"file_id","description":"The incrementing id of the file timestamp","type":"integer"},"iso":{"title":"iso","description":"The translation language of the title","type":"string"},"title":{"title":"title","description":"The title of the file","type":"string"},"description":{"title":"description","description":"The description of the file title","type":"string"},"key_words":{"title":"key_words","description":"The words","type":"string"}},"type":"object","xml":{"name":"BibleFileTitle"}},"BibleFileset":{"title":"Bible Fileset","description":"BibleFileset","properties":{"id":{"title":"id","description":"The fileset id","type":"string","maxLength":16,"minLength":6},"hash_id":{"title":"hash_id","description":"The hash_id generated from the `bucket_id`, `set_type_code`, and `id`","type":"string","maxLength":12,"minLength":12},"asset_id":{"title":"asset_id","description":"The asset id of the AWS Bucket or CloudFront instance","type":"string","maxLength":64},"set_type_code":{"title":"set_type_code","description":"The set_type_code indicating the type of the fileset","type":"string","maxLength":3},"set_size_code":{"title":"set_size_code","description":"The set_size_code indicating the size of the fileset","type":"string","maxLength":3},"created_at":{"title":"created_at","description":"The timestamp at which the fileset was originally created","type":"string"},"updated_at":{"title":"updated_at","description":"The timestamp at which the fileset was last updated","type":"string"}},"type":"object","xml":{"name":"BibleFileset"}},"BibleFilesetConnection":{"title":"BibleFileset Connection","description":"BibleFilesetConnection","properties":{"hash_id":{"$ref":"#/components/schemas/BibleFileset/properties/hash_id"},"bible_id":{"$ref":"#/components/schemas/Bible/properties/id"}},"type":"object","xml":{"name":"BibleFilesetConnection"}},"BibleFilesetCopyright":{"title":"Bible Fileset Copyright","description":"BibleFilesetCopyright","properties":{"hash_id":{"title":"hash id","description":"The hash value for the created fileset","type":"string","maxLength":12,"minLength":12,"example":"ENGESV"},"copyright_date":{"title":"copyright_date","description":"The copyright date created copyright","type":"string","example":"ENGESV"},"copyright":{"title":"copyright","description":"The copyright","type":"string"},"copyright_description":{"title":"copyright_description","description":"The copyright description","type":"string"},"open_access":{"title":"open_access","description":"The open_access description","type":"string"}},"type":"object","xml":{"name":"BibleFilesetCopyright"}},"BibleFilesetSize":{"title":"BibleFilesetSize","description":"The Bible fileset size model communicates information about generalized fileset sizes","required":["filename"],"properties":{"id":{"title":"id","description":"The id","type":"integer","minimum":0,"example":4},"set_size_code":{"title":"set_size_code","description":"The id","type":"string","maxLength":9,"example":"NTPOTP"},"name":{"title":"name","description":"The name","type":"string","maxLength":191,"example":"New Testament & Old Testament Portions"}},"type":"object","xml":{"name":"BibleFilesetSize"}},"BibleFilesetTag":{"title":"BibleFilesetSize","description":"The Bible fileset tag model communicates general metadata about the filesets","required":["filename"],"properties":{"hash_id":{"$ref":"#/components/schemas/BibleFileset/properties/hash_id"},"name":{"title":"name","description":"The name of the tag, serves as the key/category","type":"string","maxLength":191},"description":{"title":"description","description":"The content of the tag, serves as the value of the key value pair of name/description","type":"string"},"admin_only":{"title":"admin_only","description":"If the tag is only to be visible to admin / archivist users","type":"boolean"},"notes":{"title":"notes","description":"Any notes about the tag","type":"string"},"iso":{"$ref":"#/components/schemas/Language/properties/iso"}},"type":"object","xml":{"name":"BibleFilesetSize"}},"BibleFilesetType":{"title":"Bible Fileset Type","description":"The Bible Fileset Type model communicates general metadata about the bible_filesets.set_size_code","required":["filename"],"properties":{"id":{"title":"id","description":"","type":"string"},"set_type_code":{"title":"set_type_code","description":"","type":"string"},"name":{"title":"name","description":"","type":"string"},"created_at":{"title":"created_at","description":"","type":"string"},"updated_at":{"title":"updated_at","description":"","type":"string"}},"type":"object","xml":{"name":"BibleFilesetType"}},"BibleLink":{"title":"BibleLink","description":"BibleLink","properties":{"id":{"title":"id","description":"","type":"string"},"bible_id":{"title":"bible_id","description":"","type":"string"},"type":{"title":"type","description":"","type":"string"},"url":{"title":"url","description":"","type":"string"},"title":{"title":"title","description":"","type":"string"},"organization_id":{"title":"organization_id","description":"","type":"string"},"created_at":{"title":"created_at","description":"","type":"string"},"updated_at":{"title":"updated_at","description":"","type":"string"},"provider":{"title":"provider","description":"","type":"string"}},"type":"object","xml":{"name":"BibleLink"}},"BibleOrganization":{"title":"BibleOrganization","description":"BibleOrganization","properties":{"bible_id":{"$ref":"#/components/schemas/Bible/properties/id"},"organization_id":{"$ref":"#/components/schemas/Organization/properties/id"},"relationship_type":{"title":"relationship_type","description":"","type":"string"},"created_at":{"title":"created_at","description":"","type":"string"},"updated_at":{"title":"updated_at","description":"","type":"string"}},"type":"object","xml":{"name":"BibleOrganization"}},"BibleTranslation":{"title":"BibleTranslation","description":"BibleTranslation","properties":{"id":{"title":"id","description":"","type":"string"},"iso":{"title":"iso","description":"","type":"string"},"bible_id":{"title":"iso","description":"","type":"string"},"vernacular":{"title":"bible_id","description":"","type":"string"},"vernacular_trade":{"title":"bible_id","description":"","type":"string"},"name":{"title":"vernacular","description":"","type":"string"},"type":{"title":"vernacular_trade","description":"","type":"string"},"features":{"title":"name","description":"","type":"string"},"description":{"title":"type","description":"","type":"string"},"notes":{"title":"features","description":"","type":"string"}},"type":"object","xml":{"name":"BibleTranslation"}},"Book":{"title":"Book","description":"The Book model communicates information about the canonical books of the Bible","properties":{"id":{"title":"id","description":"The USFM 2.4 id for the books of the Bible","type":"string","maxLength":3,"minLength":3},"id_usfx":{"title":"id_usfx","description":"The usfx id for the books of the Bible","type":"string","maxLength":2,"minLength":2},"id_osis":{"title":"id_osis","description":"The OSIS id for the books of the Bible","type":"string","maxLength":2,"minLength":2},"protestant_order":{"title":"protestant_order","description":"The standard book order for the `protestant_order` in ascending order from Genesis onwards","type":"integer","minimum":0},"luther_order":{"title":"luther_order","description":"The standard book order for the `luther_order` in ascending order from Genesis onwards","type":"integer","minimum":0},"synodal_order":{"title":"synodal_order","description":"The standard book order for the `synodal_order` in ascending order from Genesis onwards","type":"integer","minimum":0},"german_order":{"title":"german_order","description":"The standard book order for the `german_order` in ascending order from Genesis onwards","type":"integer","minimum":0},"kjva_order":{"title":"kjva_order","description":"The standard book order for the `kjva_order` in ascending order from Genesis onwards","type":"integer","minimum":0},"vulgate_order":{"title":"vulgate_order","description":"The standard book order for the `vulgate_order` in ascending order from Genesis onwards","type":"integer","minimum":0},"lxx_order":{"title":"lxx_order","description":"The standard book order for the `lxx_order` in ascending order from Genesis onwards","type":"integer","minimum":0},"orthodox_order":{"title":"orthodox_order","description":"The standard book order for the `orthodox_order` in ascending order from Genesis onwards","type":"integer","minimum":0},"nrsva_order":{"title":"nrsva_order","description":"The standard book order for the `nrsva_order` in ascending order from Genesis onwards","type":"integer","minimum":0},"catholic_order":{"title":"catholic_order","description":"The standard book order for the `catholic_order` in ascending order from Genesis onwards","type":"integer","minimum":0},"finnish_order":{"title":"finnish_order","description":"The standard book order for the `finnish_order` in ascending order from Genesis onwards","type":"integer","minimum":0},"testament_order":{"title":"testament_order","description":"The standard book order within a testament in ascending order from Genesis to Malachi, and Matthew to Revelations","type":"integer","minimum":0},"book_testament":{"title":"book_testament","description":"A short code identifying the testament containing the book","type":"string","maxLength":2,"minLength":2,"enum":["OT","NT","AP"]},"book_group":{"title":"book_group","description":"An english name for the section of books that current book can be categorized in","type":"string","enum":["Historical Books","Pauline Epistles","General Epistles","Apostolic History","Minor Prophets","Major Prophets","The Law","Wisdom Books","Gospels","Apocalypse"]},"chapters":{"title":"chapters","description":"The book's number of chapters","type":"integer","nullable":true},"verses":{"title":"verses","description":"The book's number of verses","type":"integer","nullable":true},"name":{"title":"name","description":"The English name of the book","type":"string"},"notes":{"title":"notes","description":"Any archivist notes about the book","type":"string"},"description":{"title":"description","description":"The book's description","type":"string"},"created_at":{"title":"created_at","description":"The timestamp for the books creation","type":"string"},"updated_at":{"title":"updated_at","description":"The timestamp for the last update of the book","type":"string"}},"type":"object","xml":{"name":"Book"}},"BookTranslation":{"title":"BookTranslation","description":"The Book Translation's model","properties":{"iso":{"$ref":"#/components/schemas/Language/properties/iso"},"book_id":{"$ref":"#/components/schemas/Book/properties/id"},"name":{"title":"name","description":"The translated name of the biblical book","type":"string"},"name_long":{"title":"name_long","description":"The long form of the translated name","type":"string"},"name_short":{"title":"name_short","description":"The short form of the translated name","type":"string"},"name_abbreviation":{"title":"name_abbreviation","description":"The abbreviated form of the translated name","type":"string"},"created_at":{"title":"created_at","description":"The timestamp that the translated name was originally created","type":"string"},"updated_at":{"title":"updated_at","description":"The timestamp that the translated name was last updated","type":"string"}},"type":"object","xml":{"name":"BookTranslation"}},"BookName":{"title":"BookName","description":"The Book Name model","properties":{"AL":{"title":"Alternative","description":"","type":"string","example":""},"ON":{"title":"Old and New Testament","description":"The translated string for the combined testaments of the bible","type":"string","example":""},"OT":{"title":"Old Testament","description":"The translated string for the old testament of the bible","type":"string","example":"Vieux Testament"},"NT":{"title":"New Testament","description":"The translated string for the new testament of the bible","type":"string","example":"Nouveau Testament"},"AP":{"title":"Apocrypha","description":"The translated string for the collected apocryphal books","type":"string","example":""},"VU":{"title":"Vulgate","description":"The translation string for the Vulgate","type":"string","example":""},"ET":{"title":"Ethiopian Orthodox Canon/Geez Translation Additions","description":"The translation string for the Ethiopian Orthodox order for books of the bible","type":"string","example":""},"CO":{"title":"Coptic Orthodox Canon Additions","description":"The translation string for the Coptic Orthodox order for books of the bible","type":"string","example":""},"AO":{"title":"Armenian Orthodox Canon Additions","description":"The translation string for the Armenian Orthodox order for books of the bible","type":"string","example":""},"PE":{"title":"Peshitta","description":"The translation string for Peshitta","type":"string","example":""},"CS":{"title":"Codex Sinaiticus","description":"The translation string for Codex Sinaiticus","type":"string","example":""},"Gen":{"title":"Genesis","description":"The translation string for the book Genesis","type":"string","example":"Genèse"},"Exod":{"title":"Exodus","type":"string","example":"Exode"},"Lev":{"title":"Leviticus","type":"string","example":"Lévitique"},"Num":{"title":"Numbers","type":"string","example":"Nombres"},"Deut":{"title":"Deuteronomy","type":"string","example":"Deutéronome"},"Josh":{"title":"Joshua","type":"string","example":"Josué"},"Judg":{"title":"Judges","type":"string","example":"Juges"},"Ruth":{"title":"Ruth","type":"string","example":"Ruth"},"1Sam":{"title":"1 Samuel","type":"string","example":"Iier Samuel"},"2Sam":{"title":"2 Samuel","type":"string","example":"IIième Samuel"},"1Kgs":{"title":"1 Kings","type":"string","example":"Iier Rois"},"2Kgs":{"title":"2 Kings","type":"string","example":"IIième Rois"},"1Chr":{"title":"1 Chronicles","type":"string","example":"Iier Chroniques"},"2Chr":{"title":"2 Chronicles","type":"string","example":"IIième Chroniques"},"Ezra":{"title":"Ezra","type":"string","example":"Esdras"},"Neh":{"title":"Nehemiah","type":"string","example":"Néhémie"},"Esth":{"title":"Esther","type":"string","example":"Esther"},"Job":{"title":"Job","type":"string","example":"Job"},"Ps":{"title":"Psalm","type":"string","example":"Psaumes"},"Prov":{"title":"Proverbs","type":"string","example":"Proverbes"},"Eccl":{"title":"Ecclesiastes","type":"string","example":"Ecclésiaste"},"Song":{"title":"Song of Solomon","type":"string","example":"Cantique des Cantiques"},"Isa":{"title":"Isaiah","type":"string","example":"Esaïe"},"Jer":{"title":"Jeremiah","type":"string","example":"Jérémie"},"Lam":{"title":"Lamentations","type":"string","example":"Lamentation"},"Ezek":{"title":"Ezekiel","type":"string","example":"Ezékiel"},"Dan":{"title":"Daniel","type":"string","example":"Daniel"},"Hos":{"title":"Hosea","type":"string","example":"Osée"},"Joel":{"title":"Joel","type":"string","example":"Joël"},"Amos":{"title":"Amos","type":"string","example":"Amos"},"Obad":{"title":"Obadiah","type":"string","example":"Abdias"},"Jonah":{"title":"Jonah","type":"string","example":"Jonas"},"Mic":{"title":"Micah","type":"string","example":"Michée"},"Nah":{"title":"Nahum","type":"string","example":"Nahum"},"Hab":{"title":"Habakkuk","type":"string","example":"Habacuc"},"Zeph":{"title":"Zephaniah","type":"string","example":"Sophonie"},"Hag":{"title":"Haggai","type":"string","example":"Aggée"},"Zech":{"title":"Zechariah","type":"string","example":"Zacharie"},"Mal":{"title":"Malachi","type":"string","example":"Malachie"},"Matt":{"title":"Matthew","type":"string","example":"Matthieu"},"Mark":{"title":"Mark","type":"string","example":"Marc"},"Luke":{"title":"Luke","type":"string","example":"Luc"},"John":{"title":"John","type":"string","example":"Jean"},"Acts":{"title":"Acts","type":"string","example":"Actes"},"Rom":{"title":"Romans","type":"string","example":"Romains"},"1Cor":{"title":"1 Corinthians","type":"string","example":"Iier Corinthiens"},"2Cor":{"title":"2 Corinthians","type":"string","example":"IIième Corinthiens"},"Gal":{"title":"Galatians","type":"string","example":"Galates"},"Eph":{"title":"Ephesians","type":"string","example":"Ephésiens"},"Phil":{"title":"Philippians","type":"string","example":"Philippiens"},"Col":{"title":"Colossians","type":"string","example":"Colossiens"},"1Thess":{"title":"1 Thessalonians","type":"string","example":"Iier Thessaloniciens"},"2Thess":{"title":"2 Thessalonians","type":"string","example":"IIième Thessaloniciens"},"1Tim":{"title":"1 Timothy","type":"string","example":"Iier Timothée"},"2Tim":{"title":"2 Timothy","type":"string","example":"IIième Timothée"},"Titus":{"title":"Titus","type":"string","example":"Tite"},"Phlm":{"title":"Philemon","type":"string","example":"Philémon"},"Heb":{"title":"Hebrews","type":"string","example":"Hébreux"},"Jas":{"title":"James","type":"string","example":"Jacques"},"1Pet":{"title":"1 Peter","type":"string","example":"Iier Pierre"},"2Pet":{"title":"2 Peter","type":"string","example":"IIième Pierre"},"1John":{"title":"1 John","type":"string","example":"Iier Jean"},"2John":{"title":"2 John","type":"string","example":"IIième Jean"},"3John":{"title":"3 John","type":"string","example":"IIIième Jean"},"Jude":{"title":"Jude","type":"string","example":""},"Rev":{"title":"Revelation","type":"string","example":"Apocalypse"},"Tob":{"title":"Tobit","type":"string","example":""},"Jdt":{"title":"Judith","type":"string","example":""},"Sir":{"title":"Sirach","type":"string","example":"Siracide"},"Bar":{"title":"Baruch","type":"string","example":"Baruc"},"PrAzar":{"title":"Prayer of Azariah","type":"string","example":""},"Sus":{"title":"Susanna","type":"string","example":""},"Bel":{"title":"Bel and the Dragon","type":"string","example":""},"1Macc":{"title":"1 Maccabees","type":"string","example":"1 Maccabées"},"2Macc":{"title":"2 Maccabees","type":"string","example":"2 Maccabées"},"3Macc":{"title":"3 Maccabees","type":"string","example":""},"4Macc":{"title":"4 Maccabees","type":"string","example":""},"PrMan":{"title":"Prayer of Manasseh","type":"string","example":""},"1Esd":{"title":"1 Esdras","type":"string","example":""},"2Esd":{"title":"2 Esdras","type":"string","example":""},"DanGr":{"title":"Greek Daniel","type":"string","example":""}},"type":"object","xml":{"name":"BookName"}},"Video":{"title":"VideoTranslations","description":"The Video model holds information about biblical films. It serves as a wrapper for all Video{Value} Models including VideoTags and VideoTranslations.","properties":{"id":{"title":"id","description":"","type":"string"},"language_id":{"title":"language_id","description":"","type":"string"},"bible_id":{"title":"bible_id","description":"","type":"string"},"series":{"title":"series","description":"","type":"string"},"episode":{"title":"episode","description":"","type":"string"},"section":{"title":"section","description":"","type":"string"},"url":{"title":"url","description":"","type":"string"},"url_download":{"title":"url_download","description":"","type":"string"},"picture":{"title":"picture","description":"","type":"string"},"duration":{"title":"duration","description":"","type":"string"},"created_at":{"title":"created_at","description":"","type":"string"},"updated_at":{"title":"updated_at","description":"","type":"string"}},"type":"object","xml":{"name":"VideoTranslations"}},"VideoTag":{"title":"VideoTags","description":"The VideoTags model holds miscellaneous information about the video model.","properties":{"id":{"title":"id","description":"The incrementing id of the video tag","type":"integer"},"video_id":{"title":"video_id","description":"The video id","type":"integer"},"category":{"title":"category","description":"The category","type":"integer"},"tag_type":{"title":"category","description":"The category","type":"integer"},"tag":{"title":"tag","description":"The tag","type":"string"},"language_id":{"title":"tag","description":"The language_id","type":"integer","nullable":true},"organization_id":{"title":"organization_id","description":"The language_id","type":"integer","nullable":true},"book_id":{"title":"book_id","description":"The book id","type":"string","nullable":true},"chapter_start":{"title":"chapter_start","description":"The starting chapter","type":"integer","nullable":true},"chapter_end":{"title":"chapter_end","description":"The ending chapter","type":"integer","nullable":true},"verse_start":{"title":"verse_start","description":"The verse_start","type":"integer","nullable":true},"verse_end":{"title":"verse_end","description":"The verse_end","type":"integer","nullable":true},"time_begin":{"title":"time_begin","description":"The time_begin","type":"integer","nullable":true},"time_end":{"title":"time_end","description":"The time_end","type":"integer","nullable":true},"created_at":{"title":"created_at","description":"The created_at","type":"string","nullable":true},"updated_at":{"title":"updated_at","description":"The updated_at","type":"string","nullable":true}},"type":"object","xml":{"name":"VideoTags"}},"Country":{"title":"Country","description":"Country","properties":{"id":{"title":"Country Iso 3166-1","description":"The Country ID for the country aligning with the ISO 3166-1 standard","type":"string","maxLength":2,"minLength":2,"externalDocs":{"description":"For more info please refer to the Iso Registration Authority","url":"https://www.iso.org/iso-3166-country-codes.html"},"example":"AD"},"iso_a3":{"title":"Country Iso 3166-3","description":"The Country iso for the country aligning with the ISO 3166-3 standard","type":"string","maxLength":3,"minLength":3,"externalDocs":{"description":"For more info please refer to the Iso Wiki","url":"https://en.wikipedia.org/wiki/ISO_3166-3"},"example":"AND"},"fips":{"title":"FIPS ID","description":"The Country id for the country aligning with the FIPS standard of the United Nations","type":"string","maxLength":2,"minLength":2,"externalDocs":{"description":"For more info please refer to the FIPS Wiki","url":"https://en.wikipedia.org/wiki/List_of_FIPS_country_codes"},"example":"AN"},"continent":{"title":"continent ID","description":"The continent code for the country","type":"string","maxLength":2,"minLength":2,"example":"EU"},"name":{"title":"Country Name","description":"The name for the country in English","type":"string","maxLength":191,"example":"Andorra"},"introduction":{"title":"Country introduction","description":"A brief description of the country in English","type":"string","example":"The landlocked Principality of Andorra is one of the smallest states in Europe, nestled high in the Pyrenees..."}},"type":"object","xml":{"name":"Country"}},"CountryLanguage":{"title":"Country Language","description":"Country Language","properties":{"country_id":{"title":"continent ID"
[...]
