{"openapi":"3.0.0","info":{"title":"Digital Bible Platform","description":"A Bible API","termsOfService":"http://dbp4.org/terms/","contact":{"email":"jon@dbs.org"},"license":{"name":"Apache 2.0","url":"http://www.apache.org/licenses/LICENSE-2.0.html"},"version":"4.0.0"},"servers":[{"url":"https://api.dbp4.org","description":"Live Server","variables":{"schema":{"enum":["https"],"default":"https"}}},{"url":"https://api.dbp.test","description":"Development server","variables":{"schema":{"enum":["https"],"default":"https"}}}],"paths":{"/library/asset":{"get":{"tags":["Library Catalog"],"summary":"Returns Library File path information","description":"This call returns the file path information. This information can be used with the response of the locations calls to create a URI to retrieve files.","operationId":"v2_library_asset","parameters":[{"name":"dam_id","in":"query","description":"The DAM ID for which to retrieve file path info.","schema":{"$ref":"#/components/schemas/BibleFileset/properties/id"}},{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2_library_asset"}},"application/xml":{"schema":{"$ref":"#/components/schemas/v2_library_asset"}}}}}}},"/api/apiversion":{"get":{"tags":["API"],"summary":"Returns version information","description":"Gives information about return types of the different versions of the APIs","operationId":"v2_api_versionLatest","parameters":[{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2_api_versionLatest"}},"application/xml":{"schema":{"$ref":"#/components/schemas/v2_api_versionLatest"}}}}}}},"/api/reply":{"get":{"tags":["API"],"summary":"Returns version information","description":"Gives information about return types of the different versions of the APIs","operationId":"v2_api_apiReply","parameters":[{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2_api_apiReply"}},"application/xml":{"schema":{"$ref":"#/components/schemas/v2_api_apiReply"}}}}}}},"/audio/path":{"get":{"tags":["Library Audio"],"summary":"Returns Audio File path information","description":"This call returns the file path information for audio files within a volume\n               This information can be used with the response of the /audio/location call to create\n               a URI to retrieve the audio files.","operationId":"v2_audio_path","parameters":[{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"},{"name":"dam_id","in":"path","description":"The DAM ID for which to retrieve file path info.","required":true,"schema":{"$ref":"#/components/schemas/BibleFileset/properties/id"}},{"name":"chapter_id","in":"query","description":"If this value is the return will be limited to the provided chapter","schema":{"$ref":"#/components/schemas/BibleFile/properties/chapter_start"}},{"name":"encoding","in":"query","description":"The audio encoding format desired (No longer in use as Audio Files default to mp3).","schema":{"title":"encoding","type":"string"}},{"name":"asset_id","in":"query","description":"The asset id that contains the resource.","schema":{"$ref":"#/components/schemas/Asset/properties/id"}},{"name":"book_id","in":"query","description":"The USFM 2.4 book ID.","schema":{"$ref":"#/components/schemas/Book/properties/id"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2_audio_path"}}}}}}},"/audio/versestart":{"get":{"tags":["Library Audio"],"summary":"Returns Audio timestamps for a specific reference","description":"This route will return timestamps restricted to specific book and chapter\n               combination for a fileset. Note that the fileset id must be available via the path\n               `/timestamps`. At first, only a few filesets may have timestamps metadata applied.","operationId":"v2_audio_timestamps","parameters":[{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"},{"name":"fileset_id","in":"query","description":"The specific fileset to return references for","required":true,"schema":{"$ref":"#/components/schemas/BibleFileset/properties/id"}},{"name":"book","in":"query","description":"The Book ID for which to return timestamps","schema":{"$ref":"#/components/schemas/Book/properties/id"}},{"name":"chapter","in":"query","description":"The chapter for which to return timestamps","schema":{"$ref":"#/components/schemas/BibleFile/properties/chapter_start"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2_audio_timestamps"}},"application/xml":{"schema":{"$ref":"#/components/schemas/v2_audio_timestamps"}},"text/x-yaml":{"schema":{"$ref":"#/components/schemas/v2_audio_timestamps"}}}}}}},"/audio/location":{"get":{"tags":["Library Audio"],"summary":"Returns Audio Server Information","description":"This route offers information about the media distribution servers and the\n               protocols they support. It is currently depreciated and only remains to account for\n               the possibility that someone might still be using this old method of uri generation","operationId":"v2_audio_timestamps","parameters":[{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"},{"name":"fileset_id","in":"query","description":"The specific fileset to return references for","required":true,"schema":{"$ref":"#/components/schemas/BibleFileset/properties/id"}},{"name":"book","in":"query","description":"The Book ID for which to return timestamps","schema":{"$ref":"#/components/schemas/Book/properties/id"}},{"name":"chapter","in":"query","description":"The chapter for which to return timestamps","schema":{"$ref":"#/components/schemas/BibleFile/properties/chapter_start"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2_audio_timestamps"}},"application/xml":{"schema":{"$ref":"#/components/schemas/v2_audio_timestamps"}},"text/x-yaml":{"schema":{"$ref":"#/components/schemas/v2_audio_timestamps"}}}}}}},"/library/book/":{"get":{"tags":["Library Catalog"],"summary":"Returns books order","description":"Gets the book order and code listing for a volume.","operationId":"v2_library_book","parameters":[{"name":"dam_id","in":"query","description":"The bible ID","required":true,"schema":{"$ref":"#/components/schemas/Bible/properties/id"}},{"name":"asset_id","in":"query","description":"The Asset ID","schema":{"$ref":"#/components/schemas/Asset/properties/id"}},{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2_library_book"}}}}}}},"/library/bookname/":{"get":{"tags":["Library Catalog"],"summary":"Returns book Names","description":"Gets the book order and code listing for a volume.","operationId":"v2_library_bookName","parameters":[{"name":"language_code","in":"query","description":"The language_code","required":true,"schema":{"$ref":"#/components/schemas/Language/properties/iso"}},{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookName"}}}}}}},"/library/chapter/":{"get":{"tags":["Library Catalog"],"summary":"Returns chapters for a book","description":"Lists the chapters for a book or all books in a standard bible volume.","operationId":"v2_library_chapter","parameters":[{"name":"dam_id","in":"query","description":"The bible_id","required":true,"schema":{"$ref":"#/components/schemas/Bible/properties/id"}},{"name":"asset_id","in":"query","description":"The asset_id","schema":{"$ref":"#/components/schemas/Asset/properties/id"}},{"name":"book_id","in":"query","description":"The book_id","required":true,"schema":{"$ref":"#/components/schemas/Book/properties/id"}},{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","example":{"GEN":"Genesis","EXO":"Exodus"}}}}}}}},"/library/metadata":{"get":{"tags":["Library Catalog"],"summary":"This returns copyright and associated organizations info.","description":"","operationId":"v2_library_metadata","parameters":[{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"responses":{"200":{"description":"successful operation","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/v2_library_metadata"}},"application/json":{"schema":{"$ref":"#/components/schemas/v2_library_metadata"}},"text/yaml":{"schema":{"$ref":"#/components/schemas/v2_library_metadata"}},"text/csv":{"schema":{"$ref":"#/components/schemas/v2_library_metadata"}}}}}}},"/library/version":{"get":{"tags":["Library Catalog"],"summary":"Returns Audio File path information","description":"This call returns the file path information for audio files for a volume. This information can\n    be used with the response of the /audio/location call to create a URI to retrieve the audio files.","operationId":"v2_library_version","parameters":[{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"},{"name":"code","in":"query","description":"The abbreviated `BibleFileset` id created from the letters after the iso","required":true,"schema":{"$ref":"#/components/schemas/BibleFileset/properties/id"}},{"name":"name","in":"query","description":"The name of the version in the language that it's written in","schema":{"$ref":"#/components/schemas/BibleFile/properties/chapter_start"}},{"name":"sort_by","in":"query","description":"The name of the version in english","schema":{"title":"encoding","type":"string"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2_library_version"}}}}}}},"/library/volumehistory":{"get":{"tags":["Library Catalog"],"summary":"Volume History List","description":"This call gets the event history for volume changes to status, expiry, basic info, delivery, and organization association. The event reflects the previous state of the volume. In other words, it reflects the state up to the moment of the time of the event.","operationId":"v2_volume_history","parameters":[{"name":"limit","in":"query","description":"The Number of records to return"},{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2_volume_history"}},"application/xml":{"schema":{"$ref":"#/components/schemas/v2_volume_history"}},"text/x-yaml":{"schema":{"$ref":"#/components/schemas/v2_volume_history"}}}}}}},"/library/volume":{"get":{"tags":["Library Catalog"],"summary":"","description":"This method retrieves the available volumes in the system according to the filter specified","operationId":"v2_library_volume","parameters":[{"name":"dam_id","in":"query","description":"The Bible Id","$ref":"#/components/schemas/Bible/properties/id"},{"name":"fcbh_id","in":"query","description":"An alternative query name for the bible id","schema":{"type":"string"}},{"name":"media","in":"query","description":"If set, will filter results by the type of media for which filesets are available.","schema":{"type":"string","externalDocs":{"description":"For a complete list of media types please see the v4_bible_filesets.types route","url":"/docs/swagger/v4#/Bibles/v4_bible_filesets_types"}}},{"name":"language","in":"query","description":"The language to filter results by","schema":{"$ref":"#/components/schemas/Language/properties/name"}},{"name":"full_word","in":"query","description":"Consider the language name as being a full word. For instance, when false,\n    'new' will return volumes where the string 'new' is anywhere in the language name,\n    like in `Newari` and `Awa for Papua New Guinea`. When true, it will only return volumes\n    where the language name contains the word 'new', like in `Awa for Papua New Guinea`.","schema":{"$ref":"#/components/schemas/Language/properties/name"}},{"name":"language_name","in":"query","description":"The language name to filter results by. For a complete list see the `/languages` route","schema":{"$ref":"#/components/schemas/Language/properties/name"}},{"name":"language_code","in":"query","description":"The iso code to filter results by. This will return results only in the language specified.","schema":{"$ref":"#/components/schemas/Language/properties/iso"}},{"name":"language_family_code","in":"query","description":"The iso code of the trade language to filter results by. This will also return all dialects of a language. For a complete list see the `iso` field in the `/languages` route","schema":{"type":"string"}},{"name":"updated","in":"query","description":"The last time updated","schema":{"type":"string"}},{"name":"organization_id","in":"query","description":"The owning organization to return bibles for. For a complete list see the `/organizations` route","schema":{"type":"string"}},{"name":"sort_by","in":"query","description":"The any field to within the bible model may be selected as the value for this `sort_by` param.","schema":{"type":"string"}},{"name":"sort_dir","in":"query","description":"The direction to sort by the field specified in `sort_by`. Either `asc` or `desc`","schema":{"type":"string"}},{"name":"filter_by_fileset","in":"query","description":"This field defaults to true but when set to false will return all Bible entries regardless of whether or not the API has content for that biblical text.","schema":{"type":"string"}},{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2_library_volume"}},"application/xml":{"schema":{"$ref":"#/components/schemas/v2_library_volume"}},"text/x-yaml":{"schema":{"$ref":"#/components/schemas/v2_library_volume"}}}}}}},"/text/verse":{"get":{"tags":["Library Text"],"summary":"Returns Signed URLs or Text","description":"V2's base fileset route","operationId":"v2_text_verse","parameters":[{"name":"fileset_id","in":"query","description":"The Bible fileset ID","required":true,"schema":{"$ref":"#/components/schemas/BibleFileset/properties/id"}},{"name":"book","in":"query","description":"The Book ID","required":true,"schema":{"$ref":"#/components/schemas/Book/properties/id"}},{"name":"chapter","in":"query","description":"The chapter number","required":true,"schema":{"$ref":"#/components/schemas/BibleFile/properties/chapter_start"}},{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2_text_verse"}},"application/xml":{"schema":{"$ref":"#/components/schemas/v2_text_verse"}},"text/x-yaml":{"schema":{"$ref":"#/components/schemas/v2_text_verse"}}}}}}},"/text/font":{"get":{"tags":["Library Text"],"summary":"Returns utilized fonts","description":"Some languages used by the Digital Bible Platform utilize character sets that are not supported by `standard` fonts. This call provides a list of custom fonts that have been made available.","operationId":"v2_text_font","parameters":[{"name":"id","in":"query","description":"The numeric ID of the font to retrieve","schema":{"type":"string"}},{"name":"name","in":"query","description":"Search for a specific font by name","schema":{"type":"string"}},{"name":"platform","in":"query","description":"Only return fonts that have been authorized for the specified platform. Available values are: `android`, `ios`, `web`, or `all`","schema":{"type":"string","default":"all","enum":["android","ios","web","all"]}},{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/font_response"}},"application/xml":{"schema":{"$ref":"#/components/schemas/font_response"}},"text/x-yaml":{"schema":{"$ref":"#/components/schemas/font_response"}}}}}}},"/text/searchgroup":{"get":{"tags":["Library Text"],"summary":"trans_v2_text_search_group.summary","description":"trans_v2_text_search_group.description","operationId":"v2_text_search_group","parameters":[{"name":"query","in":"query","description":"trans_v2_text_search_group.param_query","required":true,"schema":{"type":"integer"}},{"name":"dam_id","in":"query","description":"trans_v2_text_search_group.param_dam_id","required":true,"schema":{"type":"string"}},{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2_text_search_group"}},"application/xml":{"schema":{"$ref":"#/components/schemas/v2_text_search_group"}},"text/x-yaml":{"schema":{"$ref":"#/components/schemas/v2_text_search_group"}}}}}}},"/library/verseinfo":{"get":{"tags":["Library Catalog"],"summary":"Returns Library File path information","description":"This method retrieves the bible verse info for the specified volume/book/chapter.","operationId":"v2_library_verseinfo","parameters":[{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"},{"name":"dam_id","in":"query","description":"the DAM ID of the verse info","schema":{"$ref":"#/components/schemas/BibleFileset/properties/id"}},{"name":"book_id","in":"path","description":"If specified returns verse text ONLY for the specified book","required":true,"schema":{"$ref":"#/components/schemas/BibleFile/properties/chapter_start"}},{"name":"chapter","in":"path","description":" If specified returns verse text ONLY for the specified chapter","required":true,"schema":{"$ref":"#/components/schemas/BibleFile/properties/chapter_start"}},{"name":"verse_start","in":"path","description":"Returns all verse text for the specified book, chapter, and verse range from 'verse_start' until either the end of chapter or 'verse_end'","required":true,"schema":{"$ref":"#/components/schemas/BibleFile/properties/verse_start"}},{"name":"verse_end","in":"path","description":"If specified returns of all verse text for the specified book, chapter, and verse range from 'verse_start' to 'verse_end'.","required":false,"schema":{"$ref":"#/components/schemas/BibleFile/properties/verse_end"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2_library_asset"}},"application/xml":{"schema":{"$ref":"#/components/schemas/v2_library_asset"}}}}}}},"/video/location":{"get":{"tags":["Library Video"],"summary":"Information about the media distribution servers & protocols","description":"This method allows the caller to retrieve information about the media distribution servers and protocols they support.","operationId":"v2_video_location","parameters":[{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"},{"name":"video_server_bucket","in":"query","description":"The server's bucket","schema":{"type":"string","default":"dbp-video.s3.amazonaws.com","example":"dbp-video.s3.amazonaws.com"}},{"name":"video_server_alias","in":"query","description":"The server's alias","schema":{"type":"string","default":"video.dbt.io","example":"video.dbt.io"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2_video_location"}},"application/xml":{"schema":{"$ref":"#/components/schemas/v2_video_location"}}}}}}},"/video/path":{"get":{"tags":["Library Video"],"summary":"","description":"","operationId":"v2_video_path","parameters":[{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"},{"name":"dam_id","in":"query","description":"DAM ID for the video volume desired","schema":{"title":"encoding","type":"string"}},{"name":"encoding","in":"query","description":"The video encoding format desired","schema":{"type":"string","default":"mp4","enum":["mp4","m3u8"]}},{"name":"resolution","in":"query","description":"Resolution of video files requested corresponding to the basic categories of low, medium, and high. The default is 'lo'. DBT will determine if the volume is configured for the requested resolution. If not, it will return the next highest resolution to the requested resolution for which the volume is configured","schema":{"type":"string","enum":["lo","med","hi"],"example":"med"}},{"name":"segment_order","in":"query","description":"The order number of the video segment in the volume. This is particularly useful for story volumes as there are no applicable OSIS or USFM book codes.","schema":{"title":"encoding","type":"string"}},{"name":"book_id","in":"query","description":"The USFM/OSIS book code may be used to filter segments by references to book desired.","schema":{"type":"string"}},{"name":"chapter_id","in":"query","description":"Chapter id to filter segments by references based on book and chapter.","schema":{"title":"encoding","type":"string"}},{"name":"verse_id","in":"query","description":"Verse id to filter segments by references based on book, chapter and verse.","schema":{"title":"encoding","type":"string"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2_video_path"}},"application/xml":{"schema":{"$ref":"#/components/schemas/v2_video_path"}}}}}}},"/library/volumeorganization/":{"get":{"tags":["Library Volume Organization"],"summary":"","description":"","operationId":"v2_volume_organization_list","parameters":[{"name":"membership","in":"query","description":"","schema":{"type":"string"}},{"name":"has_content","in":"query","description":"","schema":{"type":"string"}},{"name":"bibles","in":"query","description":"","schema":{"type":"string"}},{"name":"resources","in":"query","description":"","schema":{"type":"string"}},{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2_volume_organization_list"}}}}}}},"/library/language/":{"get":{"tags":["Library Catalog"],"summary":"Returns the list of languages","description":"Returns the List of Languages","operationId":"v2_library_language","parameters":[{"name":"code","in":"query","description":"Get the entry for a three letter language code","schema":{"$ref":"#/components/schemas/Language/properties/iso"}},{"name":"name","in":"query","description":"Get the entry for a part of a language name in either native language or English","schema":{"type":"string","example":"Spanish"}},{"name":"full_word","in":"query","description":"Consider the language name as being a full word. For instance, when false, 'new' will return volumes where the string new is anywhere in the language name, like in Newari and Awa for Papua New Guinea. When true, it will only return volumes where the language name contains the full word 'new', like in `Awa for Papua New Guinea`. Default is false","schema":{"type":"boolean","default":false,"example":false}},{"name":"family_only","in":"query","description":"When set to true the returned list is of only legal language families. The default is false","deprecated":true,"schema":{"type":"boolean"}},{"name":"possibilities","in":"query","description":"When set to true the returned list is a combination of DBP languages and ISO languages not yet defined in DBP that meet any of the criteria","deprecated":true,"schema":{"type":"boolean","default":true,"example":true}},{"name":"sort_by","in":"query","description":"Primary criteria by which to sort. 'name' refers to the native language name. The default is 'english'","schema":{"$ref":"#/components/schemas/Asset/properties/id"}},{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2_library_language"}}}}}}},"/country/countrylang/":{"get":{"tags":["Country Language"],"summary":"Returns Languages and the countries associated with them","description":"Filter languages by a specified country code or filter countries by specified language code.\n               Country flags can also be retrieved by requesting one of the permitted image sizes. Languages can also be\n               sorted by the country code (default) and the language code.","operationId":"v2_country_lang","parameters":[{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"},{"name":"lang_code","in":"query","description":"Get records by ISO language code","schema":{"$ref":"#/components/schemas/Language/properties/iso"}},{"name":"country_code","in":"query","description":"Get records by ISO country code","schema":{"$ref":"#/components/schemas/Country/properties/id"}},{"name":"additional","in":"query","description":"Get colon separated list of optional countries","schema":{"type":"integer","default":0,"enum":[0,1]}},{"name":"sort_by","in":"query","description":"Sort by lang_code or country_code","schema":{"type":"string","default":"country_code","enum":["country_code","lang_code"]}},{"name":"img_type","in":"query","description":"Includes a country flag image of the specified file type","schema":{"type":"string","default":"png","enum":["png","svg"]}},{"name":"img_size","in":"query","description":"Include country flags in entries in requested size. This no longer generates images but\n                   rather selects them from a recommended list: 40x30, 80x60, 160X120, 320X240, 640X480, or 1280X960","schema":{"type":"string","enum":["40x30","80x60","160x120","320x240","640x480","1280x960"],"example":"160X120"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2_country_lang"}}}}}}},"/library/volumelanguage/":{"get":{"tags":["Library Catalog"],"summary":"Returns the list of languages","description":"This method retrieves the list of languages for available volumes and the related volume data in\n               the system according to the filter specified.","operationId":"v2_library_volumeLanguageFamily","parameters":[{"name":"language_code","in":"query","description":"The three letter language code","schema":{"type":"string"}},{"name":"root","in":"query","description":"Can be used to restrict the response to only languages that start with Quechua for example.","schema":{"type":"string"}},{"name":"media","in":"query","description":"The format of languages the caller is interested in.","schema":{"type":"string","enum":["text","audio","video"]}},{"name":"full_word","in":"query","description":"Consider the language name as being a full word. For instance, when false, `cat` will return\n                   volumes where the string cat is anywhere in the language name like `catalan` and `Cuicatec, Teutila`.\n                   This value defaults to false.","schema":{"type":"boolean"}},{"name":"status","in":"query","description":"Publishing status of volume. The default is live","schema":{"type":"string"}},{"name":"resolution","in":"query","description":"","schema":{"type":"string"}},{"name":"organization_id","in":"query","description":"The organization id to filter languages by.","schema":{"type":"string"}},{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2_library_language"}}}}}}},"/library/volumelanguagefamily/":{"get":{"tags":["Library Catalog"],"summary":"Returns the list of languages","description":"This method retrieves the list of language families for available volumes and the related volume\n               data in the system according to the filter specified.","operationId":"v2_library_volumeLanguageFamily","parameters":[{"name":"language_code","in":"query","description":"","schema":{"type":"string"}},{"name":"root","in":"query","description":"","schema":{"type":"string"}},{"name":"media","in":"query","description":"","schema":{"type":"string"}},{"name":"delivery","in":"query","description":"","deprecated":true,"schema":{"type":"string"}},{"name":"full_word","in":"query","description":"","schema":{"type":"string"}},{"name":"status","in":"query","description":"","schema":{"type":"string"}},{"name":"resolution","in":"query","description":"","schema":{"type":"string"}},{"$ref":"#/components/parameters/l10n"},{"$ref":"#/components/parameters/version_number"},{"$ref":"#/components/parameters/key"},{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/format"}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2_library_language"}}}}}}}},"components":{"schemas":{"v2_library_asset":{"title":"v2_library_asset","description":"v2_library_asset","properties":{"server":{"description":"Returns an array of signed audio urls","type":"string","example":"cloud.faithcomesbyhearing.com"},"root_path":{"description":"Returns an array of signed audio urls","type":"string","example":"/mp3audiobibles2"},"protocol":{"description":"Returns an array of signed audio urls","type":"string","example":"http"},"CDN":{"description":"Returns an array of signed audio urls","type":"string","example":"1"},"priority":{"description":"Returns an array of signed audio urls","type":"string","example":"5"},"volume_id":{"description":"Returns an array of signed audio urls","type":"string","example":""}},"type":"object","xml":{"name":"v2_library_asset"}},"v2_api_versionLatest":{"title":"v2_api_versionLatest","description":"The return for the api reply","properties":{"Version":{"description":"Returns an array of version return types","type":"string","example":"2.0.0"}},"type":"object","xml":{"name":"v2_api_apiReply"}},"v2_api_apiReply":{"title":"v2_api_apiReply","description":"The return for the api reply","type":"object","xml":{"name":"v2_api_apiReply"},"example":["json","jsonp","html"]},"v2_library_version":{"title":"v2_library_version","description":"The various version ids in the old version 2 style","properties":{"version_code":{"description":"The abbreviated `BibleFileset` id created from letters after the iso code","type":"string"},"version_name":{"description":"The name of the version in the language that it's written in","type":"string"},"english_name":{"description":"The name of the version in english","type":"string"}},"type":"object","xml":{"name":"v2_library_version"}},"v2_library_verseInfo":{"title":"v2_library_verseInfo","description":"The v2_audio_timestamps response","type":"array","items":{"properties":{"book_id":{"$ref":"#/components/schemas/BibleVerse/properties/book_id"},"chapter_number":{"$ref":"#/components/schemas/BibleVerse/properties/chapter"},"verse_start":{"$ref":"#/components/schemas/BibleVerse/properties/verse_number"},"verse_end":{},"verse_text":{"$ref":"#/components/schemas/BibleVerse/properties/verse_text"}},"type":"object"},"xml":{"name":"v2_library_verseInfo"}},"v4_api_assets":{"title":"The assets response","description":"The aws assets currently being used by the api","required":["id","organization_id"],"properties":{"id":{"$ref":"#/components/schemas/Asset/properties/id"},"organization_id":{"$ref":"#/components/schemas/Asset/properties/organization_id"}},"type":"object","xml":{"name":"v4_api_assets"}},"v2_video_location":{"title":"The single alphabet response","description":"","properties":{"server":{"description":"Video Location"},"root_path":{"description":"Video Location"},"protocol":{"description":"Video Location"},"CDN":{"description":"Video Location"},"priority":{"description":"Video Location"}},"type":"object","xml":{"name":"v2_video_location"}},"AccessCurrentKey":{"title":"Current Key Access Response","description":"","properties":{"hashes":{"items":{"$ref":"#/components/schemas/BibleFileset/properties/hash_id"}},"string":{"type":"string"},"hash_count":{"type":"integer"}},"type":"object","xml":{"name":"v4_access_groups.access"}},"v4_numbers_range":{"title":"The numbers range return","description":"The numbers range return","type":"array","items":{"properties":{"numeral":{"type":"string"},"numeral_vernacular":{"type":"string"}},"type":"object"},"xml":{"name":"v4_numbers_range"}},"Bible":{"title":"Bible","description":"Bible","properties":{"id":{"title":"id","description":"The Archivist created Bible ID string. This will be between six and twelve letters usually starting with the iso639-3 code and ending with the acronym for the Bible","type":"string","maxLength":12,"minLength":6,"example":"ENGESV"},"language_id":{"$ref":"#/components/schemas/Language/properties/id"},"date":{"title":"date","description":"The year the Bible was originally published","type":"integer","maximum":2030,"minimum":1},"scope":{"$ref":"#/components/schemas/BibleFilesetSize/properties/set_size_code"},"script":{"$ref":"#/components/schemas/Alphabet/properties/script"},"derived":{"title":"derived","description":"This field indicates the `bible_id` of the Scriptures that the current Scriptures being described are derived. For example, because the NIrV (New International Reader's Version) was created from / inspired by the NIV (New International Version). If this model was describing ENGNIRV the derived field would be ENGNIV.","type":"string","nullable":true},"copyright":{"title":"copyright","description":"A short copyright description for the bible text.","type":"string","maxLength":191},"in_progress":{"title":"in_progress","description":"If the Bible being described is currently in progress.","type":"string"},"versification":{"title":"versification","description":"The versification system for ordering books and chapters","type":"string","enum":["protestant","luther","synodal","german","kjva","vulgate","lxx","orthodox","nrsva","catholic","finnish"]},"created_at":{"title":"created_at","description":"The timestamp at which the bible was originally created","type":"string"},"updated_at":{"title":"updated_at","description":"The timestamp at which the bible was last updated","type":"string"}},"type":"object","xml":{"name":"Bible"}},"BibleBook":{"title":"Bible Book","description":"The Bible Book Model stores the vernacular book titles and chapters","properties":{"bible_id":{"$ref":"#/components/schemas/Bible/properties/id"},"book_id":{"$ref":"#/components/schemas/Book/properties/id"},"name":{"title":"name","description":"The name of the book in the language of the bible","type":"string","maxLength":191},"name_short":{"title":"name_short","description":"If the vernacular name has an abbreviated form, it will be stored hre","type":"string","maxLength":191},"chapters":{"title":"chapters","description":"A string of the chapters in the book separated by a comma","type":"string","maxLength":491}},"type":"object","xml":{"name":"BibleBook"}},"BibleConcordance":{"title":"BibleConcordance","description":"The BibleConcordance","properties":{"bible_verse_id":{"title":"bible_verse_id","description":"","type":"integer"},"key_word":{"title":"key_word","description":"","type":"string"}},"type":"object","xml":{"name":"BibleConcordance"}},"BibleEquivalent":{"title":"BibleEquivalent","description":"The Bible Equivalent Model stores the connections between the bible IDs and external organizations","properties":{"bible_id":{"$ref":"#/components/schemas/Bible/properties/id"},"equivalent_id":{"title":"equivalent_id","description":"The equivalent_id","type":"string","maxLength":191,"example":"FreGeneve1669"},"organization_id":{"$ref":"#/components/schemas/Organization/properties/id"},"type":{"title":"type","description":"The type of connection that the equivalent id refers to","type":"string","maxLength":191,"example":"desktop-app"},"site":{"title":"site","description":"The name of the site/organization/app where the equivalent id is based","type":"string","maxLength":191,"example":"eSword"},"suffix":{"title":"site","description":"Additional metadata affecting the type of equivalent connection","type":"string","maxLength":191,"example":"Authorized Version with Strong's"},"constructed_url":{"title":"Constructed Url","description":"The full path to the resource which the equivalent describes","type":"string","maxLength":191,"example":"https://example.com/bibles/ENGKJV"}},"type":"object","xml":{"name":"BibleEquivalent"}},"BibleFile":{"title":"BibleFile","description":"The Bible File Model communicates information about biblical files stored in S3","required":["filename"],"properties":{"id":{"title":"id","description":"The id","type":"integer","minimum":0,"example":4},"hash_id":{"title":"hash_id","description":"The hash_id","type":"string"},"book_id":{"title":"book_id","description":"The book_id","type":"string"},"chapter_start":{"title":"chapter_start","description":"The chapter_start","type":"integer","maximum":150,"minimum":0,"example":4},"chapter_end":{"title":"chapter_end","description":"If the Bible File spans multiple chapters this field indicates the last chapter of the selection","type":"integer","maximum":150,"minimum":0,"example":5,"nullable":true},"verse_start":{"title":"verse_start","description":"The starting verse at which the BibleFile reference begins","type":"integer","maximum":176,"minimum":1,"example":5},"verse_end":{"title":"verse_end","description":"If the Bible File spans multiple verses this value will indicate the last verse in that reference. This value is inclusive, so for the reference John 1:1-4. The value would be 4 and the reference would contain verse 4.","type":"string","maximum":176,"minimum":1,"example":5,"nullable":true},"verse_text":{"title":"verse_text","description":"If the BibleFile model returns text instead of a file_name this field will contain it.","type":"string","example":"And God said unto Abraham, And as for thee, thou shalt keep my covenant, thou, and thy seed after thee throughout their generations."},"file_name":{"title":"file_name","description":"The file_name","type":"string","maxLength":191},"file_size":{"title":"file_size","description":"The file size in kilobytes","type":"integer"},"duration":{"title":"duration","description":"If the file has a set length of time, this field indicates that time in milliseconds","type":"integer","minimum":0,"nullable":true}},"type":"object","xml":{"name":"BibleFile"}},"BibleFileTimestamp":{"title":"Bible File Timestamp","description":"The Bible File Timestamp tag model partitions the file into verse by verse sections","properties":{"id":{"title":"file_id","description":"The incrementing id of the file timestamp","type":"integer","minimum":1},"verse_start":{"title":"verse_start","description":"The starting verse for the file timestamp","type":"integer","minimum":1},"verse_end":{"title":"verse_end","description":"The ending verse for the file timestamp","type":"integer","minimum":1},"timestamp":{"title":"timestamp","description":"The ending verse for the file timestamp","type":"integer","minimum":1}},"type":"object","xml":{"name":"BibleFileTimestamp"}},"BibleFileTitle":{"title":"BibleFileTitle","description":"The Bible File Title model communicates information about generalized fileset sizes","properties":{"file_id":{"title":"file_id","description":"The incrementing id of the file timestamp","type":"integer"},"iso":{"title":"iso","description":"The translation language of the title","type":"string"},"title":{"title":"title","description":"The title of the file","type":"string"},"description":{"title":"description","description":"The description of the file title","type":"string"},"key_words":{"title":"key_words","description":"The words","type":"string"}},"type":"object","xml":{"name":"BibleFileTitle"}},"BibleFileset":{"title":"Bible Fileset","description":"BibleFileset","properties":{"id":{"title":"id","description":"The fileset id","type":"string","maxLength":16,"minLength":6},"hash_id":{"title":"hash_id","description":"The hash_id generated from the `asset_id`, `set_type_code`, and `id`","type":"string","maxLength":12,"minLength":12},"asset_id":{"title":"asset_id","description":"The asset id of the AWS Bucket or CloudFront instance","type":"string","maxLength":64},"set_type_code":{"title":"set_type_code","description":"The set_type_code indicating the type of the fileset","type":"string","maxLength":3},"set_size_code":{"title":"set_size_code","description":"The set_size_code indicating the size of the fileset","type":"string","maxLength":3},"created_at":{"title":"created_at","description":"The timestamp at which the fileset was originally created","type":"string"},"updated_at":{"title":"updated_at","description":"The timestamp at which the fileset was last updated","type":"string"}},"type":"object","xml":{"name":"BibleFileset"}},"BibleFilesetConnection":{"title":"BibleFileset Connection","description":"BibleFilesetConnection","properties":{"hash_id":{"$ref":"#/components/schemas/BibleFileset/properties/hash_id"},"bible_id":{"$ref":"#/components/schemas/Bible/properties/id"}},"type":"object","xml":{"name":"BibleFilesetConnection"}},"BibleFilesetCopyright":{"title":"Bible Fileset Copyright","description":"BibleFilesetCopyright","properties":{"hash_id":{"title":"hash id","description":"The hash value for the created fileset","type":"string","maxLength":12,"minLength":12,"example":"ENGESV"},"copyright_date":{"title":"copyright_date","description":"The copyright date created copyright","type":"string","example":"ENGESV"},"copyright":{"title":"copyright","description":"The copyright","type":"string"},"copyright_description":{"title":"copyright_description","description":"The copyright description","type":"string"},"open_access":{"title":"open_access","description":"The open_access description","type":"string"}},"type":"object","xml":{"name":"BibleFilesetCopyright"}},"BibleFilesetSize":{"title":"BibleFilesetSize","description":"The Bible fileset size model communicates information about generalized fileset sizes","required":["filename"],"properties":{"id":{"title":"id","description":"The id","type":"integer","minimum":0,"example":4},"set_size_code":{"title":"set_size_code","description":"The id","type":"string","maxLength":9,"example":"NTPOTP"},"name":{"title":"name","description":"The name","type":"string","maxLength":191,"example":"New Testament & Old Testament Portions"}},"type":"object","xml":{"name":"BibleFilesetSize"}},"BibleFilesetTag":{"title":"BibleFilesetSize","description":"The Bible fileset tag model communicates general metadata about the filesets","required":["filename"],"properties":{"hash_id":{"$ref":"#/components/schemas/BibleFileset/properties/hash_id"},"name":{"title":"name","description":"The name of the tag, serves as the key/category","type":"string","maxLength":191},"description":{"title":"description","description":"The content of the tag, serves as the value of the key value pair of name/description","type":"string"},"admin_only":{"title":"admin_only","description":"If the tag is only to be visible to admin / archivist users","type":"boolean"},"notes":{"title":"notes","description":"Any notes about the tag","type":"string"},"iso":{"$ref":"#/components/schemas/Language/properties/iso"}},"type":"object","xml":{"name":"BibleFilesetSize"}},"BibleFilesetType":{"title":"Bible Fileset Type","description":"The Bible Fileset Type model communicates general metadata about the bible_filesets.set_size_code","required":["filename"],"properties":{"id":{"title":"id","description":"","type":"string"},"set_type_code":{"title":"set_type_code","description":"","type":"string"},"name":{"title":"name","description":"","type":"string"},"created_at":{"title":"created_at","description":"","type":"string"},"updated_at":{"title":"updated_at","description":"","type":"string"}},"type":"object","xml":{"name":"BibleFilesetType"}},"BibleLink":{"title":"BibleLink","description":"BibleLink","properties":{"id":{"title":"id","description":"","type":"string"},"bible_id":{"title":"bible_id","description":"","type":"string"},"type":{"title":"type","description":"","type":"string"},"url":{"title":"url","description":"","type":"string"},"title":{"title":"title","description":"","type":"string"},"organization_id":{"title":"organization_id","description":"","type":"string"},"created_at":{"title":"created_at","description":"","type":"string"},"updated_at":{"title":"updated_at","description":"","type":"string"},"provider":{"title":"provider","description":"","type":"string"}},"type":"object","xml":{"name":"BibleLink"}},"BibleOrganization":{"title":"BibleOrganization","description":"BibleOrganization","properties":{"bible_id":{"$ref":"#/components/schemas/Bible/properties/id"},"organization_id":{"$ref":"#/components/schemas/Organization/properties/id"},"relationship_type":{"title":"relationship_type","description":"","type":"string"},"created_at":{"title":"created_at","description":"","type":"string"},"updated_at":{"title":"updated_at","description":"","type":"string"}},"type":"object","xml":{"name":"BibleOrganization"}},"BibleTranslation":{"title":"BibleTranslation","description":"BibleTranslation","properties":{"id":{"title":"id","description":"","type":"string"},"iso":{"title":"iso","description":"","type":"string"},"bible_id":{"title":"iso","description":"","type":"string"},"vernacular":{"title":"bible_id","description":"","type":"string"},"vernacular_trade":{"title":"bible_id","description":"","type":"string"},"name":{"title":"vernacular","description":"","type":"string"},"type":{"title":"vernacular_trade","description":"","type":"string"},"features":{"title":"name","description":"","type":"string"},"description":{"title":"type","description":"","type":"string"},"notes":{"title":"features","description":"","type":"string"}},"type":"object","xml":{"name":"BibleTranslation"}},"BibleVerse":{"title":"BibleVerse","description":"The BibleVerse model stores the unformatted Bible Text for searching & JSON returned verses","properties":{"id":{"title":"id","description":"The incrementing id for the Bible Verse","type":"integer"},"hash_id":{"$ref":"#/components/schemas/BibleFileset/properties/hash_id"},"book_id":{"$ref":"#/components/schemas/Book/properties/id"},"chapter":{"$ref":"#/components/schemas/BibleFile/properties/chapter_start"},"verse_number":{"$ref":"#/components/schemas/BibleFile/properties/verse_start"},"verse_text":{"title":"verse_text","description":"The text of the Bible Verse","type":"string"}},"type":"object","xml":{"name":"BibleVerse"}},"Book":{"title":"Book","description":"The Book model communicates information about the canonical books of the Bible","properties":{"id":{"title":"id","description":"The USFM 2.4 id for the books of the Bible","type":"string","maxLength":3,"minLength":3},"id_usfx":{"title":"id_usfx","description":"The usfx id for the books of the Bible","type":"string","maxLength":2,"minLength":2},"id_osis":{"title":"id_osis","description":"The OSIS id for the books of the Bible","type":"string","maxLength":2,"minLength":2},"protestant_order":{"title":"protestant_order","description":"The standard book order for the `protestant_order` in ascending order from Genesis onwards","type":"integer","minimum":0},"luther_order":{"title":"luther_order","description":"The standard book order for the `luther_order` in ascending order from Genesis onwards","type":"integer","minimum":0},"synodal_order":{"title":"synodal_order","description":"The standard book order for the `synodal_order` in ascending order from Genesis onwards","type":"integer","minimum":0},"german_order":{"title":"german_order","description":"The standard book order for the `german_order` in ascending order from Genesis onwards","type":"integer","minimum":0},"kjva_order":{"title":"kjva_order","description":"The standard book order for the `kjva_order` in ascending order from Genesis onwards","type":"integer","minimum":0},"vulgate_order":{"title":"vulgate_order","description":"The standard book order for the `vulgate_order` in ascending order from Genesis onwards","type":"integer","minimum":0},"lxx_order":{"title":"lxx_order","description":"The standard book order for the `lxx_order` in ascending order from Genesis onwards","type":"integer","minimum":0},"orthodox_order":{"title":"orthodox_order","description":"The standard book order for the `orthodox_order` in ascending order from Genesis onwards","type":"integer","minimum":0},"nrsva_order":{"title":"nrsva_order","description":"The standard book order for the `nrsva_order` in ascending order from Genesis onwards","type":"integer","minimum":0},"catholic_order":{"title":"catholic_order","description":"The standard book order for the `catholic_order` in ascending order from Genesis onwards","type":"integer","minimum":0},"finnish_order":{"title":"finnish_order","description":"The standard book order for the `finnish_order` in ascending order from Genesis onwards","type":"integer","minimum":0},"testament_order":{"title":"testament_order","description":"The standard book order within a testament in ascending order from Genesis to Malachi, and Matthew to Revelations","type":"integer","minimum":0},"book_testament":{"title":"book_testament","description":"A short code identifying the testament containing the book","type":"string","maxLength":2,"minLength":2,"enum":["OT","NT","AP"]},"book_group":{"title":"book_group","description":"An english name for the section of books that current book can be categorized in","type":"string","enum":["Historical Books","Pauline Epistles","General Epistles","Apostolic History","Minor Prophets","Major Prophets","The Law","Wisdom Books","Gospels","Apocalypse"]},"chapters":{"title":"chapters","description":"The book's number of chapters","type":"integer","nullable":true},"verses":{"title":"verses","description":"The book's number of verses","type":"integer","nullable":true},"name":{"title":"name","description":"The English name of the book","type":"string"},"notes":{"title":"notes","description":"Any archivist notes about the book","type":"string"},"description":{"title":"description","description":"The book's description","type":"string"},"created_at":{"title":"created_at","description":"The timestamp for the books creation","type":"string"},"updated_at":{"title":"updated_at","description":"The timestamp for the last update of the book","type":"string"}},"type":"object","xml":{"name":"Book"}},"BookTranslation":{"title":"BookTranslation","description":"The Book Translation's model","properties":{"iso":{"$ref":"#/components/schemas/Language/properties/iso"},"book_id":{"$ref":"#/components/schemas/Book/properties/id"},"name":{"title":"name","description":"The translated name of the biblical book","type":"string"},"name_long":{"title":"name_long","description":"The long form of the translated name","type":"string"},"name_short":{"title":"name_short","description":"The short form of the translated name","type":"string"},"name_abbreviation":{"title":"name_abbreviation","description":"The abbreviated form of the translated name","type":"string"},"created_at":{"title":"created_at","description":"The timestamp that the translated name was originally created","type":"string"},"updated_at":{"title":"updated_at","description":"The timestamp that the translated name was last updated","type":"string"}},"type":"object","xml":{"name":"BookTranslation"}},"BookName":{"title":"BookName","description":"The Book Name model","properties":{"AL":{"title":"Alternative","description":"","type":"string","example":""},"ON":{"title":"Old and New Testament","description":"The translated string for the combined testaments of the bible","type":"string","example":""},"OT":{"title":"Old Testament","description":"The translated string for the old testament of the bible","type":"string","example":"Vieux Testament"},"NT":{"title":"New Testament","description":"The translated string for the new testament of the bible","type":"string","example":"Nouveau Testament"},"AP":{"title":"Apocrypha","description":"The translated string for the collected apocryphal books","type":"string","example":""},"VU":{"title":"Vulgate","description":"The translation string for the Vulgate","type":"string","example":""},"ET":{"title":"Ethiopian Orthodox Canon/Geez Translation Additions","description":"The translation string for the Ethiopian Orthodox order for books of the bible","type":"string","example":""},"CO":{"title":"Coptic Orthodox Canon Additions","description":"The translation string for the Coptic Orthodox order for books of the bible","type":"string","example":""},"AO":{"title":"Armenian Orthodox Canon Additions","description":"The translation string for the Armenian Orthodox order for books of the bible","type":"string","example":""},"PE":{"title":"Peshitta","description":"The translation string for Peshitta","type":"string","example":""},"CS":{"title":"Codex Sinaiticus","description":"The translation string for Codex Sinaiticus","type":"string","example":""},"Gen":{"title":"Genesis","description":"The translation string for the book Genesis","type":"string","example":"Genèse"},"Exod":{"title":"Exodus","type":"string","example":"Exode"},"Lev":{"title":"Leviticus","type":"string","example":"Lévitique"},"Num":{"title":"Numbers","type":"string","example":"Nombres"},"Deut":{"title":"Deuteronomy","type":"string","example":"Deutéronome"},"Josh":{"title":"Joshua","type":"string","example":"Josué"},"Judg":{"title":"Judges","type":"string","example":"Juges"},"Ruth":{"title":"Ruth","type":"string","example":"Ruth"},"1Sam":{"title":"1 Samuel","type":"string","example":"Iier Samuel"},"2Sam":{"title":"2 Samuel","type":"string","example":"IIième Samuel"},"1Kgs":{"title":"1 Kings","type":"string","example":"Iier Rois"},"2Kgs":{"title":"2 Kings","type":"string","example":"IIième Rois"},"1Chr":{"title":"1 Chronicles","type":"string","example":"Iier Chroniques"},"2Chr":{"title":"2 Chronicles","type":"string","example":"IIième Chroniques"},"Ezra":{"title":"Ezra","type":"string","example":"Esdras"},"Neh":{"title":"Nehemiah","type":"string","example":"Néhémie"},"Esth":{"title":"Esther","type":"string","example":"Esther"},"Job":{"title":"Job","type":"string","example":"Job"},"Ps":{"title":"Psalm","type":"string","example":"Psaumes"},"Prov":{"title":"Proverbs","type":"string","example":"Proverbes"},"Eccl":{"title":"Ecclesiastes","type":"string","example":"Ecclésiaste"},"Song":{"title":"Song of Solomon","type":"string","example":"Cantique des Cantiques"},"Isa":{"title":"Isaiah","type":"string","example":"Esaïe"},"Jer":{"title":"Jeremiah","type":"string","example":"Jérémie"},"Lam":{"title":"Lamentations","type":"string","example":"Lamentation"},"Ezek":{"title":"Ezekiel","type":"string","example":"Ezékiel"},"Dan":{"title":"Daniel","type":"string","example":"Daniel"},"Hos":{"title":"Hosea","type":"string","example":"Osée"},"Joel":{"title":"Joel","type":"string","example":"Joël"},"Amos":{"title":"Amos","type":"string","example":"Amos"},"Obad":{"title":"Obadiah","type":"string","example":"Abdias"},"Jonah":{"title":"Jonah","type":"string","example":"Jonas"},"Mic":{"title":"Micah","type":"string","example":"Michée"},"Nah":{"title":"Nahum","type":"string","example":"Nahum"},"Hab":{"title":"Habakkuk","type":"string","example":"Habacuc"},"Zeph":{"title":"Zephaniah","type":"string","example":"Sophonie"},"Hag":{"title":"Haggai","type":"string","example":"Aggée"},"Zech":{"title":"Zechariah","type":"string","example":"Zacharie"},"Mal":{"title":"Malachi","type":"string","example":"Malachie"},"Matt":{"title":"Matthew","type":"string","example":"Matthieu"},"Mark":{"title":"Mark","type":"string","example":"Marc"},"Luke":{"title":"Luke","type":"string","example":"Luc"},"John":{"title":"John","type":"string","example":"Jean"},"Acts":{"title":"Acts","type":"string","example":"Actes"},"Rom":{"title":"Romans","type":"string","example":"Romains"},"1Cor":{"title":"1 Corinthians","type":"string","example":"Iier Corinthiens"},"2Cor":{"title":"2 Corinthians","type":"string","example":"IIième Corinthiens"},"Gal":{"title":"Galatians","type":"string","example":"Galates"},"Eph":{"title":"Ephesians","type":"string","example":"Ephésiens"},"Phil":{"title":"Philippians","type":"string","example":"Philippiens"},"Col":{"title":"Colossians","type":"string","example":"Colossiens"},"1Thess":{"title":"1 Thessalonians","type":"string","example":"Iier Thessaloniciens"},"2Thess":{"title":"2 Thessalonians","type":"string","example":"IIième Thessaloniciens"},"1Tim":{"title":"1 Timothy","type":"string","example":"Iier Timothée"},"2Tim":{"title":"2 Timothy","type":"string","example":"IIième Timothée"},"Titus":{"title":"Titus","type":"string","example":"Tite"},"Phlm":{"title":"Philemon","type":"string","example":"Philémon"},"Heb":{"title":"Hebrews","type":"string","example":"Hébreux"},"Jas":{"title":"James","type":"string","example":"Jacques"},"1Pet":{"title":"1 Peter","type":"string","example":"Iier Pierre"},"2Pet":{"title":"2 Peter","type":"string","example":"IIième Pierre"},"1John":{"title":"1 John","type":"string","example":"Iier Jean"},"2John":{"title":"2 John","type":"string","example":"IIième Jean"},"3John":{"title":"3 John","type":"string","example":"IIIième Jean"},"Jude":{"title":"Jude","type":"string","example":""},"Rev":{"title":"Revelation","type":"string","example":"Apocalypse"},"Tob":{"title":"Tobit","type":"string","example":""},"Jdt":{"title":"Judith","type":"string","example":""},"Sir":{"title":"Sirach","type":"string","example":"Siracide"},"Bar":{"title":"Baruch","type":"string","example":"Baruc"},"PrAzar":{"title":"Prayer of Azariah","type":"string","example":""},"Sus":{"title":"Susanna","type":"string","example":""},"Bel":{"title":"Bel and the Dragon","type":"string","example":""},"1Macc":{"title":"1 Maccabees","type":"string","example":"1 Maccabées"},"2Macc":{"title":"2 Maccabees","type":"string","example":"2 Maccabées"},"3Macc":{"title":"3 Maccabees","type":"string","example":""},"4Macc":{"title":"4 Maccabees","type":"string","example":""},"PrMan":{"title":"Prayer of Manasseh","type":"string","example":""},"1Esd":{"title":"1 Esdras","type":"string","example":""},"2Esd":{"title":"2 Esdras","type":"string","example":""},"DanGr":{"title":"Greek Daniel","type":"string","example":""}},"type":"object","xml":{"name":"BookName"}},"Video":{"title":"VideoTranslations","description":"The Video model holds information about biblical films. It serves as a wrapper for all Video{Value} Models including VideoTags and VideoTranslations.","properties":{"id":{"title":"id","description":"","type":"string"},"language_id":{"title":"language_id","description":"","type":"string"},"bible_id":{"title":"bible_id","description":"","type":"string"},"series":{"title":"series","description":"","type":"string"},"episode":{"title":"episode","description":"","type":"string"},"section":{"title":"section","description":"","type":"string"},"url":{"title":"url","description":"","type":"string"},"url_download":{"title":"url_download","description":"","type":"string"},"picture":{"title":"picture","description":"","type":"string"},"duration":{"title":"duration","description":"","type":"string"},"created_at":{"title":"created_at","description":"","type":"string"},"updated_at":{"title":"updated_at","description":"","type":"string"}},"type":"object","xml":{"name":"VideoTranslations"}},"VideoTag":{"title":"VideoTags","description":"The VideoTags model holds miscellaneous information about the video model.","properties":{"id":{"title":"id","description":"The incrementing id of the video tag","type":"integer"},"video_id":{"title":"video_id","description":"The video id","type":"integer"},"category":{"title":"category","description":"The category","type":"integer"},"tag_type":{"title":"category","description":"The category","type":"integer"},"tag":{"title":"tag","description":"The tag","type":"string"},"language_id":{"title":"tag","description":"The language_id","type":"integer","nullable":true},"organization_id":{"title":"organization_id","description":"The language_id","type":"integer","nullable":true},"book_id":{"title":"book_id","description":"The book id","type":"string","nullable":true},"chapter_start":{"title":"chapter_start","description":"The starting chapter","type":"integer","nullable":true},"chapter_end":{"title":"chapter_end","description":"The ending chapter","type":"integer","nullable":true},"verse_start":{"title":"verse_start","description":"The verse_start","type":"integer","nullable":true},"verse_end":{"title":"verse_end","description":"The verse_end","type":"integer","nullable":true},"time_begin":{"title":"time_begin","description":"The time_begin","type":"integer","nullable":true},"time_end":{"title":"time_end","description":"The time_end","type":"integer","nullable":true},"created_at":{"title":"created_at","description":"The created_at","type":"string","nullable":true},"updated_at":{"title":"updated_at","description":"The updated_at","type":"string","nullable":true}},"type":"object","xml":{"name":"VideoTags"}},"Country":{"title":"Country","description":"Country","properties":{"id":{"title":"Country Iso 3166-1","description":"The Country ID for the country aligning with the ISO 3166-1 standard","type":"string","maxLength":2,"minLength":2,"externalDocs":{"description":"For more info please refer to the Iso Registration Authority","url":"https://www.iso.org/iso-3166-country-codes.html"},"example":"AD"},"iso_a3":{"title":"Country Iso 3166-3","description":"The Country iso for the country aligning with the ISO 3166-3 standard","type":"string","maxLength":3,"minLength":3,"externalDocs":{"description":"For more info please refer to the Iso Wiki","url":"https://en.wikipedia.org/wiki/ISO_3166-3"},"example":"AND"},"fips":{"title":"FIPS ID","description":"The Country id for the country aligning with the FIPS standard of the United Nations","type":"string","maxLength":2,"minLength":2,"externalDocs":{"description":"For more info please refer to the FIPS Wiki","url":"https://en.wikipedia.org/wiki/List_of_FIPS_country_codes"},"example":"AN"},"continent":{"title":"continent ID","description":"The continent code for the country","type":"string","maxLength":2,"minLength":2,"example":"EU"},"name":{"title":"Country Name","description":"The name for the country in English","type":"string","maxLength":191,"example":"Andorra"},"introduction":{"title":"Country introduction","description":"A brief description of the country in English","type":"string","example":"The landlocked Principality of Andorra is one of the smallest states in Europe, nestled high in the Pyrenees..."}},"type":"object","xml":{"name":"Country"}},"CountryLanguage":{"title":"Country Language","description":"Country Language","properties":{"country_id":{"title":"continent ID","description":"The continent code for the country","type":"string","maxLength":2,"minLength":2,"example":"EU"},"language_id":{"title":"language_id","description":"The language_id for the speakers","type":"integer"},"population":{"title":"population","description":"The population of the speakers","type":"integer","example":20699}},"type":"object","xml":{"name":"CountryLanguage"}},"CountryRegion":{"title":"Country Region","description":"Country Region","properties":{"country_id":{"title":"country_id","description":"The ID of the ","type":"string"}},"type":"object","xml":{"name":"CountryRegion"}},"CountryCommunication":{"title":"Country Communication","description":"The Country Communication Model stores information about the communication infrastructure of a country as reported by the CIA's World Factbook","properties":{"country_id":{"$ref":"#/components/schemas/Country/properties/id"},"fixed_phones_total":{"title":"fixed_phones_total","description":"The `fixed_phones_total` field indicates the approximate number of phones utilizing landlines within a country","type":"string","example":"9.08 million"},"fixed_phones_subs_per_100":{"title":"fixed_phones_subs_per_100","description":"The `fixed_phones_subs_per_100` field describes the approximate number of landline phone subscriptions per 100 people. This gives a sense of the prevalence of landline phone use within a population.","type":"string","example":"40 (July 2015 est.)"},"mobile_phones_total":{"title":"mobile_phones_total","description":"The `mobile_phones_total` field describes the total approximate number of cellphones within a country","type":"string","example":"31.77 million"},"mobile_phones_subs_per_100":{"title":"mobile_phones_subs_per_100","description":"The `mobile_phones_subs_per_100` field describes the total approximate number of cellphone subscriptions within the country per 100 people. This gives a sense of the prevalence of cellphone use within a population.","type":"string","example":"310 (July 2015 est.)"},"phone_system_general_assessment":{"title":"phone_system_general_assessment","description":"The `phone_system_general_assessment` field describes the general state of the telephone system within the country.","type":"string","example":"Sparse system of open-wire, radiotelephone communications, and low-capacity microwave radio relays"},"phone_system_international":{"title":"phone_system_international","description":"The `phone_system_international` field indicates the international phone code and satellite position for a country.","type":"string","externalDocs":{"description":"For a full list of country phone codes please refer to Wikipedia","url":"https://en.wikipedia.org/wiki/List_of_country_calling_codes"},"example":"country code - 257; satellite earth station - 1 Intelsat (Indian Ocean) (2015)"},"phone_system_domestic":{"title":"phone_system_domestic","description":"This field gives a general assessment of the status of the domestic phone system.","type":"string","example":"Fixed-line teledensity of only about 6 per 100 persons; mobile-cellular teledensity approaching 50 per 100 persons"},"broadcast_media":{"title":"broadcast_media","description":"This field indicates the independence and connections between the different companies that operate within the country","type":"string","example":"4 state-controlled national TV channels; Polish and Russian TV broadcasts are available in some areas..."},"internet_country_code":{"title":"internet_country_code","description":"The TLD extension, Top Level Domain, for the country","type":"string","format":"alpha","maxLength":2,"minLength":2,"externalDocs":{"description":"For a full list of top level domains","url":"https://en.wikipedia.org/wiki/List_of_Internet_top-level_domains"},"example":"af"},"internet_total_users":{"title":"internet_total_users","description":"The number of people who have access to the internet.","type":"string","example":"1.259 million"},"internet_population_percent":{"title":"internet_population_percent","description":"The percent of the populace who have access to the internet","type":"number","format":"float","example":"93.0"},"created_at":{"title":"created_at","description":"The created_at timestamp for the Communications Model","type":"string","format":"date-time","example":"2018-02-12 19:35:57"},"updated_at":{"title":"updated_at","description":"The updated_at timestamp for the Communications Model","type":"string","format":"date-time","example":"2018-02-12 19:35:57"}},"type":"object","xml":{"name":"CountryCommunication"}},"CountryEconomy":{"title":"Country Economy","description":"The Country Economy Model stores information about the economic status of a country as reported by the CIA's World Factbook","properties":{"country_id":{"$ref":"#/components/schemas/Country/properties/id"},"overview":{"title":"Overview","description":"A general overview of the countries economic status.","type":"string","example":"Afghanistan's economy is recovering from decades of conflict. The economy has improved significantly since the fall of the Taliban regime in 2001 largely because of the infusion of international assistance, the recovery of the agricultural sector, and service sector growth..."},"gdp_power_parity":{"title":"GDP (purchasing power parity)","description":"The GDP (PPP) of the country","type":"string","externalDocs":{"description":"For a detailed list of countries and their PPP GDP see:","url":"https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(PPP)_per_capita"},"example":"$64.08 billion (2016 est.) ++ $62.82 billion (2015 est.) ++ $62.35 billion (2014 est.)"},"gdp_real_growth":{"title":"GDP real growth rate","description":"The GDP (RGR) of the country","type":"string","externalDocs":{"description":"For a detailed list of countries and their RGR GDP see:","url":"https://en.wikipedia.org/wiki/List_of_countries_by_real_GDP_growth_rate"}},"gdp_per_capita":{"title":"GDP - per capita (PPP)","description":"The GDP (PPP) of the country","type":"string"},"gdp_household_consumption":{"title":"GDP - composition, by end use; household consumption","description":"","type":"string"},"gdp_consumption":{"title":"gdp_consumption","description":"GDP - composition, by end use; government consumption","type":"string"},"gdp_investment_in_fixed_capital":{"title":"gdp_investment_in_fixed_capital","description":"GDP - composition, by end use; investment in fixed capital","type":"string"},"gdp_investment_in_inventories":{"title":"gdp_investment_in_inventories","description":"GDP - composition, by end use; investment in inventories","type":"string"},"gdp_exports":{"title":"gdp_exports","description":"GDP - composition, by end use; exports of goods and services","type":"string"},"gdp_imports":{"title":"gdp_imports","description":"GDP - composition, by end use; imports of goods and services","type":"string"},"gdp_sector_agriculture":{"title":"gdp_sector_agriculture","description":"GDP - composition, by sector of origin; agriculture","type":"string"},"gdp_sector_industry":{"title":"gdp_sector_industry","description":"GDP - composition, by sector of origin; industry","type":"string"},"gdp_sector_services":{"title":"gdp_sector_services","description":"GDP - composition, by sector of origin; services","type":"string"},"agriculture_products":{"title":"agriculture_products","description":"Agriculture - products","type":"string"},"industries":{"title":"industries","description":"Industries","type":"string"},"industrial_growth_rate":{"title":"industrial_growth_rate","description":"Industrial production growth rate","type":"string"},"labor_force":{"title":"labor_force","description":"Labor force","type":"string"},"labor_force_notes":{"title":"labor_force_notes","description":"Labor force; note","type":"string"},"labor_force_services":{"title":"labor_force_services","description":"Labor force - by occupation; services","type":"string"},"labor_force_industry":{"title":"labor_force_industry","description":"Labor force - by occupation; industry","type":"string"},"labor_force_agriculture":{"title":"labor_force_agriculture","description":"Labor force - by occupation; agriculture","type":"string"},"labor_force_occupation_notes":{"title":"labor_force_occupation_notes","description":"Labor force - by occupation; note","type":"string"},"unemployment_rate":{"title":"unemployment_rate","description":"Unemployment rate","type":"string"},"population_below_poverty":{"title":"population_below_poverty","description":"Population below poverty line","type":"string"},"household_income_lowest_10":{"title":"household_income_lowest_10","description":"Household income or consumption by percentage share; lowest 10%","type":"string"},"household_income_highest_10":{"title":"household_income_highest_10","description":"Household income or consumption by percentage share; highest 10%","type":"string"},"budget_revenues":{"title":"budget_revenues","description":"Budget","type":"string"},"taxes_revenues":{"title":"taxes_revenues","description":"Taxes and other revenues","type":"string"},"budget_net":{"title":"budget_net","description":"Budget surplus (+) or deficit (-)","type":"string"},"public_debt":{"title":"public_debt","description":"Public debt","type":"string"},"external_debt":{"title":"external_debt","description":"Debt - external","type":"string"},"fiscal_year":{"title":"fiscal_year","description":"Fiscal year","type":"string"},"inflation_rate":{"title":"inflation_rate","description":"Inflation rate (consumer prices)","type":"string"},"central_bank_discount_rate":{"title":"central_bank_discount_rate","description":"Central bank discount rate","type":"string"},"commercial_bank_prime_lending_rate":{"title":"commercial_bank_prime_lending_rate","description":"Commercial bank prime lending rate","type":"string"},"stock_money_narrow":{"title":"stock_money_narrow","description":"Stock of narrow money","type":"string"},"stock_money_broad":{"title":"stock_money_broad","description":"Stock of broad money","type":"string"},"stock_domestic_credit":{"title":"stock_domestic_credit","description":"Stock of domestic credit","type":"string"},"exports":{"title":"exports","description":"Exports","type":"string"},"exports_commodities":{"title":"exports_commodities","description":"Exports - commodities","type":"string"},"exports_partners":{"title":"exports_partners","description":"Exports - partners","type":"string"},"imports":{"title":"imports","description":"Imports","type":"string"},"imports_commodities":{"title":"imports_commodities","description":"Imports - commodities","type":"string"},"imports_partners":{"title":"imports_partners","description":"Imports - partners","type":"string"},"exchange_rates":{"title":"exchange_rates","description":"Exchange rates","type":"string"}},"type":"object","xml":{"name":"CountryEconomy"}},"CountryEnergy":{"title":"Country Energy","description":"The Country Energy Model stores information about the electric grid of a country as reported by the CIA's World Factbook","properties":{"country_id":{"$ref":"#/components/schemas/Country/properties/id"},"electricity_production":{"title":"Electric Production","description":"The total kilowatt production for the country.","type":"string","example":"103 billion kWh (2014 est.)"},"electricity_consumption":{"title":"electricity_consumption","description":"The total kilowatt consumption for the country.","type":"string","example":"96 billion kWh (2014 est.)"},"electricity_exports":{"title":"electricity_exports","description":"The amount of kilowatts of electricity exported out of the country being described.","type":"string","example":"0 kWh (2013 est.)"},"electricity_imports":{"title":"electricity_imports","description":"The amount of kilowatts of electricity imported into the country being described.","type":"string","example":"700 million kWh (2014 est.)"},"electricity_generating_capacity":{"title":"electricity_generating_capacity","description":"The total generating capacity in KiloWatts of the current electric systems.","type":"string","example":"600,000 kW (2014 est.)"},"electricity_fossil_fuels":{"title":"electricity_fossil_fuels","description":"The total generating percentage of the current electric systems that are fossil fuel based.","type":"string","example":"35.4% of total installed capacity (2012 est.)"},"electricity_nuclear":{"title":"electricity_nuclear","description":"The total generating percentage of the current electric systems that is nuclear.","type":"string","example":"34.3% of total installed capacity (2011 est.)"},"electricity_hydroelectric":{"title":"electricity_hydroelectric","description":"The total generating percentage of the current electric systems that are based on hydroelectric systems.","type":"string","example":"33.5% of total installed capacity (2011 est.)"},"electricity_renewable":{"title":"electricity_renewable","description":"The total generating percentage of the current electric systems that is renewable.","type":"string","example":"0.2% of total installed capacity (2012 est.)"},"crude_oil_production":{"title":"crude_oil_production","description":"The total amount of crude oil generated by a country","type":"string","example":"2.82 million bbl/day (2015 est.)"},"crude_oil_exports":{"title":"crude_oil_exports","description":"The total amount of crude oil exported by a country","type":"string","example":"2.637 million bbl/day (2013 est.)"},"crude_oil_imports":{"title":"crude_oil_imports","description":"The total amount of crude oil imported by a country","type":"string","example":"0 bbl/day (2013 est.)"},"crude_oil_reserves":{"title":"crude_oil_reserves","description":"The total amount of crude oil stored by a country","type":"string","example":"98 billion bbl (1 January 2016 es)"},"petrol_production":{"title":"petrol_production","description":"The total amount of petrol produced by a country","type":"string","example":"503,200 bbl/day (2013 est.)"},"petrol_consumption":{"title":"petrol_consumption","description":"The total amount of petrol consumed by a country","type":"string","example":"744,000 bbl/day (2014 est.)"},"petrol_exports":{"title":"petrol_exports","description":"The total amount of petrol exported by a country","type":"string","example":"744,000 bbl/day (2014 est.)"},"petrol_imports":{"title":"petrol_imports","description":"The total amount of petrol imported by a country","type":"string","example":"74,000 bbl/day (2014 est.)"},"natural_gas_production":{"title":"natural_gas_production","description":"The total amount of natural gas produced by a country","type":"string","example":"54.24 billion cu m (2014 est.)"},"natural_gas_consumption":{"title":"natural_gas_consumption","description":"The total amount of natural gas consumed by a country","type":"string","example":"66.32 billion cu m (2014 est.)"},"natural_gas_exports":{"title":"natural_gas_exports","description":"The total amount of natural gas exported by a country","type":"string","example":"8.066 billion cu m (2014 est.)"},"natural_gas_imports":{"title":"natural_gas_imports","description":"The total amount of natural gas imported by a country","type":"string","example":"3.064 billion cu m (2014 est.)"},"natural_gas_reserves":{"title":"natural_gas_reserves","description":"The total amount of natural gas stored by a country","type":"string","example":"6.091 trillion cu m (1 January 2016 es)"},"co2_output":{"title":"co2_output","description":"The total size of the carbon footprint of a country.","type":"string","example":"245 million Mt (2013 est.)"},"created_at":{"title":"created_at","description":"The created_at timestamp for the Communications Energy Model","type":"string","format":"date-time","example":"2018-02-12 19:35:57"},"updated_at":{"title":"updated_at","description":"The updated_at timestamp for the Communications Energy Model","type":"string","format":"date-time","example":"2018-02-12 19:35:57"}},"type":"object","xml":{"name":"CountryEnergy"}},"CountryEthnicity":{"title":"Country Ethnicity","description":"","properties":{"country_id":{"$ref":"#/components/schemas/Country/properties/id"},"name":{"title":"name","description":"The name of the people group within the country","type":"string"},"population_percentage":{"title":"population_percentage","description":"The percentage of the people group compared to the total population of the country","type":"number","format":"float","example":"19.10"},"date":{"title":"date","description":"The date the data was archived","type":"integer","nullable":true}},"type":"object","xml":{"name":"CountryEthnicity"}},"CountryGeography":{"title":"CountryGeography","description":"CountryGeography","properties":{"country_id":{"$ref":"#/components/schemas/Country/properties/id"},"location_description":{"title":"Location Description","description":"A description of where the country is located on a geo-political map of the world.","type":"string"},"latitude":{"title":"latitude","description":"A point of latitude that falls within the borders of the country being described","type":"number","example":"17.0608160"},"longitude":{"title":"longitude","description":"A point of longitude that falls within the borders of the country being described","type":"number","example":"-61.7964280"},"mapReferences":{"title":"Map References","description":"The name of the general continent or region where the country is located.","type":"string"},"area_sqkm_total":{"title":"Total Area in square kilometers","description":"area_sqkm_total","type":"integer"},"area_sqkm_land":{"title":"area_sqkm_land","description":"area_sqkm_land","type":"integer"},"area_sqkm_water":{"title":"area_sqkm_water","description":"area_sqkm_water","type":"integer"},"area_km_coastline":{"title":"The country's coastline length","description":"The length of the country's coastline in Kilometers","type":"integer"},"area_note":{"title":"area_note","description":"area_note","type":"string"},"climate":{"title":"climate","description":"climate","type":"string"},"terrain":{"title":"terrain","description":"terrain","type":"string"},"hazards":{"title":"hazards","description":"hazards","type":"string"},"notes":{"title":"notes","description":"notes","type":"string"}},"type":"object","xml":{"name":"CountryGeography"}},"CountryGovernment":{"title":"CountryGovernment","description":"CountryGovernment","properties":{"country_id":{"$ref":"#/components/schemas/Country/properties/id"},"name":{"title":"name","description":"","type":"string"},"name_etymology":{"title":"name_etymology","description":"","type":"string"},"conventional_long_form":{"title":"conventional_long_form","description":"","type":"string"},"conventional_short_form":{"title":"conventional_short_form","description":"","type":"string"},"dependency_status":{"title":"dependency_status","description":"","type":"string"},"government_type":{"title":"government_type","description":"","type":"string"},"capital":{"title":"capital","description":"","type":"string"},"capital_coordinates":{"title":"capital_coordinates","description":"","type":"string"},"capital_time_zone":{"title":"capital_time_zone","description":"","type":"string"},"administrative_divisions":{"title":"administrative_divisions","description":"","type":"string"},"administrative_divisions_note":{"title":"administrative_divisions_note","description":"","type":"string"},"independence":{"title":"independence","description":"","type":"string"},"national_holiday":{"title":"national_holiday","description":"","type":"string"},"constitution":{"title":"constitution","description":"","type":"string"},"legal_system":{"title":"legal_system","description":"","type":"string"},"citizenship":{"title":"citizenship","description":"","type":"string"},"suffrage":{"title":"suffrage","description":"","type":"string"},"executive_chief_of_state":{"title":"executive_chief_of_state","description":"","type":"string"},"executive_head_of_government":{"title":"executive_head_of_government","description":"","type":"string"},"executive_cabinet":{"title":"executive_cabinet","description":"","type":"string"},"executive_elections":{"title":"executive_elections","description":"","type":"string"},"executive_election_results":{"title":"executive_election_results","description":"","type":"string"},"legislative_description":{"title":"legislative_description","description":"","type":"string"},"legislative_elections":{"title":"legislative_elections","description":"","type":"string"},"legislative_election_results":{"title":"legislative_election_results","description":"","type":"string"},"legislative_highest_courts":{"title":"legislative_highest_courts","description":"","type":"string"},"legislative_judge_selection":{"title":"legislative_judge_selection","description":"","type":"string"},"legislative_subordinate_courts":{"title":"legislative_subordinate_courts","description":"","type":"string"},"political_parties":{"title":"political_parties","description":"","type":"string"},"political_pressure":{"title":"political_pressure","description":"","type":"string"},"international_organization_participation":{"title":"international_organization_participation","description":"","type":"string"},"diplomatic_representation_in_usa":{"title":"diplomatic_representation_in_usa","description":"","type":"string"},"diplomatic_representation_from_usa":{"title":"diplomatic_representation_from_usa","description":"","type":"string"},"flag_description":{"title":"flag_description","description":"","type":"string"},"national_symbols":{"title":"national_symbols","description":"","type":"string"},"national_anthem":{"title":"national_anthem","description":"","type":"string"},"created_at":{"title":"created_at","description":"","type":"string"},"updated_at":{"title":"updated_at","description":"","type":"string"}},"type":"object","xml":{"name":"CountryGovernment"}},"CountryIssues":{"title":"CountryIssues","description":"CountryIssues","properties":{"country_id":{"$ref":"#/components/schemas/Country/properties/id"},"international_disputes":{"title":"international_disputes","description":"","type":"string"},"illicit_drugs":{"title":"illicit_drugs","description":"","type":"string"},"refugees":{"title":"refugees","description":"","type":"string"},"created_at":{"title":"created_at","description":"","type":"string"},"updated_at":{"title":"updated_at","description":"","type":"string"}},"type":"object","xml":{"name":"CountryIssues"}},"CountryPeople":{"title":"CountryPeople","description":"CountryPeople","properties":{"country_id":{"$ref":"#/components/schemas/Country/properties/id"},"languages":{"title":"languages","description":"languages","type":"string"},"religions":{"title":"religions","description":"religions","type":"string"},"population":{"title":"population","description":"population","type":"string"},"population_date":{"title":"population_date","description":"population_date","type":"string"},"nationality_noun":{"title":"nationality_noun","description":"nationality_noun","type":"string"},"nationality_adjective":{"title":"nationality_adjective","description":"nationality_adjective","type":"string"},"age_structure_14":{"title":"age_structure_14","description":"age_structure_14","type":"string"},"age_structure_24":{"title":"age_structure_24","description":"age_structure_24","type":"string"},"age_structure_54":{"title":"age_structure_54","description":"age_structure_54","type":"string"},"age_structure_64":{"title":"age_structure_64","description":"age_structure_64","type":"string"},"age_structure_65":{"title":"age_structure_65","description":"age_structure_65","type":"string"},"dependency_total":{"title":"dependency_total","description":"dependency_total","type":"string"},"dependency_youth":{"title":"dependency_youth","description":"dependency_youth","type":"string"},"dependency_elder":{"title":"dependency_elder","description":"dependency_elder","type":"string"},"dependency_potential":{"title":"dependency_potential","description":"dependency_potential","type":"string"},"median_age_total":{"title":"median_age_total","description":"median_age_total","type":"string"},"median_age_male":{"title":"median_age_male","description":"median_age_male","type":"string"},"median_age_female":{"title":"median_age_female","description":"median_age_female","type":"string"},"population_growth_rate_percentage":{"title":"population_growth_rate_percentage","description":"population_growth_rate_percentage","type":"string"},"birth_rate_per_1k":{"title":"birth_rate_per_1k","description":"birth_rate_per_1k","type":"string"},"death_rate_per_1k":{"title":"death_rate_per_1k","description":"death_rate_per_1k","type":"string"},"net_migration_per_1k":{"title":"net_migration_per_1k","description":"net_migration_per_1k","type":"string"},"population_distribution":{"title":"population_distribution","description":"population_distribution","type":"string"},"urban_population_percentage":{"title":"urban_population_percentage","description":"urban_population_percentage","type":"string"},"urbanization_rate":{"title":"urbanization_rate","description":"urbanization_rate","type":"string"},"major_urban_areas_population":{"title":"major_urban_areas_population","description":"major_urban_areas_population","type":"string"},"sex_ratio_birth":{"title":"sex_ratio_birth","description":"sex_ratio_birth","type":"string"},"sex_ratio_14":{"title":"sex_ratio_14","description":"sex_ratio_14","type":"string"},"sex_ratio_24":{"title":"sex_ratio_24","description":"sex_ratio_24","type":"string"},"sex_ratio_54":{"title":"sex_ratio_54","description":"sex_ratio_54","type":"string"},"sex_ratio_64":{"title":"sex_ratio_64","description":"sex_ratio_64","type":"string"},"sex_ratio_65":{"title":"sex_ratio_65","description":"sex_ratio_65","type":"string"},"sex_ratio_total":{"title":"sex_ratio_total","description":"sex_ratio_total","type":"string"},"mother_age_first_birth":{"title":"mother_age_first_birth","description":"mother_age_first_birth","type":"string"},"maternal_mortality_rate":{"title":"maternal_mortality_rate","description":"maternal_mortality_rate","type":"string"},"infant_mortality_per_1k_total":{"title":"infant_mortality_per_1k_total","description":"infant_mortality_per_1k_total","type":"string"},"infant_mortality_per_1k_male":{"title":"infant_mortality_per_1k_male","description":"infant_mortality_per_1k_male","type":"string"},"infant_mortality_per_1k_female":{"title":"infant_mortality_per_1k_female","description":"infant_mortality_per_1k_female","type":"string"},"life_expectancy_at_birth_total":{"title":"life_expectancy_at_birth_total","description":"life_expectancy_at_birth_total","type":"string"},"life_expectancy_at_birth_male":{"title":"life_expectancy_at_birth_male","description":"life_expectancy_at_birth_male","type":"string"},"life_expectancy_at_birth_female":{"title":"life_expectancy_at_birth_female","description":"life_expectancy_at_birth_female","type":"string"},"total_fertility_rate":{"title":"total_fertility_rate","description":"total_fertility_rate","type":"string"},"contraceptive_prevalence":{"title":"contraceptive_prevalence","description":"contraceptive_prevalence","type":"string"},"health_expenditures":{"title":"health_expenditures","description":"health_expenditures","type":"string"},"physicians":{"title":"physicians","description":"physicians","type":"string"},"hospital_beds":{"title":"hospital_beds","description":"hospital_beds","type":"string"},"drinking_water_source_urban_improved":{"title":"drinking_water_source_urban_improved","description":"drinking_water_source_urban_improved","type":"string"},"drinking_water_source_rural_improved":{"title":"drinking_water_source_rural_improved","description":"drinking_water_source_rural_improved","type":"string"},"sanitation_facility_access_urban_improved":{"title":"sanitation_facility_access_urban_improved","description":"sanitation_facility_access_urban_improved","type":"string"},"sanitation_facility_access_rural_improved":{"title":"sanitation_facility_access_rural_improved","description":"","type":"string"},"hiv_infection_rate":{"title":"hiv_infection_rate","description":"hiv_infection_rate","type":"string"},"hiv_infected":{"title":"hiv_infected","description":"hiv_infected","type":"string"},"hiv_deaths":{"title":"hiv_deaths","description":"hiv_deaths","type":"string"},"obesity_rate":{"title":"obesity_rate","description":"obesity_rate","type":"string"},"underweight_children":{"title":"underweight_children","description":"underweight_children","type":"string"},"education_expenditures":{"title":"education_expenditures","description":"education_expenditures","type":"string"},"literacy_definition":{"title":"literacy_definition","description":"literacy_definition","type":"string"},"literacy_total":{"title":"literacy_total","description":"literacy_total","type":"string"},"literacy_male":{"title":"literacy_male","description":"literacy_male","type":"string"},"literacy_female":{"title":"literacy_female","description":"literacy_female","type":"string"},"school_years_total":{"title":"school_years_total","description":"school_years_total","type":"string"},"school_years_male":{"title":"school_years_male","description":"school_years_male","type":"string"},"school_years_female":{"title":"school_years_female","description":"school_years_female","type":"string"},"child_labor":{"title":"child_labor","description":"child_labor","type":"string"},"child_labor_percentage":{"title":"child_labor_percentage","description":"child_labor_percentage","type":"string"},"unemployment_youth_total":{"title":"unemployment_youth_total","description":"unemployment_youth_total","type":"string"},"unemployment_youth_male":{"title":"unemployment_youth_male","description":"unemployment_youth_male","type":"string"},"unemployment_youth_female":{"title":"unemployment_youth_female","description":"unemployment_youth_female","type":"string"}},"type":"object","xml":{"name":"CountryPeople"}},"CountryReligion":{"title":"CountryReligion","description":"CountryReligion","properties":{"country_id":{"$ref":"#/components/schemas/Country/properties/id"},"name":{"title":"name","description":"The name of the religion that makes up part of the countries populace","type":"string"},"population_percentage":{"title":"population_percentage","description":"The percentage of the countries populace that adhere to the religion being described","type":"string"},"date":{"title":"date","description":"The date that this data was recorded","type":"string"}},"type":"object","xml":{"name":"CountryReligion"}},"CountryTransportation":{"title":"CountryTransportation","description":"CountryTransportation","properties":{"country_id":{"$ref":"#/components/schemas/Country/properties/id"},"air_carriers":{"title":"air_carriers","description":"National air transport system; number of registered air carriers","type":"string"},"aircraft":{"title":"aircraft","description":"National air transport system; inventory of registered aircraft operated by air carriers","type":"string"},"aircraft_passengers":{"title":"aircraft_passengers","description":"annual passenger traffic on registered air carriers","type":"string"},"aircraft_freight":{"title":"aircraft_freight","description":"annual freight traffic on registered air carriers","type":"string"},"aircraft_code_prefix":{"title":"aircraft_code_prefix","description":"Civil aircraft registration country code prefix","type":"string"},"airports":{"title":"airports","description":"Airports","type":"string"},"airports_paved":{"title":"airports_paved","description":"Airports - with paved runways; total","type":"string"},"airports_info_date":{"title":"airports_info_date","description":"Airports; sub_field","type":"string"},"major_seaports":{"title":"major_seaports","description":"Ports and terminals","type":"string"},"oil_terminals":{"title":"oil_terminals","description":"oil terminal(s)","type":"string"},"cruise_ports":{"title":"cruise_ports","description":"cruise port(s)","type":"string"}},"type":"object","xml":{"name":"CountryTransportation"}},"Alphabet":{"title":"Alphabet","description":"Alphabet","properties":{"script":{"title":"Alphabet Script","description":"The Script ID for the alphabet aligning with the iso 15924 standard","type":"string","maxLength":4,"minLength":4,"externalDocs":{"description":"For more info please refer to the Unicode Consortium","url":"https://http://www.unicode.org/iso15924/"},"example":"Cans"},"name":{"title":"Alphabet Name","description":"The name of the alphabet in English","type":"string","maxLength":191,"example":"Unified Canadian Aboriginal"},"unicode_pdf":{"title":"Unicode PDF","description":"A url to a reference PDF for the alphabet","type":"string","maxLength":191,"example":"https://unicode.org/charts/PDF/U1400.pdf","nullable":true},"family":{"title":"Family","description":"The linguistic family the alphabet can be categorized within","type":"string","example":"American"},"type":{"title":"Type","description":"The type of alphabet be described","type":"string","example":"abugida"},"white_space":{"title":"White Space","description":"The usage white space within the alphabet","type":"string","example":"between words"},"open_type_tag":{"title":"Open Type Tag","description":"The open type tag of the alphabet","type":"string","example":"cans"},"complex_positioning":{"title":"Open Type Tag","description":"The open type tag of the alphabet","type":"string","example":"no"},"requires_font":{"title":"Requires Font","description":"If the Alphabet generally requires the use of a font to display correctly online","type":"boolean","example":false},"unicode":{"title":"Unicode","description":"If the Alphabet is fully supported by the unicode spec","type":"boolean","example":true},"diacritics":{"title":"Diacritics","description":"If the Alphabet contains diacritics","type":"boolean","example":true},"contextual_forms":{"title":"Contextual Forms","description":"If the Alphabet contains contextual forms","type":"boolean","example":false},"reordering":{"title":"Reordering","description":"If the Alphabet contains reordering","type":"boolean","example":false,"nullable":true},"case":{"title":"Case","description":"If the Alphabet utilizes different cases","type":"boolean","example":false,"nullable":true},"split_graphs":{"title":"Split Graphs","description":"If the Alphabet contains letters that are written using two separate distinct elements.","type":"boolean","externalDocs":{"description":"For more info please refer to the Script Source Feature Definitions","url":"http://scriptsource.org/cms/scripts/page.php?item_id=entry
[...]
