.alert{
  margin: 0 auto 10px;
  padding: 14px 20px;
  border: 1px solid #ddd;
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #777;
  border-radius: 0;
  position: relative;

  .close {
    position: absolute;
    top:10px;
    right:10px;
    font-size: 1rem;
    font-weight: bold;
    color: rgba(0,0,0,.3);
  }

  &.close,
  &.success{
    border-color: #a9e2c2;
    color: #36a367;
  }
  &.close,
  &.info{
    border-color: #9ecdfc;
    color: #297ad3;
  }
  &.close,
  &.notice{
    border-color: #f9ce75;
    color: #e9a00a;
  }
  &.close,
  &.error{
    border-color: #ffbbbb;
    color: #e33131;
  }

}