@media print {
  .stats,
  #bible-library,
  #purchase,
  .product,
  form,
  .widget,
  iframe,
  [itemtype="http://schema.org/BreadcrumbList"],
  nav[role="tablist"],
  nav[role="navigation"],
  footer,
  .cart,
  img {
    display: none;
  }

  body {
    color:#000;
    background: #FFF;
    font-size:14px;
    font-family: Georgia, ‘Times New Roman’, serif;
    filter: Gray();
    filter: url('#grayscale');
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  a:link { text-decoration: underline; color: #48B; }
  a:link:after { content: " (" attr(href) ") "; }

  h1,h2 {
    text-align: center;
  }
  h1 + h2 {
    color:#777;
    font-size: small;
  }

  [role="banner"] {
    border-bottom: thin solid black;
  }
  section[role="tabpanel"] {
    margin-bottom:2rem;
    padding-bottom:1rem;
    page-break-inside: avoid;
  }
}